body { background-color: #f1eee9; background-image: url(../images/activity/popup_noise.png); }

.main-activity1 .pt-link { display: inline-block; width: 130px; font-size: 16px; font-weight: bold; color: #745a48; text-decoration: none; padding-bottom: 10px; border-bottom: 10px solid #745a48; position: relative; transition: all 0.4s; }
.main-activity1 .pt-link:before { content: ""; display: inline-block; width: 25px; height: 2px; background-color: #745a48; position: absolute; top: 8px; right: 27px; transition: all 0.4s; }
.main-activity1 .pt-link:after { content: ""; display: inline-block; position: absolute; right: 18px; top: 2px; width: 0; height: 0; border-style: solid; border-width: 7px 0 7px 9px; border-color: transparent transparent transparent #745a48; transition: all 0.4s; }
.main-activity1 .pt-link span { padding-left: 6px; }
.main-activity1 .pt-link:hover { color: #e12b91; border-bottom: 10px solid #e12b91; transition: all 0.4s; }
.main-activity1 .pt-link:hover:before { background-color: #e12b91; transition: all 0.4s; }
.main-activity1 .pt-link:hover:after { border-color: transparent transparent transparent #e12b91; transition: all 0.4s; }

.th-condition { margin-bottom: 450px; background-image: url(../images/activity/back.jpg); }
.th-condition .md-condition { position: relative; max-width: 1720px; width: 100%; margin: 50px auto 50px; }
.th-condition .md-condition .pt-border { position: absolute; top: 0; height: 0; width: 100%; height: 100%; z-index: 5; }
.th-condition .md-condition .pt-border:before, .th-condition .md-condition .pt-border:after { content: ""; display: block; width: calc(100% + 20px); height: 10px; position: absolute; left: -10px; background-image: url(../images/activity/headinnernoise.png); }
.th-condition .md-condition .pt-border:before { top: -10px; }
.th-condition .md-condition .pt-border:after { bottom: -10px; }
.th-condition .md-condition .pt-border span { position: absolute; top: 0; height: 0; width: 100%; height: 100%; }
.th-condition .md-condition .pt-border span:before, .th-condition .md-condition .pt-border span:after { content: ""; display: block; height: calc(100% + 20px); width: 10px; position: absolute; top: -10px; background-image: url(../images/activity/headinnernoise.png); }
.th-condition .md-condition .pt-border span:before { left: -10px; }
.th-condition .md-condition .pt-border span:after { right: -10px; }
.th-condition .md-condition .mdCont { position: relative; z-index: 10; padding: 100px 0 90px 140px; box-sizing: border-box; z-index: 25; }
.th-condition .md-condition .mdCont h3 { font-size: 36px; color: #020202; margin-bottom: 35px; }
.th-condition .md-condition .mdCont header { color: #020202; font-size: 80px; font-family: PMingLiU; max-width: 355px; border-bottom: 1px dashed #d0bbab; padding-bottom: 20px; }
.th-condition .md-condition .mdCont header h2 { font-size: 80px; }
.th-condition .md-condition .mdCont header p { font-size: 60px; margin: 10px 0 2px; }
.th-condition .md-condition .mdCont header span { display: block; color: #928e77; font-size: 24px; }
.th-condition .md-condition .mdCont .condition h5 { font-size: 24px; font-weight: bold; color: #e12b91; margin: 15px 0 25px; }
.th-condition .md-condition .mdCont .condition ul { position: relative; padding-left: 100px; box-sizing: border-box; color: #785e4b; font-size: 24px; }
.th-condition .md-condition .mdCont .condition ul:before { content: attr(data-title); position: absolute; top: 0; left: 0; }
.th-condition .md-condition .mdCont .condition ul li { color: #785e4b; margin-bottom: 25px; }
.th-condition .md-condition > img { position: absolute; }
.th-condition .md-condition .img1 { height: 170%; right: -9px; top: -84px; z-index: 20; }
.th-condition .md-condition .img2 { height: 100%; top: 0; right: 0; z-index: 15; opacity: 1; transition: all 1s; }
.th-condition .md-condition .pt-cloud { z-index: 22; bottom: -162px; right: 240px; max-width: 1050px; }

.th-activityInfo { position: relative; max-width: 1720px; padding-top: 60px; margin: 0 auto; }
.th-activityInfo .pt-img { width: 100%; height: 100%; position: absolute; top: 12%; left: 0; z-index: 2; background-image: url(../images/activity/block2.png); background-repeat: no-repeat; background-size: 55%; background-position-y: 33%; }
.th-activityInfo .pt-img img { display: none; }
.th-activityInfo .md-text { width: 100%; padding: 150px 0 100px; position: relative; z-index: 5; }
.th-activityInfo .md-text:after { content: ""; display: block; clear: both; }
.th-activityInfo .md-text .cont { width: 50%; float: right; }
.th-activityInfo .md-text header { color: #795f4c; margin-bottom: 35px; }
.th-activityInfo .md-text header span { display: block; font-size: 13px; }
.th-activityInfo .md-text header p { font-size: 24px; margin: 6px 0 15px; }
.th-activityInfo .md-text header:after { content: ""; display: inline-block; width: 130px; height: 20px; background-color: #dbc7b6; }
.th-activityInfo .md-text h2 { color: #020202; font-size: 160px; margin-bottom: 40px; }
.th-activityInfo .md-text .pt-text { width: 60%; font-size: 14px; line-height: 36px; color: #000000; margin-bottom: 50px; }

.th-activityRules { max-width: 1300px; width: 100%; margin: 5% auto 0; border: 10px solid #dbc6b6; padding: 20px 35px; box-sizing: border-box; }
.th-activityRules h5 { font-size: 14px; font-weight: bold; color: #473324; }
.th-activityRules ul { list-style: decimal; margin: 35px 0 0 14px; }
.th-activityRules ul li { font-size: 13px; color: #473324; margin-bottom: 15px; line-height: 20px; }

.th-actSum { width: 60px; height: 300px; background-color: #231b18; border-radius: 30px; position: fixed; left: 20px; top: 200px; z-index: 30; }
.th-actSum ul { position: absolute; top: 25px; left: 0; width: 100%; height: 250px; }
.th-actSum ul li { text-align: center; height: 50px; padding-top: 18px; box-sizing: border-box; }
.th-actSum ul li i { color: #fff; font-size: 25px; }
.th-actSum ul li.lv2 { margin-top: 40px; }
.th-actSum ul li.got i { color: #c63639; }
.th-actSum .pt-money { position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; width: 100%; height: 30px; font-size: 13px; font-weight: bold; color: #fff; text-align: center; }
.th-actSum .pt-money:before { content: attr(data-title); display: block; }
.th-actSum .pt-money span { display: block; }

@media (max-width: 1420px) { .th-condition .md-condition .img2 { opacity: 0; transition: all 0.4s; position: absolute; }
  .th-activityInfo { padding-top: 0; }
  .th-activityInfo .pt-img { background-size: 60%; background-position-y: 60%; }
  .th-activityInfo .md-text h2 { font-size: 130px; }
  .th-activityInfo .md-text .pt-text { width: 80%; } }
@media (max-width: 1200px) { .th-condition { margin-bottom: 50px; }
  .th-condition .md-condition .img1 { height: 115%; top: -60px; right: -90px; }
  .th-condition .md-condition .pt-cloud { bottom: 100px; right: 55px; max-width: 760px; }
  .th-activityInfo .md-text h2 { font-size: 90px; }
  .th-activityInfo .md-text .pt-text { line-height: 30px; } }
@media (max-width: 980px) { .main-activity1 .pt-link { transition: all 0s; }
  .main-activity1 .pt-link:before, .main-activity1 .pt-link:after { transition: all 0s; }
  .main-activity1 .pt-link:hover { transition: all 0s; }
  .main-activity1 .pt-link:hover:before, .main-activity1 .pt-link:hover:after { transition: all 0s; }
  .th-condition .md-condition .mdCont { padding: 8% 0 8% 10%; }
  .th-condition .md-condition .pt-cloud { right: 0px; bottom: 70px; }
  .th-activityInfo .md-text { background-image: none; padding: 200px 0 175px; }
  .th-activityInfo .md-text header { margin-bottom: 30px; }
  .th-activityInfo .md-text h2 { margin-bottom: 25px; }
  .th-activityInfo .md-text .cont { width: 90%; margin: 0 auto; float: none; }
  .th-activityInfo .md-text .pt-text { width: 100%; }
  .th-activityInfo .pt-img { position: absolute; top: 15%; background-image: none; }
  .th-activityInfo .pt-img img { display: block; width: 90%; margin: 0 auto; }
  .th-actSum { width: 54px; height: 250px; left: auto; top: auto; right: 10px; bottom: 10px; }
  .th-actSum ul { height: 200px; }
  .th-actSum ul li { height: 40px; padding-top: 9px; }
  .th-actSum .pt-money { font-size: 12px; } }
@media (max-width: 760px) { .th-condition .md-condition .img1 { height: 102%; top: -20px; right: -115px; }
  .th-condition .md-condition .pt-cloud { right: 0; max-width: 600px; }
  .th-activityInfo .md-text { padding: 0; }
  .th-activityInfo .md-text h2 { font-size: 80px; }
  .th-activityInfo .pt-img { position: relative; margin-top: -200px; }
  .th-activityInfo .pt-img img { width: 100%; } }
@media (max-width: 640px) { .th-condition .md-condition .mdCont { padding: 10% 8%; }
  .th-condition .md-condition .mdCont header span { font-size: 22px; }
  .th-condition .md-condition .mdCont .condition ul { font-size: 20px; }
  .th-condition .md-condition .pt-cloud { max-width: 500px; right: 0; bottom: 86px; }
  .th-activityInfo .md-text h2 { font-size: 60px; }
  .th-activityInfo .pt-img { margin-top: -180px; } }
@media (max-width: 460px) { .th-condition .md-condition { width: 90%; }
  .th-condition .md-condition .mdCont header h2 { font-size: 70px; }
  .th-condition .md-condition .mdCont header p { font-size: 50px; }
  .th-condition .md-condition .mdCont .condition h5 { font-size: 20px; }
  .th-condition .md-condition .mdCont .condition ul { font-size: 15px; padding-left: 68px; }
  .th-condition .md-condition .img1 { height: 90%; top: 0; }
  .th-condition .md-condition .pt-cloud { max-width: 340px; bottom: 125px; }
  .th-activityInfo .pt-img { margin-top: -160px; } }
@media (max-width: 330px) { .th-activityRules { padding: 20px 55px 20px 25px; }
  .th-activityRules ul li { font-size: 12px; } }

/*# sourceMappingURL=activity.css.map */
