.main-babypointInfo{
  margin-bottom: 260px;
}

.th-babypointInfo{
  .md-animateText{
    position: relative;
    margin-top:50px;
    ul{
      width: 100%;
      position: absolute;
      left:0;
      z-index: 5;
      padding-top: 200px;
      margin-top: -45px;
      overflow: hidden;
      li{
        width: 100%;
        text-align: center;
        position: absolute;
        img{
          display: inline-block;
          width: 440px;
        }
      }
      .say{
        @include transform(translate3d(0,0,0));
      }
      .s1{
        &.show{
          @include transform(translate3d(0, -200px, 0));
          @include transition(all,0.65s);
        }
      }
      .s2{
        &.show{
          @include transform(translate3d(0, -130px, 0));
          @include transition(all,0.6s);
        }
      }
      .s3{
        &.show{
          @include transform(translate3d(0, -60px, 0));
          @include transition(all,0.55s);
        }
      }      
    }
    figure{
      position: relative;
      z-index: 0;
      img{
        width: 65%;
        margin:0 auto;
      }
    }
  }
  .md-infoText{
    width: 100%;
    max-width: 1408px;
    margin:15px auto 95px;
    @extend %clear;
    >div{
      width: calc(33.3% - 150px);
      float: left;
      margin:0 75px;
      opacity: 0;
		  @include transform(translate3d(0,100%,0));
      h5{
        font-size: 28px;
        font-weight: bold;
        color:#000;
        margin-bottom: 25px;
        line-height: 36px;
        p{
          word-wrap: break-word; 
          word-break: normal;
        }
      }
      span{
        display: block;
        font-size: 14px;
        color:#575757;
        line-height: 26px;
      }
    }
    &.blockShow{
      >div{
        opacity: 1;
        @include transform(translate3d(0,0,0));        
      }
      .pt-what{
        @include animation(blockTop 2s);
      }
      .pt-dofor{
        @include animation(blockTop 3s);
      }
      .pt-howget{
        @include animation(blockTop 3.5s);
      }
    }
  }
  .md-img{
    width: 100%;
    max-width: 1500px;
    margin:0 auto 70px;
    // position: relative;
    // padding-bottom: 33%;
    // height: 0;
    // overflow: hidden;
    .pt-video{
      position: relative;
      padding-bottom: 33%;
      height: 0;
      overflow: hidden;
    }
    figure{
      width: 100%;
      position: relative;
      img{
        width: 100%;
      }
      #babyCoin{
        position: absolute;
        right:0;
        width: 505px;
        height: 505px;
        // @include animation(flipCoin 0.5s infinite);
        // -webkit-transform-style: preserve-3d;
        background-image: url(../images/coin.png);
        background-repeat: no-repeat;
        span{
          position: absolute;
          top:0;
          left:0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
        // .sideA{
        //   background-color: red;
        // }
        // .sideB{
        //   background-color: gray;
        //   @include transform(rotate3d(0,1,0,-180deg));
        // }
      }
    }
    video{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .md-steps{
    width: 100%;
    max-width: 1272px;
    margin: 68px auto 0;
    @extend %clear;
    >div{
      width: calc(33.3% - 24px);
      margin: 0 12px;
      float: left;
      figure{
        margin-bottom:40px;
        width: 100%;
        img{
          width: 100%;
        }
      }
      h6{
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 20px;
        color:#000;
      }
      span{
        font-size: 14px;
        color:#575757;
      }
    }
  }
}


@include breakpoint(max-width 1200px) {
  .main-content{
    margin-bottom: 10%;
  }
  .th-babypointInfo{
    .md-animateText{
      ul{
        li{
          img{
            width: 410px;
          }
        }
      }
      figure{
        img{
          width: 85%;
        }
      }
    }  
    .md-infoText{
      margin-bottom:5%;
      > div{
        width: 100%;
        margin: 0;
        padding: 0 50px 50px;
        box-sizing: border-box;
        h5{
          margin-bottom: 15px;
        }
      }
    }
  }  
}

@include breakpoint(max-width 980px) {
  .th-babypointInfo{
    .md-animateText{
      ul{
        li{
          img{
            width: 340px;
          }
        }
        .s1{
          &.show{
            @include transform(translate3d(0, -160px, 0));
          }
        }
        .s2{
          &.show{
            @include transform(translate3d(0, -100px, 0));
          }
        }
        .s3{
          &.show{
            @include transform(translate3d(0, -45px, 0));
          }
        } 
      }
      figure{
        img{
          width: 88%;
        }
      }
    }
    .md-infoText{
      >div{
        padding: 0 30px 50px;
        h5{
          font-size: 26px;
        }
      }
    }
  }   
}

@include breakpoint(max-width 760px) {
  .th-babypointInfo{
    .md-animateText{
      ul{
        li{
          img{
            width: 290px;
          }
        }
        .s1{
          &.show{
            @include transform(translate3d(0, -180px, 0));
          }
        }
        .s2{
          &.show{
            @include transform(translate3d(0, -130px, 0));
          }
        }
        .s3{
          &.show{
            @include transform(translate3d(0, -80px, 0));
          }
        } 
      }
      figure{
        img{
          width: 90%;
        }
      }
    } 
    .md-infoText{
      margin-bottom: 20px;
      >div{
        h5{
          font-size: 24px;
        }
      }
    }
    .md-steps{
      > div{
        width: calc(50% - 24px);
        margin: 0 12px 40px;
      }
    }
  }  
}

@include breakpoint(max-width 640px) {
  .th-babypointInfo{
    .md-animateText{
      ul{
        li{
          img{
            width: 267px;
          }
        }
        .s1{
          &.show{
            @include transform(translate3d(0, -150px, 0));
          }
        }
        .s2{
          &.show{
            @include transform(translate3d(0, -110px, 0));
          }
        }
        .s3{
          &.show{
            @include transform(translate3d(0, -70px, 0));
          }
        } 
      }
      figure{
        img{
          width: 90%;
        }
      }
    } 
    .md-infoText{
      >div{
        h5{
          font-size: 22px;
        }
      }
    }
    .md-steps{
      width: 90%;
      > div{
        width: calc(100% - 24px);
        margin-bottom: 50px;
        figure{
          margin-bottom: 20px;
        }
      }
    }
  }
}

@include breakpoint(max-width 460px) {
  .th-babypointInfo{
    .md-animateText{
      ul{
        li{
          img{
            width: 240px;
          }
        }
      }
      figure{
        img{
          width: 90%;
        }
      }
    } 
    .md-info{
      >div{
        h5{
          font-size: 18px;
          line-height: 30px;
        }
      }
    }
  }  
}