html{
  height: calc(100vh + 1px);
  font-family:"Microsoft JhengHei", sans-serif, "serif";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  &.blackMask{
    overflow-y: hidden;
  }
}

html, body {
  width: 100%;
  min-width: $mainWidth;
}
body{
  background-color: #f8f8f8;
  overflow-x: hidden;
}
input{
  font-family:"Microsoft JhengHei", sans-serif, "serif";
}
select{
  font-family:"Microsoft JhengHei", sans-serif, "serif";
  display: inline-block;
  vertical-align: middle;
  width: 150px;
  height: 40px;
  position: relative;
  padding: 4px 0 4px 20px;
  margin-top: 10px; 
}


//===== PC版 =====

::selection {
  background: #ecedfe;
  // color:$lightColor;
}
::-moz-selection {
  background: #ecedfe;
  // color:$lightColor;
}



::-webkit-input-placeholder {
  color: #cccccc;
}
::-moz-placeholder {
  color: #cccccc;
}
:-ms-input-placeholder {
  color: #cccccc;
}

.common-limit1060{
  @include container();
  max-width: $commonWidth;
}

.commonHide{
  display: none;
}


.th-blackMask{
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left:0;
  z-index: -1;
  opacity: 0;
  background-color: #000;
  @include transition(all,0.5s);
}

main{
  &.switchHideBlock{
    .th-buyNow{
      top:0;
      z-index: 160;
      opacity: 1;
      @include transition(all,0.6s);
    }
    .th-blackMask{
      opacity: 0.5;
      z-index: 150;
      @include transition(all,0.6s);
    }    
  }
}

.th-loading{
  @include span(24); 
  .md-loadimg{
    margin:50px auto;
  }
  .md-finished{
    display:none;
    text-align: center;
    &.show{
      display: block;
    }
  }

}

#flake{
  color:#fff;
  img{
    width: 20%;
  }
}

#wf-finished{
  margin: 50px auto;
  width: 100px;
  height: 100px;
  @include background-image(linear-gradient(90deg, rgba(198,54,31,1), rgba(255,82,195,1))); 
  @include border-radius(50%);
  position: relative;
  text-align: center;
  text-decoration: none;
  cursor: default;
  @extend %vertical-outer;
  &:after{
    content: "";
    display: block;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 0;
    @include border-radius(50%);
    background-color: #f8f8f8;
  }
  span{
    @extend %vertical-inner;
    position: relative;
    z-index: 5;
    color:#c7363b;
    font-size: 14px;
    font-weight: bold;
    @include transition(all,0.3s);
  }
}

#menuBtn{
  display: block;
  width: 40px;
  height: 40px;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: -1;
  @include opacity(0);
  filter: alpha(opacity=0);
  cursor: pointer;
  @include border-radius(50%);
  padding: 5px;
  @include box-sizing(border-box);
  background-color: #240434;
  &.btn-hide{
    display: none;
  }
  >div{
    position: relative;
    top: 15px;
    height:1px;
    width: 24px;
    margin:0 auto;
    background-color: $lightColor;
    @include transform(rotate3d(0, 0, 0, 0deg));
    @include transition(rotate,0.1s);
    &:before,&:after{
      display: none;
    }
  }
  span{
    display: block;
    position: relative;
    top: 8px;
    &:before,&:after{
      content: "";
      display: block;
      width: 24px;
      height: 1px;
      margin:0 auto;
      position: relative;
      background-color: $lightColor;
      @include transform(rotate3d(0, 0, 0, 0deg));
      @include transition(rotate,0.4s);
    }
    &:before{
      top: -2px;
    }
    &:after{
      top: 12px;
    }
  }
}

#wf-more{    
  display: block;
  margin: 50px auto;
  width: 100px;
  height: 100px;
  @include background-image(linear-gradient(90deg, rgba(198,54,31,1), rgba(255,82,195,1))); 
  @include border-radius(50%);
  position: relative;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  @extend %vertical-outer;
  &:after{
    content: "";
    display: block;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 0;
    @include border-radius(50%);
    background-color: #f8f8f8;
  }
  p{
    @extend %vertical-inner;
    position: relative;
    z-index: 5;
    color:#c7363b;
    font-size: 14px;
    font-weight: bold;
    @include transition(all,0.3s);
  }
  &:hover{
    @include background-image(linear-gradient(90deg, rgba(173,1,255,1), rgba(7,195,255,1)));
    @include animation(hover-color 3s ease infinite);
    background-size: 300% 300%;
    p{
      color:#3c84ff;
      @include transition(all,0.3s);
    }
  }
}

#wf-loading{
  display: block;
  margin: 0 auto;
  width: 96px;
  height: 92px;
  background-image: url("../images/loading.png");
  background-repeat: no-repeat;
  @include animation(loadingImg 1s ease infinite);
}

#gallery{
  @include span(24);
  margin-bottom:$gutter;
  position: relative;
  .md-wfImg{
    @include span(6);
    @include box-sizing(border-box);
    background:$lightColor;
    margin-bottom:$gutter;
    &:after {
      content: "";
      position: absolute;
      z-index: -2;
      bottom: 16px;
      right:10px;
      width: 50%;
      height: 55%;
      max-width: 200px;
      max-height: 100px;
      @include transition(all 0.25s ease-out);
    }
    >a{
      position: relative;
      z-index: 0;
      text-decoration: none;
    }
    img{
      width:100%;
    }
    .pt-img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    >figure{
      position: relative;
      display: block;
      width: 100%;
      height: 0;
      background-color: #ccc;
      background-size: 100% 100%;
    }
    figcaption {
      padding:50px 20px 70px;
      @include box-sizing(border-box);
      position: relative;
      .pt-count{
        position: absolute;
        top:10px;
        right:10px;
        color:#aaa;
        font-size: 12px;
        span{
          display: inline-block;
          margin-left: 2px;
        }
      }
      h3{
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
        color:#333333;
        margin-bottom: 20px;
        display: inline-block;
        position: relative;
        text-indent: -23px;
        margin-left: 25px;
        font-family: PingFang SC;
        &.noneIcon{
          text-indent: 0;
          margin-left: 0;
          i{
            margin-left: 0;
          }
        }
        i{
          margin-right: 6px;
        }
      }
      p{
        font-size: 13px;
        color:#aaaaaa;
        line-height: 2;
      }

    }
    .pt-like{
      display: block;
      width: 30px;
      height: 30px;
      position: absolute;
      top:10px;
      right:10px;
      z-index: 10;
      overflow: hidden;
      border-radius: 5px;
      text-align: center;
      padding-top: 5px;
      box-sizing: border-box;
      cursor: pointer;
      i{
        position: relative;
        z-index: 5;
        font-size: 20px;
        color:#666666;
      }
      &:before{
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: #f8f8f8;
        opacity: 0.3;
        position: absolute;
        top:0;
        left:0;
        z-index: 0
      }
      &.choosed{
        i{
          color: #f6bd09;
        }
      }      
    }
    .pt-tag{
      @extend %clear;
      li{
        float: left;
        font-size: 12px;
        color:#777777;
        font-weight: bold;
        padding:0 5px 5px 0;
        a{
          color:#777777;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
        }
        &+li{
          &:before{
            content: "/";
            display: inline-block;
            margin-right: 5px;
          }
        }
      }
    }
    .pt-dateNtype{
      width: 60px;
      height: 60px;
      position: absolute;
      z-index: 5;
      left:50%;
      bottom:0;
      margin-left: -30px;
      margin-bottom: -30px;
      background-color: $darkColor;
      color:$lightColor;
      @include border-radius(50%);
      text-align: center;
      @include transition(all,0.4s);
      .img-date{
        display: inline-block;
        padding-top: 13px;
        @include box-sizing(border-box);
        p{
          font-size: 12px;
          margin-bottom: 5px;
          color:$lightColor;
        }
        span{
          font-size: 18px;
          color:$lightColor;
        }
      }
      .img-type{
        display: none;
        p{
          font-size: 16px;
          margin-bottom: 5px;
          color:$lightColor;
        }
        span{
          font-size: 14px ;
          color:$lightColor;
        }
      }
    }
    &:hover{
      @include transition(all 0.25s ease-out);
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
      border-radius: 0 0 75px 0 / 0 0 17px 0;
      &:after {
        @include transition(all 0.25s ease-out);
        box-shadow: 1px 8px 12px rgba(210, 210, 210, 1);
        @include transform(skew(8deg) rotate(3deg));
      }
      .pt-dateNtype{
        @include transform(scale(1.5));
        @include transition(all,0.4s);
        .img-date{
          display: none;
        }
        .img-type{
          display: inline-block;
          padding-top: 15px;
          @include box-sizing(border-box);
          @include transform(scale(0.7));
        }
      }
    }      
  }
  &.digitalCollection{
    .md-wfImg{
      figcaption{
        padding:20px;
        h3{
          text-indent: 0;
          margin-left: 0;
        }
      }
    }
  }
}


.hd-pink{
  @extend %clear;
  @include background-image(linear-gradient(90deg, rgba(198,54,31,1), rgba(255,82,195,1))); 
  height: 130px;
  &.hd-pcHide{
    display: none;
  }
  &.fixedMenu{
    position: fixed;
    z-index: 100;
    top:0;
    left:0;
    width: 100%;
    height: 110px;
    @include transition(all,0.4s);
    h1{
      height: 110px;
    }
    .header-conter{
      @include transition(all,0.4s);
    }
    .th-mainMenuOne{
      >ul{
        >li{
          >a{
            line-height: 110px;
          }
        }
      }
    }
    .th-mainMenuSecond{
      >ul{
        >li{
          >a{
            line-height: 110px;
          }
        }
      }
    }
  }
  .hdBg{
    width: 0;
    height: 0;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
  }
  .header-conter{
    height: 100%;
    @include container();
  }
  h1{
    width: 15%;
    position: absolute;
    left:0;
    height: 130px;
    a{
      width: 90%;
      height: 100%;
      display: block;
      margin:0 auto;
      @extend %vertical-outer;
    }
    img{
      width: 100%;
      @include transform(rotate(-10deg));
      @extend %vertical-inner;
    }
  }
  %commonPinkMainUl{
    >ul{
      @extend %clear;
      >li{
        display: inline-block;
        position: relative;
        z-index: 0;
        @include transition(backgroundColor, 0.4s);
        &.li-language{
          display: none;
        }
        &.showLanguage{
          display: inline-block;
        }
        >a{
          text-decoration: none;
          display: block;
          height: 100%;
          text-align: center;          
          font-size:13px;
          line-height: 130px;
          padding: 0 15px;
          @include box-sizing(border-box);
          span{
            display: inline-block;
            color:$lightColor;
            position: relative;
            i{
              position: absolute;
              top:50%;
              margin-top: -30px;
              font-size: 20px;
              left: 40%;
              @include animation(fontColor 2s ease infinite);
            }
            .text{
              position: absolute;
              top:50%;
              margin-top: -30px;
              left: 40%;
              line-height: 1;
              font-size: 12px;
              color:#fff;
              padding:2px 6px 3px;
              @include animation(bgColor 2s ease infinite);
            }
            .texthide{
              display: none;
            }
          }
          img{
            width: 14px;
            height: 14px;
            position: absolute;
            top: 58px;
            left: -2px;
          }
          >i{
            color:$lightColor;
          }           
        }
        .md-secondMenu{
          position: absolute;
          top:100%;
          left:100%;
          height: 0;
          overflow: hidden;
          .secCont{
            @extend %clear;
            width: 100%;
            display: table;
            background-color: $darkColor;
            ul{
              li{
                min-width: 130px;
              }
            }
          }
          .shareBlock{
            width: 50%;
            display: table-cell;
          }
          .moreBlock{
            width: 50%;
            display: table-cell;
            ul{
              &+ul{
                margin-top: 30px;
              }
            }
          }
          ul{
            li{
              &:hover{
                background-color: #333333;
              }
              a{
                display: block;
                padding:10px 8px;
                @include box-sizing(border-box);
                text-decoration: none;
              }
              img{
                width: 20px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 3px;
              }
              span[class*="icon-"]{
                display: none;
              }
              .text{
                display: inline-block;
                vertical-align: middle;
                text-transform: uppercase;
                font-size: 12px;
                color:$lightColor;
                padding-left: 5px;
                box-sizing: border-box;
              }
              i{
                display: inline-block;
                color: #fff;
                vertical-align: middle;
                margin: 0 5px 0 2px;
              }
            }
          }

        }
        &.active{
          background-color: $lightColor;
          z-index: 10;
          @include transition(backgroundColor, 0.4s);
          >a{
            span{
              color:$darkColor;
            }
            i{
              color:$darkColor;
            }
          }
        }      
        &:hover{
          background-color: $lightColor;
          z-index: 99;
          @include transition(backgroundColor, 0.4s);
          >a{
            span{
              color:$darkColor;
            }
            i{
              color:$darkColor;
            }
          }
          .md-show{
            height: auto;
            top:0%;
            @include transition(all,0.3s);
          }
        }
      }
    }
  }
  %commonsecondmenuTrangle{
    >a{
      padding-right: 30px;
      span{
        position: relative;
        &:after{
          @extend %triangle;
          top: 50%;
          right: -13px;
          margin-top: -3px;
          border-width: 7px 4px 0 4px;
          border-color: $lightColor transparent transparent transparent;
        }            
      }
    }
    &:hover, &.active{
      >a{
        span{
          &:after{
            border-color: #c6361f transparent transparent transparent;
          }             
        }
      }
    }    
  }
  .th-mainMenuOne{
    float: left;
    @extend %commonPinkMainUl;
    .li-image{
      @extend %commonsecondmenuTrangle;
    }
  }
  .th-mainMenuSecond{
    float: left;
    margin-left: 4px;
    @extend %commonPinkMainUl;
    .li-follow{
      @extend %commonsecondmenuTrangle;
    }   
  }
  nav{
    @include span(20 of 24);
    padding-left: 15%;
    @include box-sizing(border-box);
    width: 100%;
  }
  .th-login{
    @include span(4 of 24);
    float: right;
    height: 100%;
    line-height: 130px;
    width: 25%;
    .md-btnCont{
      height: 100%;
      display: none;
      text-align: left;
      @extend %clear;
      li{
        display: inline-block;
        height: 100%;
        @extend %vertical-outer;
      }
      a{
        display: inline-block;
        vertical-align: middle;
        width: 100px;
        height: 30px;
        line-height: 30px;
        margin: 0 5px;
        box-sizing: border-box;
        font-size: 13px;
        color:$lightColor;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        @include border-radius(15px);
        @include background-image(linear-gradient(90deg, rgba(173,1,255,1), rgba(7,195,255,1)));
        &:hover{
          @include animation(hover-color 3s ease infinite);
          background-size: 300% 300%;
        }
      }
      &.lg-show{
        display: block;
      }
    }
    .md-account{
      height: 100%;
      display: none;
      @extend %vertical-outer;
      a{
        display: inline-block;
        text-decoration: none;
        color:$lightColor;
        font-size: 12px;
        position: relative;
        span{
          display: inline-block;
          vertical-align: middle;
          text-align: left;
          min-width: 40px;
          white-space:nowrap; 
          overflow:hidden;
          text-overflow:ellipsis;
          border-bottom:1px solid transparent;
          &:hover{
            color:#e0e0e0;
          }
        }
        &.userPoint{
          margin-left: 5px;
          min-width: 30px;
          text-align: center;
        }   
      }
      figure{
        display: inline-block;
        vertical-align: middle;
        width: 40px;
        height: 40px;
        @include border-radius(50%);
        position: relative;
        overflow: hidden;
        margin-right: 5px;
        img{
          width: 100%;
          height: 100%;
        }
        &.default-accountimg{
          @include background-image(linear-gradient(90deg, rgba(174,0,255,0.6), rgba(0,195,255,0.6)));
        }
      }
      &.lg-show{
        display: block;
      }
    }
  }
}

.hd-blue{
  @extend %clear;
  height: 420px;
  position: relative;
  z-index: 0;
  &.fixedMenu{
    z-index: 120;
    nav{
      height: 100px;
      max-width: none;
      width: 100%;
      margin:0;      
      position: fixed;
      top:0;
      left:0;
      @include background-image(linear-gradient(90deg, rgba(174,0,255,0.95), rgba(0,195,255,0.95)));
    }
    h1{
      height: 100px;
      max-width: 11%;
      background-image: none;
      overflow: initial;
      top: 3%;
      left: 1%;
      margin-left: 0;
      img{
        width: 100%; 
      }
      a{
        padding-top: 24px;
      }
    }
    %fixed_commonBlueMainUl{
      margin-top: 20px;
      >ul{
        >li{
          .md-secondMenu{
            &.show{
              bottom:auto;
              top:100px;
              height: 300px;
              padding-top: 50px;
              &:before{
                @include opacity(0.95) ;
                filter: alpha(opacity=95);
              }
            }
            .closeBtn{
              top:0;
            }
          }
        }
      }
    }
    .th-mainMenuSecond{
      @extend %fixed_commonBlueMainUl;
    }
    .th-mainMenuOne{
      @extend %fixed_commonBlueMainUl;
    }
    .th-login{
      right: 100px;
    }
  }
  &:before{
    content:"";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;    
    z-index: 1;
    background-color: rgba(0,0,0,0.3);
    @include background-image(linear-gradient(90deg, rgba(174,0,255,0.4), rgba(0,195,255,0.4)));
    @include opacity(1) ;
    filter: alpha(opacity=100);
  }
  .hdBg{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 0;
    overflow: hidden;
    >div{
      width: 100%;
      height: 101%;
      background-position:center;
      background-size: cover;  
      @include blur(4px);       
    }
  }
  &.secondUl-active{
    z-index: 100;
    &:before{
      @include opacity(0) ;
      filter: alpha(opacity=0);
      @include transition(opacity,0.45s);
    }
  }
  .header-conter{
    @include container();
    height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 5;
  }
  h1{
    display: inline-block;
    vertical-align: middle;
    width: 170px;
    @include transform(scale(0));
    position: absolute;
    top:115px;
    left:50%;
    margin-left:-85px;
    a{
      display: block;
      width: 100%;
      @include box-sizing(border-box);
    }
    img{
      width: 170px;
      margin: 0;
      @include transform(rotate(-10deg));
      @include opacity(0) ;
      filter: alpha(opacity=0);
      &.imgShow{
        @include opacity(1) ;
        filter: alpha(opacity=100);
        @include transition(all,0.01s);
      }
    }
    &.show{
      @include transform(scale(1));
      @include transition(all,0.06s);
    }
  }
  %commonBlueMainUl{
    display: inline-block;
    vertical-align: middle;
    margin-top: 205px;
    >ul{
      height: 40px;
      overflow: hidden;
      >li{
        float: left;
        height: 40px;
        margin-top: -60px;
        &.li-language{
          display:none;
        }
        &.liShow{
          margin-top: 0;
          @include transition(all,0.4s);
        }
        >a{
          display: block;
          width: 100%;
          height: 100%;
          text-decoration: none;
          font-size: 13px;
          padding:24px 30px 6px;
          @include box-sizing(border-box);
          position: relative;
          z-index: 0;
          span{
            display: inline-block;
            position: relative;
            color:$lightColor;
            @include transition(all,0.4s);
            i{
              position: absolute;
              top:50%;
              margin-top: -30px;
              font-size: 20px;
              left: 40%;
              @include animation(fontColor 2s ease infinite);  
            } 
            .text{
              position: absolute;
              top:50%;
              margin-top: -30px;
              left: 40%;
              line-height: 1;
              font-size: 13px;
              color:#fff;
              padding:2px 6px;
              @include animation(bgColor 2s ease infinite);
            }
            .texthide{
              display: none;
            }         
          }
          >i{
            color:$lightColor;
            @include transition(all,0.4s);
          }     
        }
        .md-secondMenu{
          position: absolute;
          left:0;
          bottom:0;
          width: 100%;
          height: 0%;
          z-index: 10;
          overflow: hidden;
          &:before{
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top:0;
            left:0;
            z-index: 5;
            background-color:$darkColor;
            @include opacity(0) ;
            filter: alpha(opacity=0);
            @include transition(opacity,0.45s);
          }  
          .pt-limit{
            max-width: 1060px;
            margin: 0 auto;
            position: relative;
            z-index: 10;
          }
          .secCont{
            @extend %clear;
            width: 100%;
            display: table;
          }
          .shareBlock{
            width: 50%;
            display: table-cell;
          }
          .moreBlock{
            width: 50%;
            display: table-cell;
            ul{
              li{
                width: 100%;
              }
              &+ul{
                margin-top: 50px;
              }
            }
          }
          .closeBtn{
            display: block;
            width: 60px;
            height: 60px;
            position: absolute;
            top:-70px;
            right:0;
            z-index: 10;
            cursor: pointer;
            &:before,&:after{
              content: "";
              display: block;
              width: 100%;
              height: 1px;
              background-color:#ccc; 
              position: absolute;
              top:0;
              margin-top: 30px;
              @include transition(all,0.4s);
            }
            &:before{
              @include transform(rotate(45deg));
            }
            &:after{
              @include transform(rotate(-45deg));
            }
          }
          ul{
            position: relative;
            z-index: 5;
            text-align: left;
            max-width: 650px;
            margin: 0 auto;
            li{
              display: inline-block;
              width:34%;
              margin:10px 0;
              a{
                display: inline-block;
                text-decoration: none;
                >img{
                  display: none;
                }
                span{
                  display: inline-block;
                  vertical-align: middle;
                }
                span[class*="icon-"]{
                  background-color: $lightColor;
                  width: 25px;
                  height: 25px;
                  font-size: 18px;
                  line-height: 25px;
                  text-align: center;
                  @include border-radius(50%);
                  color:$darkColor;
                  @include transition(all,0.4s);
                }
                .text{
                  color:$lightColor;
                  font-size: 12px;
                  @include transition(all,0.4s);
                  padding-left: 5px;
                }
                i{
                  display: inline-block;
                  color: #fff;
                  vertical-align: middle;
                  margin: 0 5px 0 2px;
                }
                &:hover{
                  span[class*="icon-"]{
                    background-color:#00c3ff;
                    @include transition(all,0.4s);
                  }
                  .text{
                    color:#00c3ff;
                    text-decoration: underline;
                    @include transition(all,0.4s);
                  }
                  i{
                    color:#00c3ff;
                  }
                }
              }
              &.li-album{
                a{
                  >img{
                    width: 20px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 3px;
                  }
                }
              }
            }
          }
          &.show{
            height: 100%;
            padding-top: 120px;
            @include box-sizing(border-box);
            &:before{
              content: "";
              @include opacity(0.9) ;
              filter: alpha(opacity=90);
            }      
          }
        }        
        &:hover{
          >a{
            span{
              color:#cccccc;
              @include transition(all,0.4s);
            }
            i{
              color:#cccccc;
              @include transition(all,0.4s);
            }
          }
        }
        &.active{
          >a{
            span{
              color:#cccccc;
              @include transition(all,0.4s);
            }
            i{
              color:#cccccc;
              @include transition(all,0.4s);
            }
          }
        }
      }      
    }

  }
  %commonTrangle{
    >a{
      span{
        &:after{
          @extend %triangle;
          top: 50%;
          right: -13px;
          margin-top: -3px;
          border-width: 7px 4px 0 4px;
          border-color: $lightColor transparent transparent transparent;
        }            
      }
    }
    &:hover, &.active{
      >a{
        span{
          &:after{
            border-color: #cccccc transparent transparent transparent;
          }             
        }
      }
    }    
  }
  .th-mainMenuOne{
    @extend %commonBlueMainUl;
    margin-right: 15px;
    .li-image{
      @extend %commonTrangle;
    }    
  }

  .th-mainMenuSecond{
    @extend %commonBlueMainUl;
    .li-follow{
      @extend %commonTrangle;
    }
    .li-language{
      @extend %commonTrangle;
    } 
  }
  nav{
    max-width:$mainWidth;
    margin: 0px auto 0;
    width: 100%;
    @extend %clear;
    text-align: center;
  }
  .th-login{
    max-width:1060px;
    margin: 0 auto 0;
    //width: 100%;
    padding-top: 15px;
    top: 10px;
    right: 400px;
    position: absolute;
    display: inline;
    @include box-sizing(border-box);
    @extend %clear;
    .md-btnCont{
      height: 50px;
      display: none;
      float: right;
      li{
        float: left;
        height: 100%;
        @extend %vertical-outer;
      }
      a{
        display: inline-block;
        vertical-align: middle;
        width: 100px;
        height: 30px;
        line-height: 30px;
        margin: 0 5px;
        font-size: 13px;
        color:$lightColor;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        box-sizing: border-box;
        @include border-radius(15px);
        background-color:#666666;
        @include transition(all,0.4s);
        &:hover{
          background-color: #bcbcbc;
          @include transition(all,0.4s);
        }
      }
      &.lg-show{
        display: block;
      }
    }
    .md-account{
      display: none;
      float: right;
      line-height: 40px;
      min-width: 200px;
      display: inline;
      @extend %vertical-outer;
      a{
        text-decoration: none;
        color:$lightColor;
        font-size: 12px;
        display: inline;
        position: relative;
        span{
          display: inline-block;
          vertical-align: middle;
          text-align: left;
          min-width: 40px;
          white-space:nowrap; 
          overflow:hidden;
          text-overflow:ellipsis;
          border-bottom:1px solid transparent;
          float: left;
          line-height: 40px;
          &:hover{
            color:#e0e0e0;
          }
        }
        &.userPoint{
          margin-left: 10px;
          //background-position: 5px 5px;
          min-width: 30px;
          display: inline-block;
        }
        .navImg-vipTop{
          top: 10px;
        }           
      }
      figure{
        display: flex;
        vertical-align: middle;
        width: 40px;
        height: 40px;
        float: left;
        @include border-radius(50%);
        position: relative;
        overflow: hidden;
        margin-right: 5px;
        img{
          width: 100%;
          height: 100%;
        }
        &.default-accountimg{
          @include background-image(linear-gradient(90deg, rgba(174,0,255,0.6), rgba(0,195,255,0.6)));
        }
      }
      &.lg-show{
        display: block;
      }
    }
  }
}
.hd-hide{
  display: none !important;
}

.main-content{
  margin-bottom: 10%;
  &.main-Index{
    margin-bottom: 0;
  }
  .th-hotlist{
    max-width:calc(100% - 450px);
    width: 100%;
    float: left;
    padding-left: 45px;
    box-sizing:border-box;
    position: relative;
    .pt-title{
      display: inline;
      vertical-align: top;
      color:#aaa;
      font-size: 13px;
      line-height: 20px;
    }
    ul{
      display: inline;
      vertical-align: top;
      li{
        display: inline-block;
        vertical-align: top;
        position: relative;
        color:#aaa;
        line-height: 20px;
        padding-right: 5px;
        &+li{
          &:before{
            content: "/";
            display: inline-block;
            margin-right: 6px;
          }          
        }
        a{
          color:#aaa;
          font-size: 13px;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}



.th-prohibit18{
  position: fixed;
  height: 100vh;
  width: 100vw;
  top:0;
  left:0;
  z-index: 130;
  color:#fff;
  font-size: 16px;
  display: none;
  &.show{
    display: block;
  }
  &:after{
    content:'';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    background-color: rgba(0,0,0,0.85);
  }
  .md-content{
    position: absolute;
    top:50%;
    left:50%;
    z-index: 5;
    @include transform(translate(-50%,-50%));
    h4{
      margin-bottom: 20px;
      white-space: nowrap;
    }
    .ps{
      color: #d91256;
      font-size: 13px;
      margin-bottom: 20px;
    }
    a{
      display: block;
      padding: 8px 10px;
      text-align: center;
      text-decoration: none;
      color: #fff;
      margin-bottom: 20px;
      border-radius: 9px;
      border: 1px solid #fff;
      cursor: pointer;
      @include transition(all, .3s);
      &:hover{
        color: #d91256;
        border: 1px solid #d91256;
      }
    }
  }
}

#goTop{
  width: 50px;
  height: 50px;
  position: fixed;
  right:20px;
  top: -30%;
  z-index: 120;

  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  @include transition(all,1s);
  @extend %vertical-outer;
  &:after{
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    @include border-radius(50%);
    background-color: #f8f8f8;
    position: absolute;
    top:0;
    left:0;
    z-index: 0;
  }
  &:hover{
    span{
      color:$darkColor;
      @include transition(all,0.3s);
    }
  }
  span{
    @extend %vertical-inner;
    width: 28px;
    height: 28px;
    @include border-radius(50%);
    font-size: 27px;
    color:#dedede;
    @include transition(all,0.3s);
    position: relative;
    z-index: 5;
  }
  &.show{
    top: calc(100% - 70px);
    @include transition(all,1s);
  }
}

#footer{
  width: 100%;
  height: 120px;
  position: relative;
  z-index: 0;
  &.ft-hide{
    display: none;
  }
  .footer-content{
    max-width: 1060px;
    margin:0 auto;
    width: 100%;
    color:#666666;
    font-size: 12px;
    ul{
      max-width: 420px;
      width: 100%;
      margin: 40px auto 20px;
      @extend %clear;
      text-align: center;
      li{
        display: inline-block;
        position: relative;
        text-align: center;
        padding:0 4%;
        @include box-sizing(border-box);
        &:hover{
          a{
            color:#dedede;
            @include transition(all,0.3s);
          }
        }
        a{
          display: inline-block;
          text-decoration: none;
          text-transform: uppercase;
          color:#666666;
          @include transition(all,0.3s);
        }
        &+li{
          &:after{
            content: "•";
            position: absolute;
            left:-4px;
          }
        }
      }
    }
    >p{
      text-align: center;
      color:#666;
      font-family: Arial;
      span{
        color: #333;
        font-weight: bold;
      }
    }
  }
  &:before{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    @include background-image(linear-gradient(90deg, rgba(214,127,255,1), rgba(127,225,255,1)));    
  }
}


.livePop{
  position: fixed;
  bottom:40px;
  right:80px;
  width: 200px;
  min-height: 120px;
  background-color:#000;
  padding:0 15px 0 15px;
  font-size: 13px;
  color:#fff;
  opacity: 0.9;
  z-index: 170;
  display: none;
  &.livePopHide{
    opacity: 0;
    z-index: -1;    
  }
  .closeBtn{
    position: relative;
    float: right;
    width: 25px;
    height: 25px;
    top:10px;
    right:-5px;
    cursor: pointer;
    &:before,&:after{
      content:'';
      display: block;
      width: 30px;
      height: 1px;
      background-color: #fff;
      position: absolute;
      top: 10px;
      right: -2px;
    }
    &:before{
      @include transform( rotate(45deg));
    }
    &:after{
      @include transform( rotate(-45deg));
    }
  }
  .text{
    background-color: #fc111e;
    padding:3px 10px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    -moz-animation: bgColor 2s ease infinite;
    -webkit-animation: bgColor 2s ease infinite;
    animation: bgColor 2s ease infinite;
  }
  .liveText{
    line-height: 26px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    &:hover{
        color:#ffc000;
        @include transition(all,0.3s);
    }
  }
}

.msgMaxW1060{
  max-width: 1060px;
  margin: 0 auto 80px;
  width: 100%;
  float: none;
}

//===== RWD變版 =====

//非 IE8 專用
@include breakpoint(0px) {
  html, body {
    min-width: 320px
  }
}

@include breakpoint(max-width 1680px) {
  .hd-blue{
    .th-login{
      right: 200px;
    }
    &.fixedMenu{
      .th-login{
        right: 0;
      }
    }
  }
}

@include breakpoint(max-width 1500px) {
  .hd-pink{
    .th-login{
      .md-btnCont{
        a{
          width: 75px;
        }
      }
    }
  }
}

@include breakpoint(max-width 1400px) {
  .hd-blue{
    &.fixedMenu{
      .th-login{
        display: none;
      }
    }
  }
}

@include breakpoint(max-width 1300px) {
  .hd-pink{
    .th-login{
      width: 20%;
      right: 100px;
      .md-account{
        a{
          span{
            width: 45px;
          }
        }
      }
    }
  }
}

//Pad 專用
@include breakpoint(max-width 1200px) {
  #menuBtn{
    z-index: 125;
    @include opacity(1);
    filter: alpha(opacity=100);
    left:15px;
    transform: translate3d(0, 0, 0);
  }
  html{
    overflow-x:hidden;
  }
  #goTop{
    left:auto;
    right:10px;
    margin-left:0;;
    &:after{
      @include opacity(0.5);
      filter: alpha(opacity=50);
    }
    span{
      color:$darkColor;
    }
  }
  #wrap{
    position: relative;
    left:0;
    top:0;
    @include transition(left,0.4s);
  }
  html.leftMenu{
    #menuBtn{
      transform: translate3d(180px, 0, 0);
      @include transition(all,0.4s);
      >div{
        opacity: 1;
        top:12px;
        background-color: transparent;
        @include transition(all,0s);
        &:before,&:after{
          content: "";
          display: block;
          width: 24px;
          height: 1px;
          margin:0 auto;
          position: relative;
          top:0;
          background-color: $lightColor;
          @include transform(rotate3d(0, 0, 0, 0deg));
          @include transition(rotate,0.4s);
        }
        &:before{
          @include transform(translate3d(0, 3px, 0) rotate3d(0, 0, -1, 45deg));
          transform-origin:center;
          @include transition(rotate,0.4s);
        }
        &:after{
          @include transform(translate3d(0, 3px, 0) rotate3d(0, 0, 1, 45deg));
          transform-origin:center;
          @include transition(rotate,0.4s);
        }          
      }
      span{
        display: none;
      }
    }
    .hd-blue{
      z-index: 100;
      .header-conter{
        &:after{
          width: 100%;
          height: 100%;
          background-color: transparent;
          position: fixed;
          top: 0;
          left: 0;
          z-index: 0;
        }
      }
      nav{
        // left:0;
        @include transform(translate3d(0,0,0));
        @include transition(all,0.4s);
        overflow-y:auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
      }
    }
    .hd-pink{
      .th-login{
        z-index: 5;
      }
      .th-mainMenuOne{
        position: relative;
        z-index: 5;
        margin-top: 10px;
      }
      h1{
        z-index: 5;
      }
      .th-mainMenuSecond{
        position: relative;
        z-index: 5;

      }
      .header-conter{
        // left:0px;
        @include transform(translate3d(0,0,0));
        @include transition(left,0.4s);
        overflow-x: hidden;
        overflow-y:auto; 
        -webkit-overflow-scrolling: touch; 
      }
      &:after{
        content: " ";
        display: block;
        clear: both;
        width: 100%;
        height: 100%;
        background-color: transparent;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 15;
      } 
    }
  }

  .hd-pink{
    background-image: none;
    height: auto;
    &.hd-pcHide{
      display: block;
    }
    .header-conter{
      width: 180px;
      height: 100%;
      position: fixed;
      top:0;
      z-index: 150;
      background-color: #240434;
      @include transform(translate3d(-180px,0,0));
    }
    h1{
      width: 160px;
      height: auto;
      top: 30px;
      left: 15px;
      a{
        width: 100%;
        height: auto;
        &:before{
          height: 0;
        }
      }
    }
    .th-mainMenuOne{
      float: left;
      >ul{
        >li{
          width: 100%;
          height: auto;
          &.active{
            &:hover{
              background-color: $lightColor;
              >a{
                span{
                  color:$darkColor;
                }
                i{
                  color:$darkColor;
                }
              }
            }
          }
          &:hover{
            background-color: transparent;
            >a{
              span{
                color:$lightColor;
              }
              i{color:$lightColor;}
            }
          }
          .md-secondMenu{
            &.show{
              height: auto;
              position: relative;
              top:0;
              left:0;
            }
            .secCont{
              background-color:#240434;
              ul{
                li{
                  &:hover{
                    .text{
                      text-decoration: underline;
                    }                    
                  }
                }
              }
            }
            ul{
              li{
                a{
                  padding:8px 8px 8px 45px;
                }
                &:hover{
                  background-color: transparent;
                }
              }
            }        
          }
          >a{
            padding: 0 10px 0 35px;
            height: 40px;
            line-height: 40px;
            text-align: left;
            span{
              .icon-new{
                z-index: 100;
                top: 40px;
                left: auto;
                right: -40px;
              }
              .text{
                margin-top: -8px;
                left: 110%;
              }
            }
          }
        }
      }
      .li-image{
        &:hover{
          >a{
            span{
              &:after{border-color: #fff transparent transparent transparent;}
            }
          }
        }
        &.active{
          >a{
            span{
              &:after{border-color: #000 transparent transparent transparent;}
            }
          }
          &:hover{
            >a{
              span{
                &:after{border-color: #000 transparent transparent transparent;}
              }
            }
          }
        }
      }
    }
    .th-mainMenuSecond{
      margin-left: 0;
      >ul{
        >li{
          width: 100%;
          height: auto;
          &.active{
            &:hover{
              background-color: #FFF;
              >a{
                span{
                  color:#000;
                }
                i{
                  color:#000;
                }
              }
            }
          }
          &:hover{
            background-color: transparent;
            >a{
              span{color:$lightColor;}
              i{color:$lightColor;}
            }
          }
          .md-secondMenu{
            width: 100%;
            position: relative;
            top:0;
            left:0;
            background-color: transparent;
            overflow:auto; 
            .secCont{
              display: block;
              background-color: transparent;
            }
            .shareBlock{
              width: 100%;
              display: block;
              background-color: transparent;
            }
            .moreBlock{
              width: 100%;
              display: block;
              background-color: transparent;
              ul{
                &+ul{
                  margin-top: 0;
                }
              }
            }
            ul{
              li{
                a{
                  padding:8px 8px 8px 45px;
                }
                span[class*="icon-"]{
                  display: inline-block;
                  width: 18px;
                  height: 18px;
                  font-size: 14px;
                  line-height: 18px;
                  @include border-radius(50%);
                  text-align: center;
                  background-color: $lightColor;                  
                  color:$darkColor;          
                }
                .text{
                  color:$lightColor;
                  vertical-align: middle; 
                }
                img{
                  display: none;
                }
                &:hover{
                  background-color: transparent;
                  .text{
                    // color: #00c3ff;
                    text-decoration: underline;
                  }                    
                }                                              
              }
            }
            &.show{
              height: auto;
            }            
          }
          >a{
            padding: 0 10px 0 35px;
            height: 40px;
            line-height: 40px;
            text-align: left;
            span{
              i{
                top:12px;
                margin-top:0;
                left: auto;
                right: -30px;
              }
              .text{
                top:12px;
                margin-top:0;
                left: auto;
                right: -45px;
              }
            }
          }
        }
      }
      .li-follow{
        &:hover{
          a{
            span{
              &:after{border-color: $lightColor transparent transparent transparent;;}
            }
          }
        }
      }

      .li-language{
        &:hover{
          a{
            span{
              &:after{border-color: $lightColor transparent transparent transparent;;}
            }
          }
        }
      }    
    }
    nav{
      @include span(24 of 24 nest);
      padding-left: 0%;
      padding:190px 0 0 0;
      box-sizing:border-box;
      margin:0;
    }
    .th-login{
      @include span(24 of 24 nest);
      margin-left: 0;
      margin-right: 0; 
      height: auto;
      position: absolute;
      top: 90px;
      left: 0;
      line-height: 30px;
      .md-btnCont{
        text-align: center;
        margin-top: 10px;
        li{
          display: inline-block;
          float: none;
        }
      }
      .md-account{
        height: auto;
        max-height: 120px;
        width: 90%;
        margin:0 auto;
        padding-bottom: 15px;
        @include background-image(linear-gradient(90deg, rgba(174,0,255,1), rgba(0,195,255,1)));
        background-size: 100% 1px;
        background-position: 0 99%;
        background-repeat: no-repeat;
        &:before{
          display: none;
        }
        a{
          width: 100%;
          span{
            width: 100px;
            margin-top: 5px;
            display: inline;
          }
          &.userPoint{
            display: inline-block;
            margin-left: 5px;
            min-width: 60%;
            margin-top: 10px;
            background-size: 30px;
            padding: 10px 10px 10px 40px; 
            background-position-x: 15px;
          }      
        }
        figure{
          //float: left;
          margin: 3px 7px 0 7px;
          width: 40px;
          height: 40px;
        }
      }
    }
  }

  .hd-blue{
    height: 70px;
    &.fixedMenu{
      z-index: 100;
      nav{
        width: 180px;
        height: 100%;
        background-image: none;
        @include transform(translate3d(-200px,0,0));
        @include transition(all,0.4s);
      }
      h1{
        a{
          width: 160px;
          height: auto;
          padding-top: 0;
        }
      }
      .th-mainMenuSecond{
        >ul{
          height: auto;
          >li{
            height: auto;
            .md-secondMenu{
              ul{
                li{
                  width: 100%;
                  padding: 0px;
                  a{
                    display: block;
                    width: 100%;
                    height: 100%;
                     padding: 0 10px 0 45px;
                     @include box-sizing(border-box);
                    [class*="icon-"]{
                      width: 18px;
                      height: 18px;
                      font-size: 14px;
                      line-height: 18px;
                    }                  
                    &:hover{
                      .text{
                        margin-bottom: 0;
                      }
                    }                     
                  }
                }
              }
              .closeBtn{
                display: none;
              }
              &.show{
                position: relative;
                padding-top: 0;
                top:0;
              } 
              &:before{
                background-color: transparent;
              }         
            }
          }
        }
      }
      .th-mainMenuOne{
        margin-top: 110px;
        >ul{
          height: auto;
          >li{
            height: auto;
            @include box-sizing(border-box);
            .md-secondMenu{
              ul{
                li{
                  width: 100%;
                  padding: 0px 10px;
                  a{
                    display: block;
                    width: 100%;
                    height: 100%;
                    [class*="icon-"]{
                      width: 18px;
                      height: 18px;
                      font-size: 14px;
                      line-height: 18px;
                    }                  
                    &:hover{
                      .text{
                        margin-bottom: 0;
                      }
                    }                     
                  }
                }
              }
              .closeBtn{
                display: none;
              }
              &.show{
                position: relative;
                padding-top: 0;
                top:0;
              } 
              &:before{
                background-color: transparent;
              }         
            }
          }
        }
      }
    }
    &.secondUl-active{
      z-index: 5;
      &:before{
        @include opacity(1) ;
        filter: alpha(opacity=1);
        @include transition(opacity,0s);
      }
    }
    .header-conter{
      // padding-right: 15px;
      @include box-sizing(border-box);
    }
    h1{
      width: 140px;
      position: absolute;
      top:30px;
      left:20px;
      margin-left: 0;
      height: auto;
      a{padding-top: 0;}
      img{
        width: 100%;
      }
    }
    .th-mainMenuOne{
      margin-top: 110px;
      margin-right: 0;
      >ul{
        height: auto;
        >li{
          width: 100%;
          height: auto;
          @include box-sizing(border-box);
          >a{
            line-height: 40px;
            padding: 0 10px 0 35px;
            span{
              .icon-new{
                z-index: 100;
                top: 40px;
                left: auto;
                right: -40px;
              }
              .text{
                margin-top: -8px;
                left: 110%;
              }
            }
          }
          .md-secondMenu{
            ul{
              li{
                width: 100%;
                a{
                  display: block;
                  width: 100%;
                  height: 100%;
                  padding: 0 10px 0 45px;
                  @include box-sizing(border-box);
                  [class*="icon-"]{
                    width: 18px;
                    height: 18px;
                    font-size: 14px;
                    line-height: 18px;
                  }
                  &:hover{
                    i{
                      color:#fff;
                    }
                    .text{
                      color:#fff;
                      margin-bottom: 0;
                    }
                  }                                           
                }
              }
            }
            .closeBtn{
              display: none;
            }
            &.show{
              position: relative;
              padding-top: 0;
              top:0;
            } 
            &:before{
              background-color: transparent;
            }         
          }
          &:hover{
            >a{
              span{
                color:$lightColor;
              }
              i{
                color:$lightColor;
              }
            }
          }
          &.active{
            background-color: $lightColor;
            z-index: 99;
            @include transition(backgroundColor, 0.4s);
            >a{
              span{
                color:$darkColor;               
              }
              i{
                color:$darkColor;
              }
            }
            .md-secondMenu{
              background-color: #240434;
            }            
          }
        }
      }
      .li-image{
        &.active{
          >a{
            span{
              &:after{
                border-color: #000 transparent transparent transparent;
              }             
            }
          }
          &:hover{
            >a{
              span{
                &:after{
                  border-color: #000 transparent transparent transparent;
                }             
              }
            }
          }
        }
        &:hover{
          >a{
            span{
              &:after{
                border-color: #fff transparent transparent transparent;
              }             
            }
          }
        }
      }
    }
    .th-mainMenuSecond{
      margin-top: 0;
      >ul{
        height: auto;
        >li{
          width: 100%;
          height: auto;
          >a{
            line-height: 40px;
            padding: 0 10px 0 35px;
            span{
              i{
                top: 12px;
                margin-top: 0;
                left: auto;
                right: -30px;
              }
              .text{
                top:12px;
                margin-top:0;
                left: auto;
                right: -45px;
              }
            }
          }
          .md-secondMenu{
            .secCont{
              display: block;
            }
            .shareBlock{
              width: 100%;
              display: block;
              background-color: transparent;
            }
            .moreBlock{
              width: 100%;
              display: block;
              background-color: transparent;
              ul{
                &+ul{
                  margin-top: 0;
                }
              }
            }
            ul{
              li{
                width: 100%;
                margin:0;
                a{
                  display: block;
                  width: 100%;
                  height: 100%;
                  padding:8px 8px 8px 45px;
                  @include box-sizing(border-box);
                  span[class*="icon-"]{
                    width: 18px;
                    height: 18px;
                    font-size: 14px;
                    line-height: 18px;
                  }                  
                  &:hover{
                    span[class*="icon-"]{
                      background-color:#fff;
                    }
                    .text{
                      margin-bottom: 0;
                      color:#fff;
                    }
                  }                     
                }
              }
            }
            .closeBtn{
              display: none;
            }
            &.show{
              position: relative;
              padding-top: 0;
              top:0;
            }
            &:before{
              background-color: transparent;
            }        
          }
          &:hover{
            >a{
              span{
                color:$lightColor;
                &:after{
                  border-color: $lightColor transparent transparent transparent !important;
                }
              }
              i{
                color:$lightColor;
              }
            }
          }
          &.active{
            background-color: $lightColor;
            z-index: 99;
            @include transition(backgroundColor, 0.4s);
            >a{
              span{
                color:$darkColor;
                &:after{
                  border-color: $lightColor transparent transparent transparent !important;
                }
              }
              i{
                color:$darkColor;
              }
            }
          }
        }
      }
    }
    nav{
      max-width: 180px;
      margin: 0;
      width: 180px;
      height: 100%;
      text-align: left;
      position: fixed;
      top: 0;
      z-index: 100;
      background-color: #240434;
      transform: translate3d(-180px, 0, 0);
    }
    .th-login{
      padding: 10px 10px 0 0;
      text-align: right;
      .md-btnCont{
        height: 30px;
      }
      .navImg-vipTop{
        padding: 0px 0px 0px 30px;
        &.lg-show{
          display: inline-block;
        }
      }
      .md-account{
        float:none;
        &.lg-show{
          display: inline-block;
        }
        a{
          span{
            display: inline-block;
            text-align: right;
          } 
          &.userPoint{
            display: none;
          }        
        }
        figure{
          width: 40px;
          height: 40px;
          margin: 0px 15px 0 0;
        }
      }
    }
  }
  .main-content{
    .th-hotlist{
      padding-left: 70px;
    }
  }
}


@include breakpoint(max-width 1024px) {
  #gallery{
    .md-wfImg{
      &:after{
        display: none;
      }
      &:hover{
        @include transition(all 0s);
        box-shadow:none;
        border-radius: 0;
        &:after{
          display: none;
        }
        .pt-dateNtype{
          @include transform(scale(1));
          @include transition(all,0s);
          .img-date{
            display: inline-block;
          }
          .img-type{
            display: none;
          }
        }
        figcaption {
          h3{
            &:after{
              display: none;
            }
          }
        }
      }  
    }
  }
}

@include breakpoint(max-width 980px) {
  #goTop{
    display: none;
  }
  #gallery{
    .md-wfImg{
      .pt-tag{
        li{
          a{
            &:hover{
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  .main-content{
    .th-hotlist{
      max-width:90%;
      padding:5px 35px 5px 40px;
      ul{
        li{
          a{
            &:hover{
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}


//Phone 專用
@include breakpoint(max-width 640px) {
  .hd-blue{
    .th-login{
      .md-btnCont{
        margin-top: 6px;
        a{
          width: 75px;
        }
      }
    }
  }
  .main-content{
    .th-hotlist{
      .pt-title{
        display: block;
        position:relative;
      }
      ul{
        display:block;
      }
    }
  }
  #footer{
    .footer-content{
      ul{
        li{
          padding:0 3%;
        }
      }
    }
  }
}

@include breakpoint(max-width 460px) {
  .hd-pink{
    .th-login{
      .md-btnCont{
        a{
          line-height: 31px;
        }
      }
    }
  }
  .hd-blue{
    .th-login{
      .md-btnCont{
        a{
          line-height: 31px;
        }
      }
    }
  }
  .main-content{
    .th-hotlist{
      padding: 5px 15px 5px 20px;
      margin-bottom:20px;
    }
  }
  .main-newslist{
    .common-nonelimit{
      padding:2% 0;
    }
  }
  #footer{
    .footer-content{
      ul{
        li{
          padding:0 2%;
        }
      }
    }
  }
}

.accountImg-vipTop{
  position: absolute;
  z-index: 1;
  width: 20px;
  padding: 20px 0 0 25px;
  top: 50px;
  img{
    max-width:50px;
    width: 100%;
    height: 100%;
  } 
  @include breakpoint(max-width 1024px) {
    top: 5px;
    left: 10px;
  }
}
.navImg-vipTop{
  position: absolute;
  z-index: 1;
  width: 20px;
  top: 70px;
  padding: 0px 0px 0px 25px;
  img{
    max-width:50px;
    width: 100%;
    height: 100%; 
  }
  @include breakpoint(max-width 1024px) {
    top: 25px;
    left: 10px;
  }
}

.pt-deposit-box{
  width: 100%;
  text-align: center;
}
.userPoint{
  display: inline-block;
  height: 20px;
  min-width: 30px;
  line-height: 20px;
  border-radius: 20px;
  background: url("../images/powerPoint.svg?v=2") #6420e0 6px 7px no-repeat;
  background-size: 18px;
  color: white;
  width: 100px !important;
  width: -webkit-min-content !important;
  width: -moz-min-content !important;
  width: min-content !important;
  max-width: 100px !important;
  padding:5px 10px 5px 30px;
  text-decoration-line: none;
  &:hover{
    background-color: #6becc0;
  }
  &.l_btn{
    background-size: 24px;
    padding:10px 10px 10px 40px;
    background-position: 10px 8px;
  }
} 

.stopPop{
  width: 100%;
  padding-bottom: 100%;
  //background: rgba(0,0,0,0.5);
  position: absolute;
  z-index: 1000;
  top: 0;
  .message{
    width: 25%;
    padding: 5%;
    text-align: center;
    margin: 15vh auto;
    min-width: 200px;
    background: white;
    position: relative;
    border: 1px solid #aaa;
    img{
      width: 50%;
      margin: 0 auto;
      display: none;
    }
    b{
      word-break: break-all;
      width: 90%;
      color: #000;
      font-size: 18px;
      line-height: 30px; 
    }
    .closePopBtn{
      background: url("../images/icon/icon_remove.svg") no-repeat;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
      background-size: contain;      
    }
  }
  @include breakpoint(max-width 1024px) {
    .message{
      padding: 10% 5%;
      b{
        font-size: 13px;
      }
      .closePopBtn{
        width: 20px;
        height: 20px;
      }
    }
  }
}        
