.download-nonelimit{
  @include container();
}
.th-download{
	@include span(24 nest);
	margin-bottom: 3%;
	.md-month{
		width: calc(100% / 3);
		margin:0 -2px ;
		position: relative;
		top:0;
		left:0;
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
		&.open{
			.defaultinfo{
				&:after{
					content: "";
					display: block;
					position: absolute;
					left:50%;
					bottom:0;
					margin-left: -10px;
					@extend %triangle;
				  border-width: 0 15px 20px 15px;
				  border-color: transparent transparent #f8f8f8 transparent;
				}					
			}
		}
		.defaultinfo{
			width: 100%;
			position: relative;
			z-index: 10;			
			figure{
				img{
					width: 100%;
					height: auto;
				}
			}
		}
		.detailinfo{
			width: calc(100vw - 20px);
			word-wrap: break-word; 
			word-break: normal;
			position: relative;
			height: 0px;
			overflow: hidden;
			cursor: default;
			@include transition(all,0.4s);
			.monthCont{
				width: 100%;
				max-width: 1600px;
				margin:0 auto ;
				padding:15px 0 75px;
				@include box-sizing(border-box);				
				position: relative;
				overflow: hidden;
				&:before{
					content: "";
					display: block;
					width: 100%;
					border-bottom: 1px solid #cecece;
					position: absolute;
					bottom:25px;
					left:0;
				}
				@extend %clear;
				.gp-imgCont{
					@include span(15 of 24);
					img{
						width: 90%;
						float: right;
					}
				}
				.gp-textCont{
					@include span(9 of 24);
					margin-top: 3%;
					padding-left:3%;
					box-sizing:border-box;
				}
				.cont{
					position: relative;
					z-index: 5;
					padding:15px 0 25px;
					@extend %clear;
				}
				.pt-title{
					padding:0 0 30px;
					@include box-sizing(border-box);
					@include span(24);
					h3{
						color:#9f9f9f;
						font-size: 64px;
						font-weight: bold;
						text-transform: uppercase;
						margin-bottom: 10px;
						text-align: left;
					}	
					p{
						width: 100%;
						margin: 0 auto;
						color:$darkColor;
						font-size: 18px;
						font-weight: bold;
						text-align: left;
						box-sizing:border-box;
						line-height: 1.5;
						white-space: nowrap;
				    overflow: hidden;
				    text-overflow: ellipsis;
					}			
				}
				.pt-link{
					@include span(8 of 24);
					margin-top: 1%;
					li{
						@include span(24);
						@include box-sizing(border-box);
						text-align: left;
					}
					a{
						display: inline-block;
						padding:8px 5px;
						text-decoration: none;
						color:$darkColor;
						font-size: 14px;
						&:hover{
							text-decoration: underline;
						}
					}
				}
				.pt-qrcode{
					@include span(16 of 24);
					img{
						width: 40%;;
					}
				}
				.pt-btn{
					display: none;
				}
			}
			&.infoShow{
				@include transition(all,0.4s);
			}	
		}
	}
}

@include breakpoint(max-width 1400px) {
	.th-download{
		.monthCont{

		}
	}
}

@include breakpoint(max-width 1200px) {
	.th-download{
		margin-top: 20px;
		.md-month{
			&.open{
				.defaultinfo{
					&:after{
					  border-color: transparent transparent $lightColor transparent;
					}					
				}
			}
			.detailinfo{
				.monthCont{
					text-align: center;
					padding-bottom: 55px;
					.content{
						display: inline-block;
					}
					.gp-imgCont{
						position: absolute;
						top:-150%;
						left:-150%
					}
					.gp-textCont{
						@include span(24);
						padding-left: 0;
					}
					.pt-link{
						display: none;
					}
					.pt-qrcode{
						display: none;
					}
					.pt-title{
						h3{
							text-align: center;
						}
						p{
							text-align: center;
						}
					}
					.pt-btn{
						display: block;
						@include span(24);
						text-align: center;
						margin-top: 2%;
						a{
							display: inline-block;
							padding:12px 50px;
							text-decoration: none;
							text-transform: uppercase;
							color:$lightColor;
							@include background-image(linear-gradient(90deg, rgba(173,1,255,1), rgba(7,195,255,1)));
							@include border-radius(20px);
							&:hover{
			          @include animation(hover-color 3s ease infinite);
			          background-size: 300% 300%;
			        }
						}
					}
					&:before{
						display: none;
					}
				}
				&.infoShow{
					background-color: $lightColor;
				}
			}
		}
	}
}

@include breakpoint(max-width 980px) {
	.th-download{
		.md-month{
			@include span(12 of 24 nest);
			float: none;
			.detailinfo{
				.monthCont{
					.pt-title{
						h3{
							font-size: 56px;
						}
						p{
							font-size: 18px;
						}
					}
				}
			}
		}
	}

}

@include breakpoint(max-width 720px) {
	.th-download{
		.md-month{
			.detailinfo{
				.monthCont{
					.pt-title{
						h3{
							font-size: 48px;
						}
					}					
				}
			}
		}
	}
}


@include breakpoint(max-width 640px) {
	.th-download{
		.md-month{
			@include span(24 of 24 nest);
			float: none;
			.detailinfo{
				.monthCont{
					padding-bottom: 30px;
				}				
			}
			.defaultinfo{
				&:before,&:after{
					content: "";
					display: block;
					position: absolute;
					z-index: 5;
				}
				&:before{
					width: 100%;
					height: 25px;
					bottom: 0;
					left:0;
					z-index: 0;
					opacity: 0.7;
					background-color: $lightColor;
				}
				&:after{
					width: 0;
					height: 0;
					bottom:5px;
					left:50%;
					margin-left:-8px;
					border-style: solid;
				  border-width: 0 8px 13px 8px;
				  border-color: transparent transparent #666666 transparent;
				  @include transform(rotate,0deg);
				  @include transition(all,0.4s);
				}
			}
			&.open{
				.defaultinfo{
					&:after{
						bottom: 5px;
					  border-width: 0 8px 13px 8px;
				  	border-color: transparent transparent #666666 transparent;
						@include transform(rotate(180deg));
						transform-origin:center;
						@include transition(all,0.4s);
					}
				}
			}
		}
	}
}


@include breakpoint(max-width 460px) {
	.th-download{
		.md-month{
			.detailinfo{
				.monthCont{
					.pt-title{
						h3{
							font-size: 40px;
						}
					}					
				}
			}

		}
	}
}