.download-nonelimit{
  @include container();
}
.th-download{
	@include span(24 nest);
	.md-month{
		@include span(8 of 24 nest);
		position: relative;
		figure{
			img{
				width: 100%;
			}
		}
		&:before{
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top:0;
			left:0;
			z-index: 10;
			background-image: url("../images/mask_soon.png");
			background-size: cover;
		}
		&.on{
			cursor: pointer;
			&:hover{
				.monthCont{
					@include opacity(1);
					filter: alpha(opacity=100);
					@include transition(opacity,0.4s);
				}
			}
			&:before{
				display: none;
			}
			.pt-closeBtn{
				@extend %triangle;
				z-index: -1;
				top:0;
				right:0;
			  border-width: 55px 0 0 55px; 
			  border-color: rgba(255,255,255,0.7) transparent transparent transparent;
			  @include transition(all,1s);
			  @include box-sizing(border-box);
			  &:before,&:after{
			  	content: "";
			  	display: block;
			  	width: 22px;
			  	height: 2px;
			  	background-color: gray;
			  	position: absolute;
			  	top:-40px;
			  	right:5px;
			  }
			  &:before{
					@include transform(rotate(0));
					@include transition(all,0.2s);
			  }
			  &:after{
					@include transform(rotate(90deg));
					@include transition(all,0.2s);
			  }
			}			
		}

	}
	.monthCont{
		position: absolute;
		top:20px;
		right:20px;
		width: calc(100% - 40px);
		height: calc(100% - 40px);
		@include opacity(0);
		filter: alpha(opacity=0);
		@include transition(opacity,0.6s);
		z-index: 0;
		.cont{
			position: relative;
			z-index: 5;
			@extend %clear;
		}
		.pt-title{
			padding:10% 0 30px;
			@include box-sizing(border-box);
			@include span(24);
			h3{
				color:#9f9f9f;
				font-size: 72px;
				font-weight: bold;
				text-align: center;
				text-transform: uppercase;
				margin-bottom: 10px;
			}	
			p{
				width: 80%;
				margin: 0 auto;
				color:$darkColor;
				font-size: 18px;
				font-weight: bold;
				text-align: center;
				box-sizing:border-box;
				line-height: 1.5;
				white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
			}			
		}
		.pt-link{
			@include span(12 of 24);
			margin-top: 1%;
			li{
				@include span(6 of 12 at 7 isolate);
				margin-right: auto;
				@include box-sizing(border-box);
			}
			a{
				display: inline-block;
				padding:7% 5px;
				text-decoration: none;
				color:$darkColor;
				font-size: 14px;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		.pt-qrcode{
			@include span(12 of 24);
			img{
				margin-left: 30px;
				width: 60%;;
			}
		}
		.pt-btn{
			display: none;
		}
		&:after{
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top:0;
			left:0;
			z-index: 0;
			background-color: $lightColor;
			@include opacity(0.9) ;
			filter: alpha(opacity=90);
		}
	}
}

@include breakpoint(max-width 1400px) {
	.th-download{
		.monthCont{
			.pt-title{
				padding:8% 0 20px;
				h3{
					font-size: 56px;
				}	
				p{
					font-size: 16px;
				}			
			}
		}
	}
}

@include breakpoint(max-width 1200px) {
	.th-download{
		margin-top: 20px;
		.monthCont{
			.pt-title{
				padding:8% 0 20px;
				h3{
					font-size: 40px;
					margin-bottom: 1%;
				}	
				p{
					font-size: 14px;
				}			
			}
			.pt-link{
				margin-top: -1%;
				li{
					@include span(6 of 12 at 5 isolate);
					margin-right: auto;
				}
			}
		}
	}
}

@include breakpoint(max-width 980px) {
	.th-download{
		.md-month{
			@include span(12 of 24 nest);
			&.on{
				.pt-closeBtn{
					z-index: 20;
				}
				.cont{
					@include opacity(0);
					filter: alpha(opacity=0);
				}
				.monthCont{
					top: 0px;
			    right: 0px;
			    width: 0;
			    height: 0;
			    overflow: hidden;
					@include opacity(1);
					filter: alpha(opacity=100);
					@include transition(opacity,0.4s);
					@include transition(all,0.2s);
				}
			}
			&.open{
				.pt-closeBtn{
					border-color: rgba(255,255,255,0) transparent transparent transparent;
				  @include transition(all,0.2s);
				  &:before{
						@include transform(rotate(-45deg));
						@include transition(all,0.2s);
				  }
				  &:after{
						@include transform(rotate(45deg));
						@include transition(all,0.2s);
				  }
				}
				.cont{
					@include opacity(1);
					filter: alpha(opacity=100);
					@include transition(opacity,0.7s);
				}
				.monthCont{
					width: 100%;
			    height: 100%;
			    @include transition(all,0.4s);
				}
			}
			.monthCont{
				.pt-title{
					padding: 13% 0 20px;
					h3{
						font-size: 56px;
					}
					p{
						font-size: 18px;
					}
				}
				.pt-link{
					display: none;
				}
				.pt-qrcode{
					display: none;
				}
				.pt-btn{
					display: block;
					@include span(24);
					text-align: center;
					margin-top: 10%;
					a{
						display: inline-block;
						padding:10px;
						text-decoration: none;
						text-transform: uppercase;
						color:$lightColor;
						@include background-image(linear-gradient(90deg, rgba(173,1,255,1), rgba(7,195,255,1)));
						@include border-radius(20px);
						&:hover{
		          @include animation(hover-color 3s ease infinite);
		          background-size: 300% 300%;
		        }
					}
				}
			}
		}
	}

}

@include breakpoint(max-width 720px) {
	.th-download{
		.md-month{
			.monthCont{
				.pt-title{
					h3{
						font-size: 48px;
					}
				}
			}
		}
	}
}


@include breakpoint(max-width 640px) {
	.th-download{
		.md-month{
			@include span(24 of 24 nest);
		}
	}
}


@include breakpoint(max-width 460px) {
	.th-download{
		.md-month{
			.monthCont{
				.pt-title{
					h3{
						font-size: 40px;
					}
				}
			}
		}
	}

}