.th-evideo{
  h3{
    text-align: center;
    font-size: 14px;
    // font-weight: bold;
    color:#fff;
    // border-bottom:1px solid #333;
    padding:25px 0 25px;
    box-sizing: border-box;
    // background-color: #232323;
  }
  .md-title{
    width: 100%;
    text-align: center;
    img{
      max-width:195px;
      width: 100%;
      display: inline-block;
      transform: rotate(-10deg);
      margin-top: 30px;
    }
  }
  .md-cont{
    background-color: #121212;
    max-width: 1060px;
    width: 100%;
    margin:25px auto;
  }
  .videoCont{
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    video{
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}




@include breakpoint(max-width 980px) {
  .th-evideo{
    h3{
      padding-top:8%;
    }
    .md-cont{
      width: 90%;
    }
  }
}