#twoSlider{
  display: none;
  position: relative;
  z-index: 1;
  @include opacity(1);
  filter: alpha(opacity=100);
  @extend %clear;
  &.twoShow{
    display: block;
  }
  .th-left{
    width: 50%;
    float: left;
    overflow: hidden;
    &:hover{
      .pt-prev{
        left:0;
        @include transition(all,0.4s);
      }
      .pt-next{
        right: 0;
        @include transition(all,0.4s);
      }
      .pt-prev,.pt-next{
        @include opacity(1);
        filter: alpha(opacity=100);
        @include transition(all,0.4s);
      }
    }
    .pt-bar{
      content: "";
      display: block;
      height: 5px;
      width: 0;
      background-color: #fb5dc1;
      @include transition(all,0s);
      &.show{
        width: 100%;
        @include transition(all,3.2s);
      }
    }
  }
  .th-right{
    width: 50%;
    float: left;
    overflow: hidden;
    &:hover{
      .pt-prev{
        left:0;
        @include transition(all,0.4s);
      }
      .pt-next{
        right: 0;
        @include transition(all,0.4s);
      }
      .pt-prev,.pt-next{
        @include opacity(1);
        filter: alpha(opacity=100);
        @include transition(all,0.4s);
      }
    }
    .pt-bar{
      content: "";
      display: block;
      height: 5px;
      width: 0;
      background-color: #fb5dc1;
      @include transition(all,0s);
      &.show{
        width: 100%;
        @include transition(all,3.2s);
      }
    }
  }
  .md-slideShow{
    position: relative;
    overflow: hidden;
  }

  .pt-bannerList{
    padding-top:52%;
    li{
      position: absolute;
      top:0;
      width: 100%;
      z-index: 10;
      a{
        text-decoration: none;
      }
      .text{
        width: 100%;
        height: 40px;
        position:absolute;
        left:0;
        bottom:0;
        z-index: 100;
        color:$lightColor;
        padding:10px 20px;
        // font-size: 14px;
        font-size: 16px;
        letter-spacing: 1px;
        @include box-sizing(border-box);
        @include opacity(0);
        filter: alpha(opacity=0);
        @include transition(opacity,0s);
        p{
          line-height: 1.5;
          white-space:nowrap; 
          overflow:hidden;
          text-overflow:ellipsis;
          position: relative;
          z-index: 10;
          @include opacity(0);
          filter: alpha(opacity=0);
          top:100%;
          // @include transform(perspective(800px) rotateX(10deg) rotateY(-20deg));
        }
        .pShow{
          @include opacity(1);
          filter: alpha(opacity=100);
          top:0;
          // @include transform(perspective(800px) rotateX(0deg) rotateY(0deg));
          @include transition(all,0.6s);
        }        
        &.textOp{
          @include opacity(1);
          filter: alpha(opacity=1);
          @include transition(opacity,0.3s);
        }
        &:after{
          content: "";
          display: block;
          width: 100%;
          height: 40px;
          position: absolute;
          left:0;
          bottom:0;
          z-index: 0;
          background-color: $darkColor;
          @include opacity(0.6);
          filter: alpha(opacity=60);
        }        
      }
      &.active{
        z-index: 10;
        @include opacity(1);
      }
      img{
        width: 100%;
        top:0;
        left: 0;
      }
    }
    &:before{
      content:"";
      width: 100%;
      height: 100%;
      position: absolute;
      top:0;
      left:100%;
      z-index: 20;
      background-color: rgba(0,0,0,0.4);
      // @include background-image(linear-gradient(90deg, rgba(174,0,255,0.6), rgba(0,195,255,0.6)));

      @include opacity(0) ;
      filter: alpha(opacity=0);
      @include transition(all,0.32s);
    }    
    &.cover{
      &:before{
        left:0;
        @include opacity(1) ;
        filter: alpha(opacity=100);
        @include transition(all,0.32s);
      }
    }
  }


  .pt-prev,.pt-next{
    display: block;
    // display: none;
    @extend %indent;
    width: 30px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    z-index: 110;
    top:50%;
    margin-top: -25px;
    @include opacity(0);
    filter: alpha(opacity=0);
    @include transition(all,0.4s);
    background-size: 80% 100%;
    background-repeat: no-repeat;
    background-position: center;
    &.hide{
      display: none;
    }
  }

  .pt-prev{
    left:-30px;
    @include transition(all,0.4s);
    background-image: url("../images/arrowleft.png");
  }
  .pt-next{
    right: -30px; 
    @include transition(all,0.4s); 
    background-image: url("../images/arrowright.png");
  }
}

#th-sliderVideo{
  display: none;
  position: relative;
  padding-bottom: 26%;
  &.indexShow{
    display: block;
  }
}
#videoplayBtn{
  position: absolute;
  bottom: 10px;
  right: 120px;
  z-index: -1;
  opacity: 0;
  width: 75px;
  height: 75px;
  cursor: pointer;
  line-height: 100px;
  text-align: center;
  border:5px solid $lightColor;
  border-radius:50%;
  box-sizing:border-box;  
  @include transition(all,0.4s);
  span{
    @extend %triangle;
    top:17px;
  }
  .left{
    border-width: 16px 3px 16px 3px;
    border-color: $lightColor;    
    left:22px;
    @include transition(all,0.4s);
  }
  .right{
    border-width: 16px 3px 16px 3px;
    border-color: $lightColor;
    left:37px;
    @include transition(all,0.4s);
  }
  &:after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    border-radius:50%;
    opacity: 0.5;
    z-index: -1;
    background-color: $darkColor;
  }
  &.playing{
    span{
      top:17px;
    }
    .left{
      border-width: 9px 0 9px 15px;
      border-color: transparent transparent transparent $lightColor;
      height: 16px;
      margin-top: -1px;
      @include transition(all,0.4s);
    }
    .right{
      border-width: 8px 0 8px 12px;
      border-color: transparent transparent transparent $lightColor;
      margin-top: 8px;
      @include transition(all,0.4s);
    }
  }
}
#voiceBtn{
  position: absolute;
  bottom:10px;
  right:20px;
  z-index: -1;
  opacity: 0;
  width: 75px;
  height: 75px;
  cursor: pointer;
  line-height: 82px;
  text-align: center;
    border:5px solid $lightColor;
    border-radius:50%;
    box-sizing:border-box;  
  @include transition(all,0.4s);
  &:before,&:after{
    content: "";
    display: block;
    position: absolute;
  }
  &:after{
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    border-radius:50%;
    opacity: 0.5;
    z-index: -1;
    background-color: $darkColor;
  }
  &:before{
    width: 1px;
    height: 5px;
    background-color: $lightColor;
    @include transform(rotate(45deg));
    left:50%;
    top:50%;
    margin-top: -2px;
    opacity:1;
    @include transform(rotate(45deg) scaleX(70));
    @include transition(all,0.4s);
  }
  i{
    font-size: 32px;
    color:$lightColor;
  }
  &.nonemute{
    &:before{
      opacity: 0;
      @include transform(rotate(45deg) scaleX(1));
      @include transition(all,0.4s);
    }
  }
}
#indexVideo{
  width: 50%;
  position: absolute;
  left:50%;
  top:0;
  z-index: 0;
  overflow: hidden;
  .md-indexvideo{
    padding-top:52%;
    position: relative;
  }
  video{
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  &:hover{
    #videoplayBtn{
      z-index: 20;
      opacity: 1;
      @include transition(all,0.4s);
    }
    #voiceBtn{
      z-index: 20;
      opacity: 1;
      @include transition(all,0.4s);
    }
  }
}
#oneSlider{
  width: 50%;
  position: absolute;
  left:0;
  top:0;
  z-index: 0;
  .md-slideShow{
    position: relative;
    overflow: hidden;
    .bottomBar{
      width: 0%;
      height: 2px;
      position: absolute;
      left:0;
      bottom:0;
      z-index: 10;
      background-color: #C6361F;
      &.show{
        width: 100%;
        @include transition(all, 4s);
      }
    }
  }
  .pt-bannerList{
    padding-top:52%;
    li{
      position: absolute;
      top:0;
      width: 100%;
      .text{
        width: 100%;
        height: 40px;
        position:absolute;
        left:0;
        bottom:0;
        z-index: 100;
        color:$lightColor;
        padding:10px;
        @include box-sizing(border-box);
        @include opacity(0);
        filter: alpha(opacity=0);
        @include transition(opacity,0s);
        padding:10px 20px;
        font-size: 14px;
        p{
          line-height: 1.5;
          position: relative;
          z-index: 10;
        }
        &.textOp{
          @include opacity(1);
          filter: alpha(opacity=1);
          @include transition(opacity,0.4s);
        }
        &:after{
          content: "";
          display: block;
          width: 100%;
          height: 40px;
          position: absolute;
          left:0;
          bottom:0;
          z-index: 0;
          background-color: $darkColor;
          @include opacity(0.6);
          filter: alpha(opacity=60);
        }
      }
      
      &.active{
        z-index: 10;
        @include opacity(1);
      }
      img{
        width: 100%;
        top:0;
        left: 0;
      }
    }
  }


  .pt-prev,.pt-next{
    display: block;
    @extend %indent;
    width: 30px;
    height: 50px;
    position: absolute;
    z-index: 110;
    top:50%;
    margin-top: -25px;
    background-size: 80% 100%;
    background-repeat: no-repeat;
    background-position: center;
    &.hide{
      display: none;
    }
  }

  .pt-prev{
    background-image: url("../images/arrowleft.png");
  }
  .pt-next{
    right: 0;  
    background-image: url("../images/arrowright.png");
  }
}

#supportBanner{
  position: fixed;
  bottom:50px;
  left:20px;
  z-index: 50;
  display: none;
  @include animation(shake2 0.5s alternate infinite ease-in-out);
  .normal{
    width: 140px;
    height: 140px;    
    background-color: $lightColor;
    border-radius:50%;    
    background-color: $lightColor;
    border-radius:50%;    
    a{
      width: 100%;
      height: 100%;
      display: block;
      position: relative;
      text-decoration: none;
      &:before{
        content: "";
        display: block;
        width: 86%;
        height: 86%;
        border-radius:50%;
        position: absolute;
        top:5%;
        left:5%;
        border:3px solid #02c1ff;
        z-index: 0;
      }
      p{
        font-weight: bold;
        font-size: 24px;
        color:#02c1ff;
        line-height: 140px;
        text-align: center;
      }
      .icon-bikini{
        position: absolute;
        top:0px;
        left:20px;
        font-size: 32px;
        color:#ffa52c;
      }
      .icon-plane{
        position: absolute;
        top:24px;
        right:0;
        font-size: 40px;
        color:#e673f9;
        @include animation(plane 5s infinite ease-in-out);
      }
      .icon-strawberry{
        position: absolute;
        bottom:10px;
        left:25px;
        font-size: 32px;
        color:#68db1a;
      }
      &:hover{
        .searchicon{
          &:before{
            @include transform(scale(1.1));
            @include transition(all 0.3s ease-in-out);
          }
        }
      }
      .searchicon{
        width: 45px;
        height: 45px;
        position: absolute;
        bottom:0;
        right:0;
        z-index: 5;
        text-align: center;
        padding-top: 12px;
        box-sizing: border-box;
        &:before{
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          left:0;
          top:0;
          z-index: 0;
          background-color: #f18dd4;
          border-radius: 50%;
          @include transition(all 0.3s ease-in-out);
        }
        @include animation(shake1 0.5s alternate infinite ease-in-out);
        i{
          position: relative;
          z-index: 5;
          color:$lightColor;
          font-size: 25px;
        }
      }
    }    
  }
  .newYear{
    width: 135px;
    height: 135px;
    background-image: url(../images/taipei-101.svg);
    background-position: center top;
    background-repeat: no-repeat;
    a{
      text-decoration: none;
    }
    p{
      font-size: 18px;
      box-sizing: border-box;
      letter-spacing: 1px;
      font-weight: 1000;
      color: #fff;
      line-height: 236px;
      padding-left: 32px;
    }
  }
  .christmas{
    width: 155px;
    height: 155px;
    background-image: url(../images/snow-globe.svg);
    background-position: center top;
    background-repeat: no-repeat;
    a{
      text-decoration: none;
    }
    p{
      font-size: 18px;
      box-sizing: border-box;
      letter-spacing: 1px;
      font-weight: 1000;
      color: #3db39e;
      line-height: 264px;
      padding-left: 40px;
    }
  }
  .gow{
    width: 150px;
    height: 150px;
    background-image: url(../images/GOW.svg);
    background-position: center top;
    background-repeat: no-repeat;
    a{
      text-decoration: none;
      display: block;
      width: 100%;
      height: 100%;
    }
    p{
      font-weight: bolder;
      font-size: 16px;
      color: #fff;
      writing-mode: vertical-rl;
      text-orientation: upright;
      float: right;
      padding-right: 32px;
      padding-top: 35px;
      box-sizing: border-box;
    }
  }
  .act-okinawa{
    width: 165px;
    height: 165px;
    background-image: url(../images/okinawa.svg);
    background-position: center top;
    background-repeat: no-repeat;
    a{
      text-decoration: none;
      display: block;
      width: 100%;
      height: 100%;
    }
    p{
      font-weight: bolder;
      font-size: 16px;
      color: #fff;
      writing-mode: vertical-rl;
      text-orientation: upright;
      float: right;
      padding-right: 30px;
      padding-top: 83px;
      box-sizing: border-box;
    }
  }
  .action{
    width: 130px;
    height: 130px;
    background-image: url(../images/movie.svg);
    background-position: center top;
    background-repeat: no-repeat;
    a{
      text-decoration: none;
    }
    p{
      font-size: 14px;
      box-sizing: border-box;
      letter-spacing: 1px;
      font-weight: 900;
      color: white;
      line-height: 186px;
      padding-left: 26px;
    }
  }
}
.act-calendar{
  width: 155px;
  height: 155px;
  background-image: url(../images/calendar.svg);
  background-position: center top;
  background-repeat: no-repeat;
  a{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
  }
  p{
    font-weight: 900;
    font-family: -webkit-body;
    letter-spacing: 2px;
    color: #111;
    line-height: 200px;
    padding-left: 50px;
  }
}

#christmasMan{
  position: fixed;
  top:50%;
  left:100%;
  width: 500px;
  height: 350px;
  z-index: 255;
  background-image: url(../images/christman.png);
  background-repeat: no-repeat;
  @include transform(rotate(9deg));
}

.fixmargin{
  margin-top: 130px;
}

.index-nonelimit{
  @include container();
  padding:2% 4%;
  @include box-sizing(border-box);
  @extend %clear;
  .th-hotlist{
    max-width:calc(100% - 450px);
    width: 100%;
    float: left;
    padding-left: 40px;
    margin-left: 30px;
    box-sizing:border-box;
    position: relative;
    .pt-title{
      display: inline;
      vertical-align: top;
      color:#aaa;
      font-size: 13px;
      line-height: 20px;
      position: absolute;
      left:0;
    }
    ul{
      display: inline;
      vertical-align: top;
      li{
        display: inline-block;
        vertical-align: top;
        position: relative;
        color:#aaa;
        line-height: 20px;
        padding-right: 5px;
        &+li{
          &:before{
            content: "/";
            display: inline-block;
            margin-right: 6px;
          }          
        }
        a{
          color:#aaa;
          font-size: 13px;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
  .th-tool{
    width: 350px;
    float: right;
    text-align: right;
    margin-bottom: 20px;
    .md-share{
      width: 250px;
      display: inline-block;
      vertical-align: top;
      margin-right: -4px;
      padding-top: 8px;
      @include box-sizing(border-box);
      @extend %clear;
      span{
        float: left;
        padding:7px 10px 0 0;
        font-size: 13px;
        font-weight: bold;
      }
      ul{
        float: left;
        li{
          width: 25px;
          height: 25px;
          float: left;
          margin-right: 5px;
          @include border-radius(50%);
          background-color: #333333;
          cursor: pointer;
          text-align: center;
          a{
            display: inline-block;
            color:$lightColor;
            text-decoration: none;
            padding-top: 5px;
            @include box-sizing(border-box);
          }
          &:hover{
            background-color: #cccccc;
          }
        }
      }
    }
    .md-search{
      display: inline-block;
      vertical-align: top;
      width: 60px;
      height: 40px;
      position: relative;
      text-align: center;
      padding-top: 10px;
      @include box-sizing(border-box);
      input{
        width: 0;
        position: absolute;
        right: 100%;
        top:5px;
        height: 30px;
        border-color:transparent;
        background-color: transparent;
        @include transition(all,0.4s);
        @include box-sizing(border-box);
        border-right:1px solid #dbdbdb;
      }
      .pt-search{
        display: inline-block;
        text-decoration: none;
        font-size: 20px;
        color:$darkColor;
        .icon-search{
          font-weight: bold;
        }
      }
      &:hover{
        input{
          width: 250px;
          border:1px solid #dbdbdb;
          @include transition(all,0.4s);
          background-color: $lightColor;
        }
      }
    }    
  }
  .th-gallery{
    position: relative;
  }
}


.th-fixedfooter{
  position: fixed;
  right: 20px;
  bottom: 80px;
  z-index: 50;
  .md-footer{
    width: 50px;
    height: 150px;
    background-color:$lightColor;
    border-radius: 25px;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.4);
    a{
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      text-decoration: none;
      text-align: center;
      padding-top:15px;
      box-sizing: border-box;
      i{
        color:#717171;
      }
      &:hover{
        background-color:#cccccc;
        i{
          color:$lightColor;
        }
      }
    }
  }
}

@include breakpoint(max-width 1200px) {
  #twoSlider{
    .th-right{
      background-color: #dfdfdf;
    }
    .th-left{
      background-color: #dfdfdf;
    }
  }
}

@include breakpoint(max-width 1024px) {
  #th-sliderVideo{
    padding-bottom: 52%;
  }
  #indexVideo{
    display: none;
  }
  #oneSlider{
    width: 100%;
  }
}

@include breakpoint(max-width 980px) {
  #christmasMan{
    width: 300px;
    height: 210px;
    background-image: url(../images/christman_pad.png);
  }
  .index-nonelimit{
    padding:2%;
    .th-hotlist{
      max-width:90%;
      padding:5px 0 5px 40px;
      ul{
        li{
          a{
            &:hover{
              text-decoration: none;
            }
          }
        }
      }
    }
    .th-tool{
      width: 100%;
      padding-right: 5%;
      @include box-sizing(border-box);
      .md-search{
        width:auto;
        input{
          width: 250px;
          position: relative;
          right:5px;
          top:-5px;
          border:1px solid #dbdbdb;
          background-color: $lightColor;
          @include transition(all,0s);
        }
      }
    }
  }
  #gallery{
    >div{
      @include span(8);
    }
  }
}

@include breakpoint(max-width 768px) {
  #twoSlider{
    position: absolute;
    z-index: -1;
    @include opacity(0);
    filter: alpha(opacity=0);
  }
  #supportBanner{
    left:100%;
    bottom: 20px;
    margin-left: -150px;
    .normal{
      width: 80px;
      height: 80px;      
      a{
        &:before{
          top:4%;
          left:4%;
        }
        p{
          font-size: 14px;
          line-height: 80px;
        }
        .icon-bikini{
          font-size: 24px;
        }
        .icon-strawberry{
          font-size: 19px;
          bottom:-2px;
          left:26px;
        }
        .icon-plane{
          font-size: 19px;
          @include animation(plane2 5s infinite ease-in-out);
        }
        .searchicon{
          width: 25px;
          height: 25px;
          padding-top: 4px;
          i{
            font-size: 13px;
          }
        }
      }      
    }
    .christmas{
      width: 110px;
      height: 110px;
      margin-left:-20px;
      p{
        line-height: 188px;
        font-size: 12px;
        padding-left: 30px;
      }
    }
    .gow{
      width: 110px;
      height: 110px;
      margin-left:30px;
      p{
        font-size: 12px;
        padding-top: 26px;
        padding-right: 24px;
      }
    }
    .act-okinawa{
      width: 110px;
      height: 110px;
      margin-left:-20px;
      p{
        font-size: 12px;
        padding-top: 45px;
        padding-right: 20px;
      }
    }
    .act-calendar{
      width: 110px;
      height: 110px;
      margin-left:-20px;
      p{
        line-height: 145px;
        font-size: 12px;
        padding-left: 40px;
      }
    }
    .action{
      width: 100px;
      height: 100px;
      margin-left: 45px;
      p{
        font-size: 12px;
        padding-top: 26px;
        line-height: 90px;
        padding-left: 18px;
      }
    }
  }
  .th-fixedfooter{
    right: auto;
    left: 0;
    bottom:10px;
    .md-footer{
      width: 40px;
      height: 120px;
      border-radius: 20px;
      a{
        width: 40px;
        height: 40px;
        padding-top: 11px;
      }
    }
  }
}

@include breakpoint(max-width 720px) {
  #christmasMan{
    // width: 160px;
    // height: 112px;
    // background-image: url(../images/christman_mobile.png);
  }
  #gallery{
    >div{
        @include span(12);
    }
  }
  #oneSlider{
    .pt-bannerList{
      li{
        .text{
          font-size: 12px;
        }
      }
    }
  }  
}

@include breakpoint(max-width 640px) {
  .index-nonelimit{
    .th-hotlist{
      margin-left: 30px;
    }
    .th-tool{
      padding-right: 0;
      .md-search{
        width:100%;
        float: left;
        text-align: left;
        padding-left: 9%;
        @include box-sizing(border-box);
        input{
          max-width: 250px;
          width: 80%;
        }
        a{
          margin-top:5px;
        }
        &:hover{
          input{
            max-width: 250px;
            width: 80%;
          }
        }        
      }
      .md-share{
        width: 100%;
        float: left;
        padding-left: 9%;
        @include box-sizing(border-box);
      }
    }
  }
}

@include breakpoint(max-width 480px) {
  #gallery{
    >div{
      @include span(24);
    }
  }
  #oneSlider{
    .pt-bannerList{
      li{
        &:after{
          display: none;
        }
        .text{
          display: none;
        }
      }
    }
  }
  .index-nonelimit{
    .th-tool{
      .md-search{
        padding-left: 11%;
      }
      .md-share{
        padding-left: 10%;
      }
    }
  }
}

@include breakpoint(max-width 460px) {
  .index-nonelimit{
    padding:2% 0;
  }
  #gallery{
    width: 100%;
    margin-left:0;
    margin-right:0;
  }
}