
.main-product, .main-productDigital, .main-productDigital2{
  margin-bottom: 50px;
  .th-otherRelated{
    max-width: 1060px;
    width: 100%;
    margin:0 auto;
    float: none;
  }
}

.text-info{
  display: block;
  font-size: 12px;
  color: #585858;
}

.text-danger{
  display: block;
  font-size: 12px;
  color: #d91256;  
}

.pt-warning{
  display: block;
  font-size: 12px;
  color: #d91256;
}

.main-shoppingSteps{
  .text-info{
    padding: 5px 0 5px 22px;
  }
  .text-danger{
    padding: 5px 0 0 22px;
  }
  .pt-warning{
    padding: 5px 0 0 22px;
  }
}
.main-shoppingSteps1{
  .text-danger{
    padding: 5px 0 0 22px;
  }
}

.th-mallTitle{
  padding:26px 0;
  box-sizing: border-box;
  border-bottom:1px solid #e2e2e2;
  position: relative;
  h2{
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    color:#000;
    text-align: center;
    padding: 0 135px;
    box-sizing: border-box;
    a{
      display: inline-block;
      vertical-align: middle;
      padding: 0 0 3px;
      box-sizing: border-box;
      text-decoration: none;
      font-size:14px;
      font-weight: bold;
      color:#999999;
      position: relative;
      &+a{
        margin-left:90px;
        &:after{
          content:"/";
          display: block;
          color:#000;
          position: absolute;
          top:0;
          left:-50px;
        }
      }
      &:before{
        content:"";
        width: 0%;
        height: 1px;
        position: absolute;
        left:0;
        bottom:0px;
        background-color:#333;
        @include transition(all,0.3s);
      }
      &:hover{
        &:before{
          width: 100%;
          @include transition(all,0.3s);
        }
      }
      &.on{
        color:#000;
        border-bottom: 1px solid;
      }
    }
  }
  .pt-backlink{
    position: absolute;
    top: 30px;
    left: 90px;
    text-decoration: none;
    font-size: 12px;
    color:#919191;
    &:before{
      content:"";
      width: 0%;
      height: 1px;
      position: absolute;
      left:0;
      bottom:-2px;
      background-color:#919191;
      @include transition(all,0.3s);
    }
    &:hover{
      &:before{
        width: 100%;
        @include transition(all,0.3s);
      }
    }
  }
  .md-shoppingCart{
    position: absolute;
    top: 22px;
    right: 90px;
    text-decoration: none;
    color:#919191;
    z-index: 10;
    &:hover{
      color:#211922;
    }
    i{
      display: inline-block;
      vertical-align: middle;
      font-size: 20px;
    }
    span{
      display: inline-block;
      vertical-align: middle;
      font-size: 12px;
    }
    .quantity{
      &:after{
        content: attr(data-after);
        margin-left: 4px;
      }
    }
    .price{
      &:before{
        content:attr(data-title);
      }
    }
  }
}

.th-mallType{
  width: 100%;
  min-height: 50px;
  background-color:#f3f3f3;
  margin-bottom: 10px; 
  .md-cont{
    max-width: 1400px;
    width: 80%;
    margin: 0 auto;
    padding-top: 14px;
    .type{
      margin:0px 16px 10px;
      position: relative;
      display: inline-block;
    }
  }
}

.th-malllist, .th-mallDigital{
  max-width: 1400px;
  width: 100%;
  margin:0 auto;
  .md-productlist{
    width: 100%;
    @extend %clear;
    li{
      float:left;
      width:calc(25% - 50px);
      margin: 0 25px 35px;
      position: relative;
      &.status-new{
        .product{
          .new{
            display: inline-block;
          }
        }
      }
      &.status-soldout{
        .product{
          .soldout{
            display: inline-block;
          }
        }
      }
      &.status-bought{
        .product{
          .bought{
            display: inline-block;
          }
        }
      }
      &.status-support{
        .product{
          .support{
            display: inline-block;
          }            
        }
      }
      &.status-vip{
        .product{
          .vip{
            display: inline-block;
          }            
        }
      }
      &.status-discount{
        .product{
          .price{
            text-decoration: line-through;
          }
          .discount{
            display: inline-block;
          }
        }
      }
      &.status-video{
        .product{
          .video{
            display: inline-block;
            background: url(../images/icon/icon_play.svg) no-repeat center;
            width: 4em;
            height: 4em;
            top: 1em;
            left: 1em;
            position: absolute;;
          }
        }
      }
    }
    .product{
      font-family: Arial, Helvetica, sans-serif;
      display: block;
      text-align: center;
      text-decoration: none;
      font-size: 13px;
      padding-bottom: 8px;
      box-sizing: border-box;
      position: relative;
      width: 100%;
      padding-top: 100%;
      background-repeat: no-repeat;
      background-size: 100%;
      @include transition(all,0.2s);
      &:hover{
        background-color:#f7f7f7;
      }
      .support{
        display: none;
        height: 22px;
        line-height: 22px;
        padding:0 8px; 
        color:#fff;
        background-color:#41b6e6;
        position: absolute;
        top:10px;
        right:10px;
      }
      .vip{
        display: none;
        height: 22px;
        line-height: 22px;
        padding:0 8px; 
        color:#fff;
        background-color:#ed2969;
        position: absolute;
        top:10px;
        right:85px;
      }
      .bought{
        display: none;
        height: 22px;
        line-height: 22px;
        padding:0 8px; 
        color:#fff;
        background-color:#959595;
        border-radius: 10px;
        position: absolute;
        right: 5px;
        bottom: 145px;
      }
      .pt-count{
        float: right;
        color: #aaa;
        font-size: 12px;
        padding: 5px;
        span{
          margin-left: 3px;
        }
      }
      figcaption{
        font-weight: 400;
        line-height: 20px;
        color:#211922;
        margin-bottom: 10px;
        margin-top:30px;
        padding:0 15px;
        box-sizing: border-box;
        white-space:nowrap; 
        width:100%; 
        overflow:hidden;
        text-overflow:ellipsis;
      }
      .price{
        display: block;
        font-weight: 700;
        color:#211922;
        margin-bottom: 10px;
        &:before{
          content:attr(data-before);
        }
        &:after{
          content:attr(data-after);
          margin-left: 3px;
        }
      }
      .multi-status{
        display: block;
        width: 100%;
        height: 30px;
      }
      .soldout{
        font-size: 12px;
        display: none;
        height: 19px;
        line-height: 20px;
        background-color:#d42222;
        color:#fff;
        padding: 0 10px; 
        box-sizing: border-box;
      }
      .new{
        font-size: 12px;
        font-weight: 700;
        display: none;
        color:#cd0000;
        height: 21px;
        margin:0 10px 10px;
      }      
      .discount{
        font-weight: 700;
        display: none;
        color:#cd0000;
        height: 21px;
        margin:0 2px 10px;
        &:before{
          content:attr(data-before);
        }
        &:after{
          content:attr(data-after);
          margin-left: 3px;
        }
      }
    }
  }  
  .md-pagelist{
    margin-top: 50px;
    .items{
      text-align: center;
      font-size: 13px;
      color:#211922;
      font-weight: bold;
      span{
        display: inline-block;
        vertical-align: top;
        margin: 0 8px;
      }
    }
    .pt-pagelist{
      text-align: center;
      margin-top:10px;
      >a{
        display: inline-block;
        vertical-align: middle;
        position: relative;
        height: 20px;
        width: 20px;
        &:after{
          @extend %triangle;
          top:4px;
          left:50%;
          margin-left:-3px;
        }
      }
      ul{
        display: inline-block;
        vertical-align: middle;
        @extend %clear;
        li{
          display: inline-block;
          vertical-align: middle;
          font-size:13px;
          height: 20px;
          width: 20px;
          a{
            display: block;
            text-align: center;
            width: 100%;
            height: 100%;
            text-decoration: none;
            padding-top: 3px;
            box-sizing: border-box;
            color:#211922;
            &:hover{
              color:gray;
              font-weight: bold;
            }
          }
        }
        .on{
          font-weight: bold;
        }
      }
      .prevBtn{
        &:after{
          border-width: 6px 6px 6px 0;
          border-color: transparent gray transparent transparent;
        }
      }
      .nextBtn{
        &:after{
          border-width: 6px 0 6px 6px;
          border-color: transparent transparent transparent gray;
        }
      }
    }
  }
}

body{
  &.hidden{
    overflow: hidden;
  }
}

.th-product, .th-productDigital{
  max-width: 1300px;
  width: 100%;
  margin:0 auto;
  .md-title{
    text-align: center;
    color:#211922;
    padding:30px 20px 0px;
    box-sizing: border-box;
    .md-title-txt{
      //display: flex;
      font-size: 24px;
      margin-bottom: 20px;
      letter-spacing: 2px;
      line-height: 1.2;
      font-weight: bold;
      width: 100%;
      min-width: 540px;
      //height: 48px;
      margin: 0 auto;
      div{
        margin: 0 auto;
        width: fit-content;
        height: 28px;
        padding-left: 1%;
        margin-bottom: 20px;
      }
      @include breakpoint(max-width 500px) {
        display: inline;
        div{
          height: 80px;
          width: 100%;
          &.support{
            width: auto;
          }
          &.vip{
            margin-bottom: 15px;
          }
        }
        span{
          float: right !important;
          margin: 5px auto 5px !important;
          margin-right: 0px !important;
        }
        b{
          width: 100%;
        }
      }
      @include breakpoint(max-width 400px) {
        div{
          height: 95px;
        }
      }
      b{
        float: left;
        margin-right :10px; 
      }
      span{
        float: left;
        margin-right: 5px;
        div{
          &.support{
            width: auto;
            height: 24px;
          }
          &.vip{
            width: auto;
            height: 24px;
          }
        }
      }
    }
    .price{
      display: block;
      font-size:16px;
      &:before{
        content:attr(data-before);
      }
      &:after{
        content:attr(data-after);
      }
    }
    .multi-status{
      display: block;
      .new{
        display: none;
        color:#cd0000;
        height: 21px;
        margin:10px 10px;
      }
      .discount{
        display: none;
        color:#cd0000;
        height: 21px;
        margin:10px 2px;
        &:before{
          content:attr(data-before);
        }
        &:after{
          content:attr(data-after);
          margin-left: 3px;
        }
      }
      .soldout{
        display: none;
        height: 21px;
        margin-top:10px;
        background-color:#d42222;
        color:#fff;
        padding:3px 11px 5px; 
        box-sizing: border-box;
      }
    }
  }
  .status-support{
    .support{
      &:after{
        display: inline-block;
        vertical-align: middle;
        content: attr(data-support);
        color: #fff;
        font-size: 13px;
        background-color: #41b6e6;
        padding: 4px 7px 5px;
        margin: 2px 0 0 0;
        cursor: pointer;  
        float: left;      
      }
    }
  }
  .status-vip{
    .vip{
      &:before{
        display: inline-block;
        vertical-align: middle;
        content: attr(data-vip);
        color: #fff;
        font-size: 13px;
        background-color: #ed2969;
        padding: 4px 7px 5px;
        margin: 2px 10px 0 0;
        cursor: pointer;
        float: left;       
      }
    }
  }
  .status-new{
    .multi-status{
      .new{
        display: inline-block;
        vertical-align: top;
      }
    }
  }
  .status-discount{
    .price{
      text-decoration: line-through;
    }
    .multi-status{
      .discount{
        display: inline-block;
        vertical-align: top;
      }
    }
  }
  .status-soldout{
    .multi-status{
      .soldout{
        display: inline-block;
        vertical-align: top;
      }
    }
  }
  .gp-mdInfo{
    min-height: calc(100vh - 360px);
    padding-bottom: 35px;
    box-sizing: border-box;
    position: relative;
    @extend %clear;
  }
  .active{
    display: block !important;
  }
  .md-video{
    width: 64%;
    max-height: inherit;
    float:left;
    box-sizing: border-box;
    display: none;
    margin-bottom: 1em;
    max-height: 450px;
    video{
      display: block;
      margin: 40px auto 0;
      position: relative;
      width: 100%;
      max-width: 800px; 
      max-height: 450px; 
    }
    .loginBtn{
      width: 800px;
      height: 120px;
      position: absolute;
      top: 185px;
      left: calc( 32% - 400px); 
      background: rgba(186, 186, 186, 0.5);
      color: white;
      list-style: none;
      display: none;
      text-align: center;
      max-width: 800px;
      .lock{
        margin: 20px auto;
        width: 50px;
        height: 50px;
        background: url(../images/icon/icon_lock.svg) no-repeat center;
        border-radius: 10px;
        background-size: contain;
      }
      a{
        color: white;
        text-align: center;
        text-decoration: none;
        span{
          margin-left: 5px;
        }
      }
    }
    .playBtn{
      width: 120px;
      height: 60px;
      position: absolute;
      top: 225px;
      left: calc( 340px + 2% );
      background: url(../images/icon/icon_play.svg) no-repeat center;
      -moz-background: url(../images/icon/icon_play.svg) no-repeat center;
      -webkit-background: url(../images/icon/icon_play.svg) no-repeat center;
      border: 0;
      /*background-color: rgba(0,0,0,0.5);
      border-radius: 10px;*/
      background-size: contain;
      cursor: pointer;
      display: block;
      img{
        margin: 0px auto;
        width: 50%;
      }
    }
  }
  .md-img{
    width: 64%;
    float:left;
    padding:0 35px;
    box-sizing: border-box;
    display: none;
    >figure{
      width: 90%;
      margin: 0 auto;
      cursor: url(../images/icon/icon_search.ico),zoom-in;
      img{
        width: 100%;
      }      
    }
    .pt-smallimg{
      width: 100%;
      @extend %clear;
      position:relative;
      margin-top: 10px;
      li{
        width: 20%;
        float:left;
        cursor: pointer;
        //margin: 1% 0;
        img{
          width: 90%;
          margin: 0 auto;
        }
      }
      .pt_btn{
        position:absolute;
        height:100%;
        top:0;
        right:0;
        background: #c6c6c6;
        //margin: 1% 0;
        background: url(../images/icon/icon_lock.svg) #c6c6c6 center no-repeat;
        background-size: 33%; 
        a{
          //width: 60px;
          //margin: 0 auto; 
          float: left;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .md-text{
    width: 36%;
    float:left;
    padding:40px 40px 40px 0;
    box-sizing: border-box;
    font-size:13px;
    text-align: center;
    >span{
      display: block;
      margin-bottom: 15px;
      color:#585858;
      line-height: 26px;
      a{
        display: inline-block;
        color:#ec127b;
        text-decoration: none;
        position: relative;
        &:after{
          content:"";
          display: block;
          width: 0;
          height: 1px;
          background-color:#ec127b;
          position: absolute;
          left:0;
          bottom:5px;
        }
        &:hover{
          &:after{
            width: 100%;
            @include transition(all,0.2s);
          }
        }
      }
    }       
    h5{
      font-weight: bold;
      color:#111111;
      line-height: 24px;
      a{
        text-decoration: none;
        color:#666;
        font-size: 20px;
        font-weight: bold;
        position: relative;
        &:hover{
          color:#ec127b;
        }
      }
      .icon-question{
        &:before{
          position: absolute;
          top: 3px;
          left: 5px;
        }
      }
    }
    .pt-size{
      font-size: 14px;
      color:#211922;
      padding-top:10px;
      margin-bottom: 20px;
      span{
        display:inline-block;
        vertical-align: middle;
      }
      .el-select{
        display:inline-block;
        vertical-align: middle;
        width: 200px;
        height: 40px;
        position: relative;
        &:after{
          @extend %triangle;
          z-index: 5;
          top: 16px;
          right: 10px;
          border-width: 7px 5px 0 5px;
          border-color: #171717 transparent transparent transparent;
        }         
      }
      select{
        width: calc(100% - 1px);
        height: 100%;
        border: none;
        border:1px solid #999999;
        box-shadow: none;
        background: transparent;
        background-image: none !important;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        position: relative;
        z-index: 0;
        padding: 4px 0 4px 20px;
        box-sizing: border-box;
      }
      select::-ms-expand {
        display: none;
      }
    }
    .pt-quantity{
      font-size: 14px;
      color:#211922;
      padding-top:10px;
      margin-bottom: 35px;
      span{
        display:inline-block;
        vertical-align: middle;
      }
      .el-select{
        display:inline-block;
        vertical-align: middle;
        width: 200px;
        height: 40px;
        position: relative;
        &:after{
          @extend %triangle;
          z-index: 5;
          top: 16px;
          right: 10px;
          border-width: 7px 5px 0 5px;
          border-color: #171717 transparent transparent transparent;
        }         
      }
      select{
        width: calc(100% - 1px);
        height: 100%;
        border: none;
        border:1px solid #999999;
        box-shadow: none;
        background: transparent;
        background-image: none !important;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        position: relative;
        z-index: 0;
        padding: 4px 0 4px 20px;
        box-sizing: border-box;
      }
      select::-ms-expand {
        display: none;
      }
    }
    .pt-share{
      max-width: 1300px;
      width: 100%;
      margin: 60px auto 40px;
      padding-top: 17px;
      padding-left: 8%;
      box-sizing: border-box;
      border-top:1px solid #e2e2e2;
      @extend %clear;
      .common-liveShare{
        margin-top: 0;
      }
    }
    .pt-btn{
      // position: absolute;
      // bottom: 30px;
      // width: 420px;
      // margin-left: 2%;
      a{
        display: block;
        max-width: 100%;
        width: 90%;
        height: 50px;
        margin:0 auto 30px;
        border:1px solid #919191;
        box-sizing: border-box;
        font-size: 13px;
        color:#585858;
        text-align: center;
        line-height: 50px;
        text-decoration: none;
        position: relative;
        &.active{
          line-height: 45px;
          @include transition(all,0.3s);
        }
        &:before,&:after{
          content:"";
          position: absolute;
          width: 1px;
          height: 0%;
          background-color: #fff;
          @include transition(all,0.4s);
        }
        &:before{
          top:-1px;
          left:-1px;
        }
        &:after{
          bottom:-1px;
          right: -1px;
        }
        >span{
          display: block;
          width: 100%;
          height: 100%;
          position: relative;
          z-index: 10;
          &:before,&:after{
            content:"";
            position: absolute;
            width: 0%;
            height: 1px;
            background-color: #fff;
            @include transition(all,0.4s);
          }
          &:before{
            top:-1px;
            left:0;
          }
          &:after{
            bottom: -1px;
            right:0;
          }
        }              
        &:hover{
          color:#fff;
          border-color:transparent;
          background-color:#515151;
          &:before,&:after{
            height: calc(100% + 2px);
            @include transition(all,0.4s);
          }
          span{
            &:before,&:after{
              width: 100%;
              @include transition(all,0.4s);
            }
          }
        }
      }
    }
    .pt-vipbtn{
      // position: absolute;
      // bottom: 30px;
      // width: 420px;
      // margin-left: 2%;
      a{
        display: block;
        max-width: 100%;
        width: 100%;
        height: 40px;
        margin:0 auto 30px;
        background-color: #e02738;
        box-sizing: border-box;
        font-size: 13px;
        color:#fff;
        text-align: center;
        line-height: 40px;
        text-decoration: none;
        position: relative;
        font-weight: 900;
        &.active{
          line-height: 45px;
          @include transition(all,0.3s);
        }
        &:before,&:after{
          content:"";
          position: absolute;
          width: 1px;
          height: 0%;
          background-color: #fff;
          @include transition(all,0.4s);
        }
        &:before{
          top:-1px;
          left:-1px;
        }
        &:after{
          bottom:-1px;
          right: -1px;
        }
        >span{
          display: block;
          width: 100%;
          height: 100%;
          position: relative;
          z-index: 10;
          &:before,&:after{
            content:"";
            position: absolute;
            width: 0%;
            height: 1px;
            background-color: #fff;
            @include transition(all,0.4s);
          }
          &:before{
            top:-1px;
            left:0;
          }
          &:after{
            bottom: -1px;
            right:0;
          }
        }              
        &:hover{
          color:#fff;
          border-color:transparent;
          background-color:#b72936;
          &:before,&:after{
            height: calc(100% + 2px);
            @include transition(all,0.4s);
          }
          span{
            &:before,&:after{
              width: 100%;
              @include transition(all,0.4s);
            }
          }
        }
      }
    }
  }
  .md-fullScreen{
    width: 100%;
    height: 100%;
    position: fixed;
    left:0;
    bottom: -50%;
    z-index: -1;
    opacity: 0;
    background-color:#fff;
    @include transition(all, 0.5s);
    &.show{
      bottom:0;
      opacity: 1;
      z-index: 105;
      @include transition(all, 0.5s);
    }
    .pt-closebtn {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 20;
      cursor: pointer;
      &:before,
      &:after {
          content: "";
          display: block;
          width: 40px;
          height: 2px;
          background-color: #8a8a8a;
          position: absolute;
          top: 20px;
      }
      &:before {
          @include transform(rotate(-45deg));
          @include transition(rotate, 0.5s);
      }
      &:after {
          @include transform(rotate(45deg));
          @include transition(rotate, 0.5s);
      }
    }
    .pt-img{
      height: 100%;
      width: 80%;
      position: relative;
      z-index: 0;
      margin:0 auto;
      li{
        width: 110%;
        height: 100%;
        position: absolute;
        top: 0;
        left: -5%;
        z-index: 0;
        opacity: 0;
        span{
          display: block;
          position: relative;
          width: 100%;
          height: 100%;
        }
        &.on{
          z-index: 5;
          opacity: 1;
        }
        img{
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: auto;
          max-width: 100%;
          height: auto;
          max-height: 100%;
          margin: auto;  
        }
      }
    }
    .leftBtn{
      width: 50%;
      height: 100%;
      position: absolute;
      top:0;
      left:0;
      z-index: 10;
      cursor: pointer;
    }
    .rightBtn{
      width: 50%;
      height: 100%;
      position: absolute;
      top:0;
      right:0;
      z-index: 10;
      cursor: pointer;
    }
    >i{
      position: absolute;
      top:50%;
      margin-top:-8px;
      z-index: 5;
    }
    .icon-arrow-left{
      left:0;
    }
    .icon-arrow-right{
      right:0;
    }
    .type-n1,q:before,q:after {
      font: 100px/76px "Times Ten LT W05", Perpetua, Georgia, serif;
      letter-spacing: normal;
      word-spacing: normal;
    }
    .pt-imgNumber{
      position: absolute;
      left:80%;
      top:50%;
      margin-top:-39px;
      z-index: 5;
      .imgNow{
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 46px;
        padding-bottom: 67%;
        >span{
          position: absolute;
        }
      }
      .imgTotle{
        position: relative;
        display: inline-block;
        vertical-align: top;
        &:before{
          content:"/";
          display: inline-block;
          margin-left: -32px;
          margin-right: -18px;
        }
      }
    }
  }
  .md-mask{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: -2;
    opacity: 0;
    background-color:#000;
    -webkit-transition: opacity .3s .2s ease-in-out;
    -o-transition: opacity .3s .2s ease-in-out;
    -moz-transition: opacity .3s .2s ease-in-out;
    transition: opacity .3s .2s ease-in-out;
    &.show{
      opacity: 0.8;
      z-index: 101;
      -webkit-transition: opacity .3s .2s ease-in-out;
      -o-transition: opacity .3s .2s ease-in-out;
      -moz-transition: opacity .3s .2s ease-in-out;
      transition: opacity .3s .2s ease-in-out;
    }
  }
}

// .th-productDigital{
//   .gp-mdInfo{
//     position: relative;
//   }
//   .md-text{
//     .pt-btn{
//       position: absolute;
//       bottom: 30px;
//       width: 420px;
//       margin-left: 2%;
//     }
//   }
// }


.th-productShare{
  border-top: 1px solid #e2e2e2;
  padding:18px;
  box-sizing: border-box;
  position: relative;
  margin-bottom:35px;
  .md-others{
    position: absolute;
    top:18px;
    right:60px;
    @extend %clear;
    li{
      float: left;
      margin-left: 30px;      
      a{
        color:#585858;
        font-size: 12px;
        text-decoration: none;
        position: relative;
        &:before{
          content:"";
          width: 0%;
          height: 1px;
          position: absolute;
          left:0;
          bottom:0px;
          background-color:#919191;
          @include transition(all,0.3s);
        }
        &:hover{
          &:before{
            width: 100%;
            @include transition(all,0.3s);
          }
        }
      }
    }
  }
}


.th-cartList{
  width: 100%;
  height: 100%;
  opacity: 0;
  position: fixed;
  top:100%;
  left:0;
  background-color:#fff;
  z-index: -1;
  overflow-y: auto;
  @include transition(all,0.5s);
  .md-head{
    width: 100%;
    position: relative;
    padding: 22px 20px 23px;
    border-bottom: 1px solid #e2e2e2;
    box-sizing: border-box;
    margin-bottom: 20px;
    h3{
      font-size: 24px;
      font-weight: bold;
      color:#a3a3a3;
      text-align: center;
    }
    .items{
      position: absolute;
      top:23px;
      right:20px;
      font-size: 12px;
      color:#919191;
      i{
        display: inline-block;
        vertical-align: middle;
        font-size: 19px;
      }
      span{
        display: inline-block;
        vertical-align: middle;
      }
      .quantity{
        &:after{
          content: attr(data-after);
          margin-left: 4px;
        }
      }
      .price{
        &:before{
          content:attr(data-title);
        }
      }
    }
  }
  .cartCont{
    max-width: 800px;
    width: 100%;
    margin:0 auto;
    h3{
      color:#000;
      font-size: 13px;
      text-align: center;
    }
    .md-cartCont{
      >div{
        width: 100%;
        padding-bottom: 160px;
        box-sizing: border-box;
        @extend %clear;
        &.stepHide{
          display: none;
        }
        .btn-next{
          display: block;
          width: 100%;
          float:left;
          text-align: center;
          a,button{
            display: inline-block;
            width: 50%;
            text-decoration: none;
            border:none;
            background-color: transparent;
            font-size: 13px;
            color:#585858;
            padding:20px 0;
            border:1px solid #919191;
            box-sizing: border-box;
            background-color: #fff;
            @include transition(all, 1s);
            &:hover{
              color:#fff;
              background-color: #515151;
              @include transition(all, 1s);
            }
          }          
        }        
      }
      .emptyCart{
        .pt-empty{
          margin-top: 50px;
          color:#585858;
          font-size: 13px;
          text-align: center;
          >span{
            display: block;
            margin-bottom: 5px;
            padding:0 35px;
            box-sizing: border-box;
            line-height: 24px;
          }
          a{
            color:#ec127b;
          }
        }
      }
      .shoppingCart{
        >ul{
          float: left;
          width: 100%;
          li{
            width: 100%;
            height: 155px;
            border-bottom: 1px solid #e2e2e2;
            padding: 26px 0;
            box-sizing: border-box;
            img{
              width: 120px;
              display: inline-block;
              vertical-align: middle;
            }
            >span{
              display: inline-block;
              vertical-align: middle;
              font-size: 13px;
              color:#111111;
            }
            .text{
              width: 270px;
              padding-left: 15px;
              box-sizing: border-box;
            }
            .price{
              width: 90px;
            }
            .select{
              width: 195px;
              text-align: center;
            }
            .total{
              width: 70px;
            }
            select{
              display: inline-block;
              vertical-align: middle;
              padding: 10px 19px 11px;
            }
            .btn-delete{
              width: 35px;
              button{
                border:none;
                background-color:transparent;
              }
            }
          }
        }        
        button{
          display: inline-block;
          vertical-align: middle;
          width: 20px;
          height: 20px;
          border:none;
          border-radius: 0;
          background-color: transparent;
          position: relative;
          cursor: pointer;
          &:before,&:after{
            content:"";
            display: block;
            width: 15px;
            height: 1px;
            background-color:#b7b7b7;
            position: absolute;
            top:9px;
          }
          &:before{
            @include transform(rotate(45deg));
            left:2px;
          }
          &:after{
            @include transform(rotate(-45deg));
            right:3px;
          }
        }
        .totalinfo{
          display: block;
          float: right;
          width: 335px;
          text-align: right;
          color: #111111;
          font-size: 13px;
          margin:25px 70px 140px 0;
          &:before{
            content:attr(data-title);
            float: left;
            color:#585858;
          }
        }          
      }      
    }
    .md-close{
      width: 100%;
      position: fixed;
      bottom: -10px;
      left:0;
      text-align: center;
      z-index: -1;
      opacity: 0;
      @include transition(all,0.5s);
      .btn-close{
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color:#141114;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        &:before,&:after{
          content:"";
          display: block;
          width: 22px;
          height: 2px;
          background-color:$lightColor; 
          position: absolute;
          top:25px;
        }
        &:before{
          left:14px;
          @include transform(rotate(45deg));
        }
        &:after{
          right:14px;
          @include transform(rotate(-45deg));
        }
      }
    }
  }  
}

.th-buyNow{
  width: 100%;
  height: 100%;
  opacity: 0;
  position: fixed;
  top:100%;
  left:0;
  background-color:#fff;
  z-index: -1;
  overflow-y: auto;
  @include transition(all,0.5s);
  .md-close{
    text-align: right;
    .btn-close{
      display: inline-block;
      width: 55px;
      height: 55px;
      margin:20px 20px 0 0;
      position: relative;
      cursor: pointer;
      &:before, &:after{
        content:"";
        display: block;
        position: absolute;
        top:50%;        
        width: 62px;
        height: 2px;
        background-color:#666666;
        transform-origin:center;
      }
      &:before{
        left:-4px;
        @include transform(rotate3d(0, 0, 1, 45deg));
      }
      &:after{
        right:-3px;
        @include transform(rotate3d(0, 0, -1, 45deg));
      }
      span{
        width: 55px;
        height: 55px;
        position: absolute;
        top: 0;
        left:0;
        z-index: 10;
        &:before, &:after{
          content:"";
          display: block;
          position: absolute;
          top:50%;      
          width: 0px;
          height: 2px;
          background-color:#d81255;
          transform-origin:center;
          @include transition(all, 0.3s);
        }
        &:before{
          left:26px;
          @include transform(rotate3d(0, 0, 1, 45deg));
        }
        &:after{
          right:27px;
          @include transform(rotate3d(0, 0, -1, 45deg));
        }
      }
      &:hover{
        span{
          &:before, &:after{
            width: 62px;
            @include transition(all, 0.3s);
          }
          &:before{
            left:-4px;
          }
          &:after{
            right:-3px;
          }
        }
      }
    }
  }
  .md-cont{
    margin-top:60px;
    .pt-pay{
      text-align: center;
      a{
        display: inline-block;
        width: 400px;
        text-decoration: none;
        border:1px solid #bdbdbd;
        text-align: center;
        color:#585858;
        font-size: 13px;
        height: 50px;
        margin:0 auto 30px;
        box-sizing: border-box;
        line-height: 50px;
        position: relative;
        &.active{
          line-height: 45px;
          @include transition(all,0.3s);
        }
        &:before,&:after{
          content:"";
          position: absolute;
          width: 1px;
          height: 0%;
          background-color: #fff;
          @include transition(all,0.4s);
        }
        &:before{
          top:-1px;
          left:-1px;
        }
        &:after{
          bottom:-1px;
          right: -1px;
        }
        >span{
          display: block;
          width: 100%;
          height: 100%;
          position: relative;
          z-index: 10;
          &:before,&:after{
            content:"";
            position: absolute;
            width: 0%;
            height: 1px;
            background-color: #fff;
            @include transition(all,0.4s);
          }
          &:before{
            top:-1px;
            left:0;
          }
          &:after{
            bottom: -1px;
            right:0;
          }
        }              
        &:hover{
          color:#fff;
          border-color:transparent;
          background-color:#515151;
          &:before,&:after{
            height: calc(100% + 2px);
            @include transition(all,0.4s);
          }
          span{
            &:before,&:after{
              width: 100%;
              @include transition(all,0.4s);
            }
          }
        }
      }
      input{
        display: inline-block;
        width: 400px;
        height: 50px;
        border:1px solid #bdbdbd;
        text-align: center;
        background-color:transparent;
        color:#585858;
        font-size: 13px;
        cursor: pointer;
      }
    }
    >span{
      display: block;
      margin-top:60px;
      text-align: center;
      color:#585858;
      font-size: 13px;
      &:before{
        content:attr(data-title);
      }
    }
    .pt-login{
      a{
        color: #ec127b;
      }
    }
  }
}



.th-orderProcess{
  width: 100%;
  height: 100%;
  background-color:#fff;
  .md-head{
    width: 100%;
    position: relative;
    padding: 22px 20px 23px;
    border-bottom: 1px solid #e2e2e2;
    box-sizing: border-box;
    margin-bottom: 20px;
    h3{
      font-size: 24px;
      font-weight: bold;
      color:#a3a3a3;
      text-align: center;
      position: relative;
      z-index: 0;
    }
    .items{
      position: absolute;
      top:23px;
      right:20px;
      z-index: 5;
      font-size: 12px;
      color:#919191;
      i{
        display: inline-block;
        vertical-align: middle;
        font-size: 19px;
      }
      span{
        display: inline-block;
        vertical-align: middle;
      }
      .quantity{
        &:after{
          content: attr(data-after);
          margin-left: 4px;
        }
      }
      .price{
        &:before{
          content:attr(data-title);
        }
      }
    }
  }
  .processCont{
    max-width: 800px;
    width: 100%;
    margin:0 auto;
    .md-tab{
      margin-bottom: 15px;
      @extend %clear;
      li{
        float:left;
        width: 25%;
        color:#999999;
        text-align: center;
        font-size: 13px;
        padding-bottom: 10px;
        position: relative;
        text-align: center;
        a{
          color:#999999;
          text-decoration: none;
        }
        &.on{
          color:#000;    
          a{
            color:#000;            
          }
          &:after{
            content:"";
            display: block;
            position: absolute;
            bottom:0;
            left:50%;
            margin-left:-38px;
            width: 75px;
            height: 1px;
            border-bottom:1px solid #120f12;
          }          
        }
      }
    }
    .md-tabCont{
      width: 100%;
      >div{
        width: 100%;
        padding-bottom: 60px;
        box-sizing: border-box;
        @extend %clear;
        &.stepHide{
          display: none;
        }
        .btn-next{
          display: block;
          width: 100%;
          float:left;
          text-align: center;
          a,button{
            display: inline-block;
            width: 50%;
            text-decoration: none;
            border:none;
            background-color: transparent;
            font-size: 13px;
            color:#585858;
            padding:20px 0;
            border:1px solid #919191;
            box-sizing: border-box;
            background-color: #fff;
            @include transition(all, 0.6s);
            &:hover{
              color:#fff;
              background-color: #515151;
              @include transition(all, 0.6s);
            }
          }          
        }    
        .pt-back{
          width: 100%;
          float:left;
          text-align: center;
          z-index: 105;
          opacity: 1;
          margin-top: 120px;
          >a{
            display: inline-block;
            width: 50px;
            height: 50px;
            background-color:#141114;
            border-radius: 50%;
            position: relative;
            cursor: pointer;
            color:#fff;
            font-size:12px;
            text-decoration: none;
            padding-top: 19px;
            box-sizing: border-box;
          }
        } 
      }
      .step1{
        >ul{
          float: left;
          width: 100%;
          li{
            width: 100%;
            height: 155px;
            border-bottom: 1px solid #e2e2e2;
            padding: 26px 0;
            box-sizing: border-box;
            img{
              width: 120px;
              display: inline-block;
              vertical-align: middle;
            }
            >span{
              display: inline-block;
              vertical-align: middle;
              font-size: 13px;
              color:#111111;
            }
            .text{
              width: 270px;
              padding-left: 15px;
              box-sizing: border-box;
            }
            .price{
              width: 90px;
            }
            .select{
              width: 195px;
              text-align: center;
            }
            .total{
              width: 70px;
              text-align: right;
            }
            select{
              display: inline-block;
              vertical-align: middle;
              padding: 10px 19px 11px;
            }
            .btn-delete{
              width: 35px;
              button{
                border:none;
                background-color:transparent;
              }
            }
          }
        }        
        button{
          display: inline-block;
          vertical-align: middle;
          width: 20px;
          height: 20px;
          border:none;
          border-radius: 0;
          background-color: transparent;
          position: relative;
          cursor: pointer;
          &:before,&:after{
            content:"";
            display: block;
            width: 15px;
            height: 1px;
            background-color:#b7b7b7;
            position: absolute;
            top:9px;
          }
          &:before{
            @include transform(rotate(45deg));
            left:2px;
          }
          &:after{
            @include transform(rotate(-45deg));
            right:3px;
          }
        }
        .totalPrice{
          float: right;
          width: 335px;
          color: #111111;
          font-size: 13px;
          margin:25px 38px 140px 0;          
        }
        .getbabypoint{
          display: block;
          float: right;
          width: 100%;
          text-align: right;
          margin-bottom: 25px;
          &:before{
            content:attr(data-title);
            float: left;
            color:#585858;
          }
        }
        .shippingFee{
          float: right;
          width: 100%;
          margin-bottom: 25px;
          position: relative;
          .select{
            display: block;
          }
          .pt-warning{
            display:block;
            margin-top:10px;
            color: #d91256;
          }
          .shippingPrice{
            position: absolute;
            top: 4px;
            right: 0;
          }
        }
        .totalinfo{
          display: block;
          float: right;
          width: 100%;
          text-align: right;
          &:before{
            content:attr(data-title);
            float: left;
            color:#585858;
          }
        }          
      }
      .step2{
        font-size: 13px;
        color:#585858;
        .userinfo{
          margin-top:50px;
          li{
            padding:0 60px;
            >div{
              display: inline-block;
              vertical-align: top;
              margin:0 6% 35px 0;
              position: relative;
              .title{
                line-height: 40px;
              }
              input[type=text]{
                height: 40px;
                width: 100%;
                border-radius: 7px;
                border:1px solid #efefef;
                padding:0 20px;
                box-sizing: border-box;
                outline: none;
                &:focus{
                  border:1px solid #919191;
                }
              }
              input[type=email]{
                height: 40px;
                width: 100%;
                border-radius: 7px;
                border:1px solid #efefef;
                padding:0 20px;
                box-sizing: border-box;
                outline: none;
                &:focus{
                  border:1px solid #919191;
                }
              }
              &.receipt_box{
                display: none;
              }
              ::-webkit-input-placeholder { 
                color:#585858;
              }
              :-moz-placeholder { 
                color:#585858;
                opacity:  1;
              }
              ::-moz-placeholder { 
                color:#585858;
                opacity:  1;
              }
              :-ms-input-placeholder {
                color:#585858;
              }
              ::-ms-input-placeholder { 
                color:#585858;
              }
              .el-select{
                position: relative;
                &:after{
                  @extend %triangle;
                  border-width: 8px 4px 0 4px; 
                  border-color: #919191 transparent transparent transparent;
                  top:6px;
                  right:20px;
                }
              }
              select{
                height: 40px;
                width: 100%;
                border-radius: 7px;
                border:1px solid #efefef;
                -webkit-appearance: none;
                -moz-appearance: none;
                -o-appearance: none;
                position: relative;
                padding: 0 20px;
                box-sizing: border-box;
                outline: none;
                &:focus{
                  border:1px solid #919191;
                }
              }
              select::-ms-expand {
                display: none;
              }
            }
            .w20{
              width: 20% !important;
            }
            .w25{
              width: 25% !important;
            }
            .w30{
              width: 30% !important;
            }
            .w55{
              width: 55% !important;
            }
            .w60{
              width: 60% !important;
            }
            .w70{
              width: 70% !important;
            }
            .w75{
              width: 75% !important;
            }
            .w100{
              width: 100% !important;
            }
            .title{
              display: inline-block;
              vertical-align: top;
              span{
                display: inline-block;
                line-height: 40px;
              }
            }
          }
          .checksave{
            padding-bottom: 35px;
            margin-bottom: 24px;
            border-bottom: 1px solid #e2e2e2;
            .inline-text{
              display: inline-block;
              vertical-align: middle;
              height: 20px;
              cursor: pointer;
            }
            input[type=checkbox]{
              display: inline-block;
              vertical-align: middle;
              width: 20px;
              height: 20px;
              border:1px solid #efefef;
              background-color:#fff;
              margin: -3px 4px 0 0;
              &:focus{
                border:1px solid #919191;
              }
            }
          }
        }
        .btn-next{
          margin-top: 10px;
        }
      }
      .step3{
        .pt-payment{
          //margin-top:50px;
          li{
            a{
              display: block;
              width: 270px;
              padding:5px 10px 6px 90px;
              text-decoration: none;
              color:#000;
              font-size: 13px;
              border:1px solid #efefef;
              box-sizing: border-box;
              text-align: left;
              margin: 0 auto 20px;
              border-radius:3px;
              &:hover{
                border-color:#919191;
              }
            }
            i{
              color:#000;
              margin-right: 5px;
              display: inline-block;
              vertical-align: middle;
            }
            span{
              display: inline-block;
              vertical-align: middle;
            }
            .icon-credit{
              font-size: 16px;
            }
            .icon-union{
              font-size: 17px;
            }
            .icon-store{
              font-size: 17px;
            }
            .icon-atm{
              font-size: 19px;
            }
            .icon-paypal{
              font-size: 18px;
            }
          }
        }
        .pt-payment-method{
          width: 50%;
          margin: 0 auto;
          //border: 1px solid #efefef;
          .pt-payment-title{
            text-align: center;
            width: 100%;
            float: left;
            display: inline-block;
            margin: 30px auto 50px;
            height: 30px;
            line-height: 30px;
            border-bottom: 1px solid #efefef;
          }
          .pt-payment-method-box{
            margin: 20px 0;
            input{
              margin: 10px;
              padding: 5px; 
            }
          }
        }
        .pt-payment-box{
          width: 50%;
          margin: 0 auto;
          font-size: 13px;
          display: none;
          .pt-payment-email-box{
            margin-bottom: 20px;
            display: none;
            background: #efefef;
            padding: 10px 10px;
            .text-danger{
              padding: 5px 0 5px 5px;
            }
            input[type=email]{
              padding-left: 5px;
            }
          }
          input{
            margin: 10px 5px 5px;
          }
          .pt-payment-title{
            text-align: center;
            width: 100%;
            display: inline-block;
            margin: 30px auto 50px; 
            height: 30px;
            line-height: 30px;
            border-bottom: 1px solid #efefef;
            b{
              color: #ec127b;
            }
          }
          .pt-payment-tips{
            text-align: center;
            width: 100%;
            display: inline-block;
            height: 30px;
            line-height: 30px;
            border-bottom: 1px solid #efefef;
          }
          &.active{
            display: block;
          }
          .sendReceiptBtn{
            padding: 10px;
            border: 1px solid black;
            text-align: center;
            margin: 30px auto;
            cursor: pointer;
            width: 150px;
          }
        }
        .pt-deposit-box{
          a{
            height: 20px;
            line-height: 20px;
            border-radius: 20px;
            max-width: 130px;
            min-width: 50px;
            display: inline-block;
          }
        }
        @include breakpoint(max-width 640px) {
          .pt-payment-box{
            width: 100%;
          }
          .pt-payment{
            li{
              a{
                padding-left: 100px;
              }
            }
          }  
        }
        @include breakpoint(max-width 500px) {
          .pt-payment{
            li{
              a{
                padding-left: calc( 50% - 40px );
              }
            }
          }  
        }
      }
      .step4{
        .pt-finish{
          margin-top: 50px;
          color:#585858;
          font-size: 13px;
          text-align: center;
          >span{
            display: block;
            margin-bottom: 5px;
            padding:0 35px;
            box-sizing: border-box;
            line-height: 24px;
          }
          a{
            color:#ec127b;
          }
        }
      }
    }
  }
}


.th-orderProcessVIP{
  width: 100%;
  height: 100%;
  background-color:#fff;
  .md-head{
    width: 100%;
    position: relative;
    padding: 22px 20px 23px;
    border-bottom: 1px solid #e2e2e2;
    box-sizing: border-box;
    margin-bottom: 20px;
    h3{
      font-size: 24px;
      font-weight: bold;
      color:#a3a3a3;
      text-align: center;
      position: relative;
      z-index: 0;
    }
    .items{
      position: absolute;
      top:23px;
      right:20px;
      z-index: 5;
      font-size: 12px;
      color:#919191;
      i{
        display: inline-block;
        vertical-align: middle;
        font-size: 19px;
      }
      span{
        display: inline-block;
        vertical-align: middle;
      }
      .quantity{
        &:after{
          content: attr(data-after);
          margin-left: 4px;
        }
      }
      .price{
        &:before{
          content:attr(data-title);
        }
      }
    }
  }
  .processCont{
    max-width: 800px;
    width: 100%;
    margin:0 auto;
    .md-tab{
      margin-bottom: 15px;
      @extend %clear;
      li{
        float:left;
        width: 33%;
        color:#999999;
        text-align: center;
        font-size: 13px;
        padding-bottom: 10px;
        position: relative;
        text-align: center;
        a{
          color:#999999;
          text-decoration: none;
        }
        &.on{
          color:#000;    
          a{
            color:#000;            
          }
          &:after{
            content:"";
            display: block;
            position: absolute;
            bottom:0;
            left:50%;
            margin-left:-38px;
            width: 75px;
            height: 1px;
            border-bottom:1px solid #120f12;
          }          
        }
      }
    }
    &.depositCont{
      max-width: 100%;
      .md-tab{
        max-width: 800px;
        margin-bottom: 0px;
        margin: 0 auto 15px;
      }
    }
    .md-tabCont{
      width: 100%;
      >div{
        width: 100%;
        padding-bottom: 60px;
        box-sizing: border-box;
        @extend %clear;
        &.stepHide{
          display: none;
        }
        .btn-next{
          display: block;
          width: 100%;
          float:left;
          text-align: center;
          a,button{
            display: inline-block;
            width: 50%;
            text-decoration: none;
            border:none;
            background-color: transparent;
            font-size: 13px;
            color:#585858;
            padding:20px 0;
            border:1px solid #919191;
            box-sizing: border-box;
            background-color: #fff;
            @include transition(all, 0.6s);
            &:hover{
              color:#fff;
              background-color: #515151;
              @include transition(all, 0.6s);
            }
          }          
        }    
        .pt-back{
          width: 100%;
          float:left;
          text-align: center;
          z-index: 105;
          opacity: 1;
          margin-top:120px;
          >a{
            display: inline-block;
            width: 50px;
            height: 50px;
            background-color:#141114;
            border-radius: 50%;
            position: relative;
            cursor: pointer;
            color:#fff;
            font-size:12px;
            text-decoration: none;
            padding-top: 19px;
            box-sizing: border-box;
          }
        } 
      }
      .step1{
        >ul{
          float: left;
          width: 100%;
          li{
            width: 100%;
            height: 155px;
            border-bottom: 1px solid #e2e2e2;
            padding: 26px 0;
            box-sizing: border-box;
            img{
              width: 120px;
              display: inline-block;
              vertical-align: middle;
            }
            >span{
              display: inline-block;
              vertical-align: middle;
              font-size: 13px;
              color:#111111;
            }
            .text{
              width: 270px;
              padding-left: 15px;
              box-sizing: border-box;
            }
            .price{
              width: 90px;
            }
            .select{
              width: 195px;
              text-align: center;
            }
            .total{
              width: 70px;
              text-align: right;
            }
            select{
              display: inline-block;
              vertical-align: middle;
              padding: 10px 19px 11px;
            }
            .btn-delete{
              width: 35px;
              button{
                border:none;
                background-color:transparent;
              }
            }
          }
        }        
        button{
          display: inline-block;
          vertical-align: middle;
          width: 20px;
          height: 20px;
          border:none;
          border-radius: 0;
          background-color: transparent;
          position: relative;
          cursor: pointer;
          &:before,&:after{
            content:"";
            display: block;
            width: 15px;
            height: 1px;
            background-color:#b7b7b7;
            position: absolute;
            top:9px;
          }
          &:before{
            @include transform(rotate(45deg));
            left:2px;
          }
          &:after{
            @include transform(rotate(-45deg));
            right:3px;
          }
        }
        .totalPrice{
          float: right;
          width: 335px;
          color: #111111;
          font-size: 13px;
          margin:25px 38px 140px 0;          
        }
        .getbabypoint{
          display: block;
          float: right;
          width: 100%;
          text-align: right;
          margin-bottom: 25px;
          &:before{
            content:attr(data-title);
            float: left;
            color:#585858;
          }
        }
        .shippingFee{
          float: right;
          width: 100%;
          margin-bottom: 25px;
          position: relative;
          .select{
            display: block;
          }
          .pt-warning{
            display:block;
            margin-top:10px;
            color: #d91256;
          }
          .shippingPrice{
            position: absolute;
            top: 4px;
            right: 0;
          }
        }
        .totalinfo{
          display: block;
          float: right;
          width: 100%;
          text-align: right;
          &:before{
            content:attr(data-title);
            float: left;
            color:#585858;
          }
        }          
      }
      .step2{
        font-size: 13px;
        color:#585858;
        .userinfo{
          margin-top:50px;
          li{
            padding:0 60px;
            >div{
              display: inline-block;
              vertical-align: top;
              margin:0 6% 35px 0;
              position: relative;
              .title{
                line-height: 40px;
              }
              input[type=text]{
                height: 40px;
                width: 100%;
                border-radius: 7px;
                border:1px solid #efefef;
                padding:0 20px;
                box-sizing: border-box;
                outline: none;
                &:focus{
                  border:1px solid #919191;
                }
              }
              ::-webkit-input-placeholder { 
                color:#585858;
              }
              :-moz-placeholder { 
                color:#585858;
                opacity:  1;
              }
              ::-moz-placeholder { 
                color:#585858;
                opacity:  1;
              }
              :-ms-input-placeholder {
                color:#585858;
              }
              ::-ms-input-placeholder { 
                color:#585858;
              }
              .el-select{
                position: relative;
                &:after{
                  @extend %triangle;
                  border-width: 8px 4px 0 4px; 
                  border-color: #919191 transparent transparent transparent;
                  top:6px;
                  right:20px;
                }
              }
              select{
                height: 40px;
                width: 100%;
                border-radius: 7px;
                border:1px solid #efefef;
                -webkit-appearance: none;
                -moz-appearance: none;
                -o-appearance: none;
                position: relative;
                padding: 0 20px;
                box-sizing: border-box;
                outline: none;
                &:focus{
                  border:1px solid #919191;
                }
              }
              select::-ms-expand {
                display: none;
              }
            }
            .w25{
              width: 25%;
            }
            .w30{
              width: 30%;
            }
            .w55{
              width: 55%;
            }
            .w75{
              width: 75%;
            }
            .title{
              display: inline-block;
              vertical-align: top;
              span{
                display: inline-block;
                line-height: 40px;
              }
            }
          }
          .checksave{
            padding-bottom: 35px;
            margin-bottom: 24px;
            border-bottom: 1px solid #e2e2e2;
            .inline-text{
              display: inline-block;
              vertical-align: middle;
              height: 20px;
              cursor: pointer;
            }
            input[type=checkbox]{
              display: inline-block;
              vertical-align: middle;
              width: 20px;
              height: 20px;
              border:1px solid #efefef;
              background-color:#fff;
              margin: -3px 4px 0 0;
              &:focus{
                border:1px solid #919191;
              }
            }
          }
        }
        .btn-next{
          margin-top: 10px;
        }
      }
      .step3{
        .pt-payment{
          margin-top:50px;
          li{
            a{
              display: block;
              width: 270px;
              padding:5px 10px 6px 90px;
              text-decoration: none;
              color:#000;
              font-size: 13px;
              border:1px solid #efefef;
              box-sizing: border-box;
              text-align: left;
              margin: 0 auto 20px;
              border-radius:3px;
              &:hover{
                border-color:#919191;
              }
            }
            i{
              color:#000;
              margin-right: 5px;
              display: inline-block;
              vertical-align: middle;
            }
            span{
              display: inline-block;
              vertical-align: middle;
            }
            .icon-credit{
              font-size:16px;
            }
            .icon-union{
              font-size: 17px;
            }
            .icon-store{
              font-size: 17px;
            }
            .icon-atm{
              font-size: 19px;
            }
            .icon-paypal{
              font-size: 18px;
            }
          }
        }
      }
      .step4{
        .pt-finish{
          margin-top: 50px;
          color:#585858;
          font-size: 13px;
          text-align: center;
          >span{
            display: block;
            margin-bottom: 5px;
            padding:0 35px;
            box-sizing: border-box;
            line-height: 24px;
          }
          a{
            color:#ec127b;
          }
        }
      }
    }
  }
}

.vip1{
  .pt-payment{
    margin-top:0px;
    li{
      a{
        display: block;
        width: 300px;
        padding:5px 10px 6px 10px;
        text-decoration: none;
        color:#000;
        font-size: 13px;
        border:1px solid #efefef;
        box-sizing: border-box;
        text-align: left;
        margin: 0 auto 20px;
        border-radius:3px;
        &:hover{
          border-color:#919191;
        }
      }
      i{
        color:#000;
        margin-right: 5px;
        display: inline-block;
        vertical-align: middle;
      }
      span{
        display: block;
        vertical-align: middle;
        text-align: center;
        line-height: 20px;
      }
      .icon-credit{
        font-size:16px;
      }
      .icon-union{
        font-size: 17px;
      }
      .icon-store{
        font-size: 17px;
      }
      .icon-atm{
        font-size: 19px;
      }
      .icon-paypal{
        font-size: 18px;
      }
    }
  }
}
.vip2{
  .pt-payment{
    margin-top:0px;
    li{
      a{
        display: block;
        width: 300px;
        padding:5px 10px 6px 110px;
        text-decoration: none;
        color:#000;
        font-size: 13px;
        border:1px solid #efefef;
        box-sizing: border-box;
        text-align: left;
        margin: 0 auto 20px;
        border-radius:3px;
        &:hover{
          border-color:#919191;
        }
      }
      i{
        color:#000;
        margin-right: 5px;
        display: inline-block;
        vertical-align: middle;
      }
      span{
        display: inline-block;
        vertical-align: middle;
      }
      .icon-credit{
        font-size:16px;
      }
      .icon-union{
        font-size: 17px;
      }
      .icon-store{
        font-size: 17px;
      }
      .icon-atm{
        font-size: 19px;
      }
      .icon-paypal{
        font-size: 18px;
      }
    }
  }
  .pt-deposit-box{
    width: 100%;
    text-align: center;
    margin: 50px 0 0; 
    a{
      height: 20px;
      line-height: 20px;
      border-radius: 20px;
      max-width: 130px;
      background-position: 10px 8px;
      min-width: 50px;
      display: inline-block;
    }
  }
  .pt-payment-box{
    width: 50%;
    margin: 0 auto;
    font-size: 13px;
    display: none;
    .pt-payment-email-box{
      margin-bottom: 20px;
      display: none;
      background: #efefef;
      padding: 10px 10px;
      .text-danger{
        padding: 5px 0 5px 5px;
      }
      input[type=email]{
        padding-left: 5px;
      }
    }
    input{
      margin: 10px 5px 5px;
    }
    .pt-payment-title{
      text-align: center;
      width: 100%;
      display: inline-block;
      margin: 30px auto 50px; 
      height: 30px;
      line-height: 30px;
      border-bottom: 1px solid #efefef;
      b{
        color: #ec127b;
      }
    }
    .pt-payment-tips{
      text-align: center;
      width: 100%;
      display: inline-block;
      height: 30px;
      line-height: 30px;
      border-bottom: 1px solid #efefef;
    }
    &.active{
      display: block;
    }
    .sendReceiptBtn{
      padding: 10px;
      border: 1px solid black;
      text-align: center;
      margin: 30px auto;
      cursor: pointer;
      width: 150px;
    }
  }
  @include breakpoint(max-width 640px) {
    .pt-payment-box{
      width: 100%;
    }
    .pt-payment{
      li{
        a{
          padding-left: 100px;
        }
      }
    }  
  }
  @include breakpoint(max-width 500px) {
    .pt-payment{
      li{
        a{
          width: 100%;
          padding-left: calc( 50% - 40px );
        }
      }
    }  
  }
}

.deposit{
  .pt-deposit{
    margin-top:0px;
    padding-left: 10%;
    width: 100%;
    li{
      width: 25%;
      float: left;
      line-height: 5vh;
      border: 1px solid #919191;
      margin: 1.5%;
      padding: 20px 0;
      cursor: pointer;
      min-width: 300px;
      &.pro{
        background: #6becc0;
      }
      &:hover{
        background: #e2e2e2;
      }
      a{
        width: 100%;
        height: 10vh;
        display: block;
        .price{
          display: block;
          width: 25%;
          min-width: 100px;
          float: right;
          text-decoration: none;
          color:#000;
          font-size: 13px;
          box-sizing: border-box;
          text-align: center;
          margin: 2.5vh 5%;
          border-radius:3px;
          background: white;
          line-height: 5vh;
          background: #f3f3f3;
        }
        span{
          display: block;
          vertical-align: middle;
          line-height: 10vh;
          padding-left: 48px;
          width: 33%;
          float: left;
          background: url(../images/powerPoint.svg?v=2) left no-repeat;
          background-size: 40px;
          font-weight: 700;
          font-size: 24px;
          margin-left: 5%;
          color: #000;
          &:hover , &:active , &:focus , &:visited{
            color: #000;
          }
        }
      }
      
    }
  }
  @include breakpoint(max-width 1366px) {
    .pt-deposit{
      width: 80%;
      li{
        margin-right: 1%;
        margin-left: 1%;
        width: 47.5%;
      } 
    }
  }
  @include breakpoint(max-width 1024px) {
    .pt-deposit{
      li{
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        min-width: 250px;
        span{
          margin: 0 2.5%;
        }
        .price{
          margin: 2.5vh 2.5% !important;
        }
      } 
    }
  }
  @include breakpoint(max-width 480px) {
    .pt-deposit{
      padding-left: 5%;
      width: 90%;
    }
  }
}

.main-pickuplist{
  .common-nonelimit{
    padding: 0;
  }
}

.th-pickuplist{
  width: 100%;
  height: 100%;
  background-color:#fff;
  .md-head{
    width: 100%;
    position: relative;
    padding: 22px 20px 23px;
    border-bottom: 1px solid #e2e2e2;
    box-sizing: border-box;
    margin-bottom: 30px;
    h3{
      font-size: 24px;
      font-weight: bold;
      color:#a3a3a3;
      text-align: center;
      position: relative;
      z-index: 0;
    }
  }
  .md-cont{
    >div{
      width: 100%;
      max-width: 950px;
      margin:0 auto 50px;   
      >p{
        font-size: 14px;
        font-weight: bold;
        color:#262626;
        margin-bottom:20px;
      }         
    }

    table{
      width: 100%;
      tr{
        width: 100%;
        border:1px solid #e2e2e2;
        td{
          display: block;
          width: 100%;
          position: relative;
          background-color: #c7c7c7;
          border:1px solid #e2e2e2;
          @extend %clear;
          &:before{
            content: attr(data-title);
            display: block;
            float: left;
            width: 200px;
            padding: 10px;
            box-sizing: border-box;
            word-break:break-all;
            font-size: 13px;
            color:#262626;
          }
          span{
            display: block;
            width:calc(100% - 200px);
            height: 100%;
            float: left;
            background-color:#f7f7f7;
            padding: 10px;
            box-sizing: border-box;
            word-break:break-all;
            font-size: 13px;
            color:#262626;
          }
          &+td{
            span{
              background-color:#fff;
            }
          }
        }
      }
    }
    .pt-back{
      width: 100%;
      text-align: center;
      z-index: 105;
      opacity: 1;
      margin-top:60px;
      >a{
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color:#141114;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        color:#fff;
        font-size:12px;
        text-decoration: none;
        padding-top: 19px;
        box-sizing: border-box;
      }
    } 
  }
}


.th-shipStatus{
  width: 100%;
  height: 100%;
  background-color:#fff;
  .md-head{
    width: 100%;
    position: relative;
    padding: 22px 20px 23px;
    border-bottom: 1px solid #e2e2e2;
    box-sizing: border-box;
    margin-bottom: 20px;
    h3{
      font-size: 24px;
      font-weight: bold;
      color:#a3a3a3;
      text-align: center;
      position: relative;
      z-index: 0;
    }
    .items{
      position: absolute;
      top:23px;
      right:20px;
      z-index: 5;
      font-size: 13px;
      a{
        color:#999999;
      }
    }
  }
  .processCont{
    max-width: 800px;
    width: 100%;
    margin:0 auto;
    .md-tab{
      margin-bottom: 15px;
      text-align: center;
      @extend %clear;
      li{
        display: inline-block;
        width: 20%;
        color:#999999;
        text-align: center;
        font-size: 13px;
        padding-bottom: 10px;
        position: relative;
        text-align: center;
        &.on{
          color:#000;
          &:after{
            content:"";
            display: block;
            position: absolute;
            bottom:0;
            left:50%;
            margin-left:-38px;
            width: 75px;
            height: 1px;
            border-bottom:1px solid #120f12;
          }          
        }
      }
    }
    .md-tabCont{
      width: 100%;
      >div{
        width: 100%;
        padding-bottom: 60px;
        box-sizing: border-box;
        @extend %clear;
        &.stepHide{
          display: none;
        }
        >ul{
          float: left;
          width: 100%;
          li{
            width: 100%;
            height: 155px;
            border-bottom: 1px solid #e2e2e2;
            padding: 26px 0;
            box-sizing: border-box;
            img{
              width: 120px;
              display: inline-block;
              vertical-align: middle;
            }
            >span{
              display: inline-block;
              vertical-align: middle;
              font-size: 13px;
              color:#111111;
            }
            .text{
              width: 270px;
            }
            .price{
              width: 90px;
            }
            .select{
              width: 195px;
              text-align: center;
            }
            .total{
              width: 70px;
              text-align: right;
            }
            select{
              display: inline-block;
              vertical-align: middle;
              padding: 10px 19px 11px;
            }
            .btn-delete{
              width: 35px;
              button{
                border:none;
                background-color:transparent;
              }
            }
          }
        }        
        button{
          display: inline-block;
          vertical-align: middle;
          width: 20px;
          height: 20px;
          border:none;
          border-radius: 0;
          background-color: transparent;
          position: relative;
          cursor: pointer;
          &:before,&:after{
            content:"";
            display: block;
            width: 15px;
            height: 1px;
            background-color:#b7b7b7;
            position: absolute;
            top:9px;
          }
          &:before{
            @include transform(rotate(45deg));
            left:2px;
          }
          &:after{
            @include transform(rotate(-45deg));
            right:3px;
          }
        }
        .shippingFee{
          float: right;
          width: 335px;
          margin-bottom: 25px;
          .select{
            float: left;
          }
          .shippingPrice{
            float: right;
          }
        }
        .totalPrice{
          float: right;
          width: 335px;
          color: #111111;
          font-size: 13px;
          margin:25px 38px 140px 0;          
        }
        .totalinfo{
          display: block;
          float: right;
          width: 100%;
          text-align: right;
          &:before{
            content:attr(data-title);
            float: left;
            color:#585858;
          }
        }
        .checkinfo{
          display: block;
          float: right;
          width: 100%;
          text-align: right;
          margin-top:25px;
          &:before{
            content:attr(data-title);
            float: left;
            color:#585858;
          }
        }
      }
    }
  }
}

.maintain{
  .pt-payment-box{
    padding-top: 50px;
    img{
      width: 64px;
      height: 65px;
      margin: 0 auto; 
    }
    .pt-payment-title{
      text-align: center;
      width: 100%;
      display: inline-block;
      margin: 10px auto; 
      height: 30px;
      line-height: 30px;
      //border-bottom: 1px solid #efefef;
      padding-bottom: 20px;
      font-size: 13px;
      b{
        color: #ec127b;
      }
    }
  }
}




.main-shoppingSteps1{
  .th-orderProcess{
    .md-head{
      .items{
        cursor: pointer;
      }
    }
  }
}

html{
  &.orderMask{
    overflow-y: hidden;
  }
}

main{
  &.switchOrder{
    .th-cartList{
      top:0;
      z-index: 160;
      opacity: 1;
      @include transition(all,0.6s);
      .cartCont{
        .md-close{
          bottom:50px;
          z-index: 105;
          opacity: 1;
          @include transition(all,1s);
        }
      }
    }
    .th-orderMask{
      opacity: 0.5;
      z-index: 150;
      @include transition(all,0.6s);
    }
  }
}

.main-malllist{
  .common-nonelimit{
    padding:0 0 2%;
  }
}
.main-mallDigital, .main-mallDigital2{
  .common-nonelimit{
    padding:0 0 2%;
  }
}

.main-product{
  .common-nonelimit{
    padding:0;
  }
}
.main-productDigital, .main-productDigital2{
  .common-nonelimit{
    padding:0;
  }
}

.th-orderMask{
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left:0;
  z-index: -1;
  opacity: 0;
  background-color: #000;
  @include transition(all,0.5s);
}

@include breakpoint(max-width 1280px) {
  .th-malllist, .th-mallDigital{
    .md-productlist{    
      li{
        width:calc(33.3% - 20px);
        margin:0 10px 20px;
      }
    }
  }  
  .th-product, .th-productDigital{
    .md-img{
      width: 50%;
      padding:0 10px;
      margin-top:20px;
      margin-left: 25%;
    }
    .md-video{
      width: 100%;
      video{
        width: 80%;
      }
      .playBtn{
        top: 18em;
        left: calc( 50% - 60px );
      }
      .loginBtn{
        top: 12em;
        left: calc( 50% - 400px );
      }
    }
    .md-text{
      width: 100%;
      padding: 40px 25% 160px;
      .pt-size{
        margin-bottom: 40px;
      }
    }
  } 

}


@include breakpoint(max-width 980px) {
  .th-mallTitle{
    h2{
      padding: 0 65px;
    }
    .md-shoppingCart{
      right:20px;
    }
  }
  .th-malllist, .th-mallDigital{
    .md-productlist{
      .product{
        figcaption{
          margin-top:20px;
        }
      }
    }
  }
  .th-product, .th-productDigital{
    .md-img{
      width: 100%;
      padding: 0 20px;
      margin-top: 0;
      margin-left: 0;
      >figure{
        img{
          width: 90%;
          margin: 0 auto;
        }
      }
    }
    .md-video{
      video{
        max-height: 420px;
      }
      .loginBtn{
        top: 10em;
        left: 10%;
        width: 80%;
      }
    }
    .md-text{
      width: 100%;
      padding: 20px 20px 0;
      .pt-btn{
        position: relative;
        bottom: unset;
        width: unset;
        margin-left: 0;
        margin-top:25px;
        &:hover{
          @include transition(all,0s);
        }
      }
    }
    .md-fullScreen{
      .pt-img{
        width: 100%;
        li{
          width: 106%;
          height: 104%;
          left: -3%;
        }
      }
      .pt-imgNumber{
        left:50%;
        top:auto;
        bottom: 30px;
        margin-top: 0;
        margin-left:-57px;
      }
      >i{
        top:auto;
        bottom: 60px;
        margin-top: 0;
      }     
    }
  } 


  .th-pickuplist{
    .md-cont{
      > div{
        width: 88%;
      }
    }
  }  
}

@include breakpoint(max-width 820px) {
  .th-malllist, .th-mallDigital{
    .md-productlist{      
      li{
        width:calc(50% - 20px);
      }
      .product{
        @include transition(all,0s);
      }
    }
  } 
  .th-cartList{
    .cartCont{
      .md-cartCont{
        >div{
          .btn-next{
            margin-bottom: 60px;
          }
        }
        .shoppingCart{
          >ul{
            li{
              height: auto;
              padding:26px 50px;
              position: relative;
              img{
                display: block;
                width: 60%;
                max-width: 300px;
                margin: 0 auto;
              }
              >span{
                display: block;
                width: 100%;
                padding:9px 0;
                &:before{
                  content:attr(data-title);
                }
              }
              .text{
                width: 100%;
                padding-left:0;
              }
              .price{
                width: 100%;
              }
              .select{
                width: 100%;
                padding:0;
                text-align: left;
                padding: 2px 0;
                select{
                  padding: 4px 19px ;
                }
              }
              .total{
                width: 100%;
              }
            }
          }          
          button{
            position: absolute;
            top: 50%;
            right: 50px;
            margin-top: -10px;
          }
          .totalinfo{
            float: left;
            width: 100%;
            text-align: left;
            margin: 25px 0 50px 0;
            padding: 0 50px;
            box-sizing: border-box;
          }
        }        
      }
    }
  }
  .th-orderProcess{ 
    .processCont{
      .md-tabCont{
        >div{
          .btn-next{
            margin-bottom: 60px;
            a,button{
              @include transition(all, 0s);
              &:hover{
                @include transition(all, 0s);
              }
            }
          }
          .pt-back{
            width: 50px;
            position: fixed;
            top: 25px;
            left: 20px;
            bottom: auto;
            text-align: left;
            margin-top:0;
            >a{
              color: #919191;
              text-decoration: none;
              width: auto;
              height: auto;
              background-color: transparent;
              padding-top: 0;
            }        
          }          
        }
        .step1{
          >ul{
            li{
              height: auto;
              padding:26px 50px;
              position: relative;
              img{
                display: block;
                width: 60%;
                max-width: 300px;
                margin: 0 auto;
              }
              >span{
                display: block;
                width: 100%;
                padding:9px 0;
                &:before{
                  content:attr(data-title);
                }
              }
              .text{
                width: 100%;
                padding-left:0;
              }
              .price{
                width: 100%;
              }
              .select{
                width: 100%;
                padding:0;
                text-align: left;
                padding: 2px 0;
                select{
                  padding: 4px 19px ;
                }
              }
              .total{
                width: 100%;
                text-align: left;
              }
            }
          }          
          button{
            position: absolute;
            top: 50%;
            right: 50px;
            margin-top: -10px;
          }
          .shippingFee{
            float: left;
            width: 93px;
            .select{
              display: block;
            }
            .shippingPrice{
              float: left;
              margin-left:40px;
            }
          }
          .totalPrice{
            float: left;
            width: 100%;
            margin: 25px 0 50px 0;
            padding: 0 50px;
            box-sizing: border-box;            
          }
          .totalinfo{
            float: left;
            text-align: left;
          }
        }        
      }
    }
  }
  .th-shipStatus{ 
    .processCont{
      .md-tabCont{
        >div{
          >ul{
            li{
              height: auto;
              padding:26px 50px;
              position: relative;
              img{
                display: block;
                width: 60%;
                max-width: 300px;
                margin: 0 auto;
              }
              >span{
                display: block;
                width: 100%;
                padding:9px 0;
                &:before{
                  content:attr(data-title);
                }
              }
              .text{
                width: 100%;
              }
              .price{
                width: 100%;
              }
              .select{
                width: 100%;
                padding:0;
                text-align: left;
                padding: 2px 0;
                select{
                  padding: 4px 19px ;
                }
              }
              .total{
                width: 100%;
                text-align: left;
              }
            }
          }          
          button{
            position: absolute;
            top: 50%;
            right: 50px;
            margin-top: -10px;
          }
          .shippingFee{
            float: left;
            .shippingPrice{
              float: left;
              margin-left:40px;
            }
          }
          .totalPrice{
            float: left;
            width: 100%;
            margin: 25px 0 50px 0;
            padding: 0 50px;
            box-sizing: border-box;            
          }
          .totalinfo{
            float: left;
            text-align: left;
          }      
        }     
      }
    }
  }
  .th-product, .th-productDigital{
    .md-text{
      .pt-btn{
        a{
          &:before,&:after{
            @include transition(all,0s);
          }
          >span{
            &:before,&:after{
              @include transition(all,0s);
            }
          }  
          &:hover{
            color: #585858;
            background-color: transparent;
            border-color: #919191;
            &:before,&:after{
              background-color: #919191;
              @include transition(all,0s);
            }
            span{
              &:before,&:after{
                background-color: #919191;
                @include transition(all,0s);
              }
            }            
          }
        }
      }
    }
    .md-video{
      width: 100%;
      .playBtn{
        top: 200px;
        left: calc(50% - 65px);
      }
      .loginBtn{
        top: 150px;
        width: 80%;
        left: 10%;
      }
    }
  } 

  .th-buyNow{
    .md-cont{
      .pt-pay{
        a{
          &:before,&:after{
            @include transition(all,0s);
          }
          >span{
            &:before,&:after{
              @include transition(all,0s);
            }
          }  
          &:hover{
            color: #585858;
            background-color: transparent;
            border-color: #919191;
            &:before,&:after{
              background-color: #919191;
              @include transition(all,0s);
            }
            span{
              &:before,&:after{
                background-color: #919191;
                @include transition(all,0s);
              }
            }            
          }
        }
      }
    }
  }
}

@include breakpoint(max-width 720px) {
  .th-mallTitle{
    h2{
      padding: 0 20px 0 50px;
      a{
        &+a{
          margin-left: 20px;
          &:after{
            left:-14px;
          }
        }
      }
    }
    .md-shoppingCart{
      top: auto;
      bottom: -35px;
    }
    .pt-backlink{
      top:80px;
      left:20px;
    }
  }

  .th-mallType{
    .md-cont{
      width: 90%;
    }
  }

  .main-malllist{
    .th-mallTitle{
      margin-bottom: 50px;
    }
  }
 
  .th-product, .th-productDigital{
    .md-video{
      width: 100%;
      video{
        max-height: 300px; 
      }
      .playBtn{
        top: 12em;
        left: calc(50% - 65px);
      }
      .loginBtn{
        top: 7.75em;
      }
    }
  }

  .th-product, .th-productDigital{
    .md-fullScreen{
      .type-n1,q:before,q:after {
        font-size:40px;
      }
      .pt-imgNumber{
        margin-left: -33px;
        .imgTotle{
          &:before{
            margin-right: 4px;
          }
        }
      }
    }
  }
  .th-productShare{
    .md-others{
      right: 0;
      li{
        margin-left: 0;
        margin-right: 30px;
      }
    }
  }
  .th-orderProcess{
    .processCont{
      .md-tabCont{
        .step2{
          .userinfo{
            li{
              padding: 0 30px;
              .w55{
                width: 73%;
              }
              .w30{
                width: 34%;
              }
              .w75{
                width:73%;
              }
              .w25{
                width: 73%;
              }
              >div{
                margin: 0 4% 35px 0;
              }
            }
          }
        }
      }
    }
  }
  .th-pickuplist{
    .md-cont{
      table{
        tr{
          td{
            &:before{
              width: 135px;
            }
            span{
              width: calc(100% - 135px);
            }
          }
        }
      }
    }
  }     
}

@include breakpoint(max-width 640px) {
  .th-product, .th-productDigital{
    .md-video{
      video{
        max-height: 270px; 
      }
      .playBtn{
        top: 10.75em;
      }
      .loginBtn{
        top: 6.75em;
      }
    }
  }
}

@include breakpoint(max-width 540px) {
  .th-product, .th-productDigital{
    .md-video{
      video{
        max-height: 240px; 
      }
      .playBtn{
        top: 8.75em;
      }
      .loginBtn{
        top: 4em;
      }
    }
  }
}

@include breakpoint(max-width 460px) {
  .th-malllist, .th-mallDigital{
    .md-productlist{   
      li{
        width:calc(100% - 30px);
        margin:0 15px 20px;
      }
      .product{
        .support{
          line-height: 23px;
          font-size: 12px;
        }
        .soldout{
          line-height: 22px;
        }
      }
    }
  } 

  .th-product, .th-productDigital{
    .md-text{
      .pt-share{
        padding-left: 5px;
      }
    }
    .md-video{
      video{
        max-height: 210px; 
      }
      .playBtn{
        top: 6.75rem;
      }
      .loginBtn{
        top: 2.5em;
        height: 7.5em;
      }
    }
  }

  .th-buyNow{
    .md-cont{
      .pt-pay{
        input{
          width: 80%;
        }
        a{
          width:80%;
        }
      }
    }
  }   

  .th-productShare{
    .md-others{
      position: relative;
    }
  }

  .th-cartList{
    .md-head{
      margin-bottom: 15px;
      .items{
        top:80px;
        right:10px;
      }
    }
    .cartCont{
      h3{
        margin-bottom: 30px;
      }
      .md-cartCont{
        .shoppingCart{
          >ul{
            li{
              padding:20px;
            }
          }          
          button{
            right:20px;
          }
          .totalinfo{
            .shippingFee{
              width: auto;
            }
          }
        }    
      }
    }
  }

  .th-orderProcess{
    .md-head{
      margin-bottom: 50px;
      .items{
        top:80px;
        right:10px;
      }
    }
    .processCont{
      .md-tabCont{
        .step1{
          >ul{
            li{
              padding:20px;
            }
          }          
          button{
            right:20px;
          }
          .totalinfo{
            padding: 0 20px 0 0;
          }
          .totalPrice{
            padding:0 20px;
          }
        }   
        .step2{
          .userinfo{
            li{
              .w55{
                width: 67%;
              }
              .w30{
                width: 67%;
              }
              .w75{
                width: 99%;
              }
            }
          }
        }  
      }
    }
  }
  .th-pickuplist{
    .md-head{
      h3{
        font-size: 20px;
      }
    }
    .md-cont{
      table{
        tr{
          td{
            &:before{
              font-size: 13px;
              width: 115px;
            }
            span{
              font-size: 13px;
              width: calc(100% - 115px);
            }
          }
        }
      }
    }
  } 
  
  .th-mallType{
    .md-cont{
      width: 100%;
    }
  } 
}

@include breakpoint(max-width 400px) {
  .th-product, .th-productDigital{
    .md-video{
      video{
        max-height: 180px; 
      }
      .playBtn{
        top: 6.25em;
      }
      .loginBtn{
        height: 5.75em;
        top: 2.5em;
        .lock{
          width: 30px;
          height: 30px;
          margin: 15px auto 10px;
        }
      }
    }
  }
}