
.main-accountModify{
  .text-danger{
    padding: 5px 0 0 12px;
  }
}
.main-passwordChange{
	.text-danger{
    padding: 5px 0 0 12px;
  }
}

.main-accountInfo{
	#imgCut{
		position: fixed;
		top:0;
		left:0;
		z-index: -10;
		opacity: 0;
		width: 100%;
		height: 100%;
		&.show{
			z-index: 250;
			opacity: 1;
		}
		&:after{
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left:0;
			top:0;
			z-index: 0;
			background-color: $darkColor;
			opacity: 0.8;
		}
		.closeBtn{
			width: 40px;
			height: 40px;
			position: absolute;
			top:50px;
			right: 50px;	
			cursor: pointer;	
			z-index: 20;
			&:before,&:after{
				content: "";
				display: block;
				width: 36px;
				height: 1px;
				background-color: $lightColor;
				position: absolute;
				top:20px;
				left:3px;
			}
			&:before{
				@include transform(rotate(45deg));
			}
			&:after{
				@include transform(rotate(-45deg));
			}
		}
		.image-editor{
			position: relative;
			overflow: hidden;
			width: 200px;
			margin:0 auto;
			.falseBtn{
				display: block;
				width: 120px;
				height: 30px;
				position: absolute;
				top:0;
				left:0;
				z-index: 0;
				color:$lightColor;
				background-color: #8f8f8f;
				line-height: 30px;
    		text-align: center;
			}
			.cropit-image-input{
				position: relative;
				z-index: 5;
				border: none;
		    color: transparent;
				background-color: transparent;
				width: 120px;
				height: 30px;
				outline: none;
				opacity: 0;
				cursor: pointer;
			}
			.cropit-preview {
	      background-color: #f8f8f8;
	      background-size: cover;
	      border: 1px solid #ccc;
	      border-radius: 3px;
	      margin-top: 30px;
				margin-bottom: 25px;
	      width: 200px;
	      height: 200px;
	      box-sizing:border-box;
	    }
			.cropit-image-zoom-input{
				width: 200px;
				margin-bottom: 20px;
			}	
	    .cropit-preview-image-container {
	      cursor: move;
	    }
	    .image-size-label {
	      margin-top: 10px;
	    }
	    >button{
	    	display: block;
				border:none;
				background-color: #8f8f8f;
				color:$lightColor;
		    width: 65px;
		    height: 25px;
		    cursor: pointer;
		    &:hover{
    			background-color: #aba9a9;
    		}
	    }	
		}
		.md-imgcut{
			position: relative;
			z-index: 5;
			width: 30%;
			margin:10% auto 0;
		}
	}

	.gp-thCont{
		margin:0 auto;
		@extend %clear;
		h2{
			max-width: 700px;
    	width: 100%;
    	margin:25px auto 3%;
			font-size: 13px;
			font-weight: bold;
			color:#575757;
			text-align: left;
		}
	}
	.common-nonelimit{
		padding:0 1%;
	}
	.md-classification{
		max-width: 720px;
    width: 100%;
    margin:20px auto -10px;
    ul{
    	li{
    		display: inline-block;
    		margin:0 4px 10px;
    		a{
					display: block;
					height: 30px;
					line-height: 30px;
    			text-decoration: none;
    			font-size: 13px;
    			color:#777;
    			font-weight: bold;
    			padding:0 20px;
    			background-color: $lightColor;
    			border:1px solid #dbdbdb;
    			border-radius: 25px;
				}
				&.on{
					a{
						background-color: #f3f3f3;
					}
				}
    	}
    }
	}
}


.th-accountInfo{
	width: 100%;
	border:1px solid #dbdbdb;
	background-color: $lightColor;
	margin: 0 auto ;
	.gp-mduser{
		width: 80%;
		margin:3% auto ;
		position: relative;
	}
	.md-tablink{
		max-width: 700px;
    width: 100%;
    margin: 25px auto;
		box-sizing: border-box;
		>p{
			display: none;
		}
		ul{
			li{
				display: inline-block;
				position: relative;
				&:after{
					content:"";
					display: none;
					width: 20px;
					height: 2px;
					background-color:#262626;
					position: absolute;
					bottom:-5px;
					left:50%;
					margin-left:-10px;
				}			
				&+li{
					margin-left:40px;		
				}
				&.active{
					&:after{
						display: block;
					}
				}
			}
		}
		a{
			display: inline-block;
			vertical-align: middle;
			color:#262626;
			font-size: 14px;
			font-weight: bold;
			text-decoration: none;
			position: relative;
		}
	}
	.md-user{
		max-width: 700px;
		width: 100%;
		margin:0 auto;
		@extend %clear;
		.pt-img{
			width: 150px;
			height: 150px;
			position: relative;
			float: left;
			margin-right: 60px;
			&:before{
				content: "";
				display: block;
				width: calc(100% + 10px);
				height: calc(100% + 10px);
				margin:-5px 0 0 -5px;
		    position: absolute;
		    top:0;
		    left:0;
		    z-index: 0;
		    border-radius: 50%;
		    @include background-image(linear-gradient(90deg, rgba(198,54,31,1), rgba(255,82,195,1))); 
			}
			&:after{
				content: "";
				display: block;
				width: calc(100% + 2px);
				height: calc(100% + 2px);
				margin:-1px 0 0 -1px;
		    position: absolute;
		    top:0;
		    left:0;
		    z-index: 1;
		    border-radius: 50%;
		    background-color: $lightColor;
			}
			figure{
				display: block;
				width: 100%;
   			height: 100%;
				position: relative;
				z-index: 5;
				overflow: hidden;
				border-radius:50%;
				img{
					width: 100%;
					height: 100%;
				}
			}
			.uploadBtn{
				width: 100%;
				height: 35px;
				position: absolute;
				z-index: 5;
				bottom:0;
				left:0;
				&:before{
					content: "";
					display: block;
					width: 100%;
					height: 100%;	
					position: absolute;
					z-index: -1;
					@include opacity(0.6) ;
					filter: alpha(opacity=60);
					background-color: $darkColor;
				}
				p{
					width: 100%;
					position: absolute;
					z-index: 0;
					color:$lightColor;
					text-align: center;
					padding-top: 3px;
					@include box-sizing(border-box);
				}
				input{
					position: absolute;
					z-index: 5;
					@include opacity(0) ;
					filter: alpha(opacity=0);
					width: 150px;
					height: 45px;
					cursor: pointer;
				}
				i{
					display: inline-block;
					vertical-align: middle;
					color:$lightColor;
					font-size: 19px;
			    opacity: 0.9;
			    cursor: pointer;
				}
				span{
					display: inline-block;
					vertical-align: middle;
					font-weight: bold;
					font-size: 13px;
					cursor: pointer;
				}
				button{
					@include opacity(0) ;
					filter: alpha(opacity=0);
				}
			}
		}
		.pt-username{
			width: 70%;
			float: left;
			margin-top: 4%;
			.vip{
				font-size: 12px;
				font-weight: 900;
				margin-top: -25px;
				min-width: 130px;
				line-height: 20px;
			}
			.memberBtn{
				display: inline-block;
				vertical-align: middle;
				font-size: 13px;
				font-weight: bold;
				padding:0px 10px;
				box-sizing: border-box;
				line-height: 30px;
				text-align: center;
				border-radius: 10px;
				margin-bottom: 10px;
				margin-right: 6px;
			}
			.sortNo{
				color:#00aeef;
				background-color: #d9f3fd;
    		&:hover{
					color:#0094cd;
					background-color: #e9f9ff;
				}
			}
			.point{
				color: white;
				background-color: #6420e0;
				padding-right: 15px;
    		&:hover{
					background-color: #6becc0;
				}
			}
			.iconLv{
				display: inline-block;
		    margin: 5px 10px -5px 0;
		    width: 20px;
		    height: 20px;
			}
			.iconVip{
				display: inline-block;
        line-height: 20px;
				width: 25px;
				margin: 0 5px -5px 0;
			}
			.bonus{
				display: inline-block;
				vertical-align: middle;
				text-decoration: none;
				color:#fff;
				font-size: 13px;
				font-weight: bold;
				line-height: 30px;
				padding:0 10px;
				box-sizing: border-box;
				background-color:#81c225;
				border-radius: 10px;
				margin-bottom: 10px;
				span{
					display: block;
					&:before{
						content:attr(data-title);
					}					
				}
			}
			>p{
				font-size: 24px;
				margin-bottom: 15px;
			}
			.modifyBtn{
				display: block;
				width: 150px;
				height: 30px;
				line-height: 30px;
				padding: 0 8px;
				@include box-sizing(border-box);
				color:$lightColor;
				text-decoration: none;
				text-align: center;
				font-size: 13px;
				font-weight: bold;
				background-color: #d81255;
				@include border-radius(8px);
				position: relative;
				overflow: hidden;
				&:before{
					content: "";
					display: block;
					width: 180px;
					height: 100%;
					position: absolute;
					top:0;
					left: calc(-100% - 45px);
					z-index: 0;
					background-color: $lightColor;
					@include opacity(0.2) ;
					filter: alpha(opacity=20);
					@include transform(skewX(-45deg));
					@include transition(left,0.2s);
				}
				&:hover{
					@include box-shadow(0 1px 5px rgba(0,0,0,0.3));
					&:before{
						left:-15px;
						@include transition(left,0.2s);
					}
				}
			}
		}
	}
	.md-supportInfo{
		padding:30px 0 10px;
		border-top:1px solid #dbdbdb;
		.recordTab{
			text-align: left;
			li{
				display:inline-block;
				margin-right: 45px;
			}
		}
		.recordCont{
			position: relative;
			padding-top:40px;
			.closeBtn{
				display: none;
				width: 40px;
				height: 40px;
				position: absolute;
				top:-10px;
				right: 0;	
				cursor: pointer;	
				z-index: 20;
				&:before,&:after{
					content: "";
					display: block;
					width: 30px;
					height: 1px;
					background-color: #a1a1a1;
					position: absolute;
					top:20px;
					left:3px;
				}
				&:before{
					@include transform(rotate(45deg));
				}
				&:after{
					@include transform(rotate(-45deg));
				}
				&.btnShow{
					display: block;
				}
			}	
		}

		.sort-orderlist{
			display: none;
			&.show{
				display: block
			}
		}
		.pt-title{
			font-size: 14px;
			font-weight: bold;
			color:#262626;
			margin-bottom: 20px;
		}
		.pt-condition{
			font-size: 13px;
			color:#262626;
			margin-bottom: 25px;
			position: relative;
		}
		.sort-day{
			display: none;
		}
		.sort-money{
			display: none;
		}
		.sort-total{
			display: none;
		}
		.show{
			display: block;
		}
		table{
			width: 100%;
			tr{
				border:1px solid #dbdbdb;
				th{
					background-color: #f7f7f7;
					border:1px solid #dbdbdb;
					padding:10px 20px;
					box-sizing:border-box;
					font-size: 13px;
				}
				td{
					color:#919191;
					border:1px solid #dbdbdb;
					padding:10px 20px;
					box-sizing:border-box;
					font-size: 13px;
					a{
						color:#000;
						&:hover{
							color:#d81255;
						}
					}
				}
				.th-small{
					width: 90px;
					text-align: center;
				}				
			}
		}
		.pt-pagelist{
			text-align: center;
			margin:20px auto;
			.lastbtn{
				display: inline-block;
				vertical-align: middle;
				text-decoration: none;
				color:#000;;
			}
			.nextbtn{
				display: inline-block;
				vertical-align: middle;
				text-decoration: none;
			}
			ul{
				display: inline-block;
				vertical-align: top;
				text-align: center;
				li{
					display: inline-block;
					margin-right: -1px;
					a{
						color:#919191;
						font-size: 13px;
						text-decoration: none;
						padding:0 5px;
						box-sizing:border-box;
					}
					.on{
						font-weight: bold;
						color:#000;
					}
				}
			}
		}
	}
	.md-userinfo{
		max-width: 700px;
		width: 100%;
		margin:20px auto;
		position: relative;
		padding-bottom:100px;
		&:before{
			@extend %triangle;
			left: 50%;
			bottom: 80px;
			margin-left: -5px;
			border-width: 10px 5px 0 5px; 
			border-color: #666666 transparent transparent transparent;
			cursor: pointer;
		}		
		ul{
			width: 100%;
			height: 70px;
			position: relative;
			overflow: hidden;
			border-bottom:1px solid #e4e4e4;
			li{
				display: inline-block;
				width: calc(50% - 4px);
				min-height: 20px;
				font-size: 14px;
				line-height: 1.5;	
				margin: 0 0 15px;
				span{
					display: inline-block;
					vertical-align: top;
					margin-right: -4px;
					width: 90px;
					font-weight: bold;
				}
				.unable{
					color:#b1b1b1;
				}
				p{
					display: inline;
					vertical-align: top;
					margin:0 -2px;
					color:#666;
				}
				&.large-column{
					width: 100%;
					p{
						display: inline-block;
						vertical-align: middle;
					}
				}
				.el-select{
					width: auto;
					select{
						display: inline-block;
						vertical-align: middle;
						border:none;
						-webkit-appearance: none;
						-moz-appearance: none;
						-o-appearance: none;
						appearance: none;
						position: relative;
						box-sizing: border-box;
						outline: none;
						color:#666;
						font-size: 14px;
						margin-right: 2px;
					}
					select::-ms-expand {
						display: none;
					}
				}
			}
		}
		&.show{
			padding-bottom:0;
			ul{
				height: 100%;
			}
			&:before{
				top:auto;
				bottom:-20px;
				border-width: 0 5px 10px 5px;
				border-color: transparent transparent #666666 transparent;
			}
		}			
	}
	.md-bottomLink{
		@extend %commonBottonlink;
	}
}



.main-abstractInfo{
	.common-nonelimit{
		padding: 0 1%;
	}
	.th-accountInfo{
		.md-userinfo{
			&:before{
				display: none;
			}
			ul{
				height: auto;
				border-bottom:none;
			}
		}
		.md-user{
			margin:55px auto 0;
		}
	}  
}


.th-commonMember{
	width: 100%;
	max-width: 1060px;
	margin:7% auto 0;
	h2{
		font-size: 24px;
		font-weight: bold;
		color:#575757;
		text-align: center;
	}
	.gp-mdCont{
		width: 100%;
		max-width: 1000px;
		border:1px solid #dbdbdb;
		background-color: $lightColor;
		margin:7% auto 0;
		@extend %clear;
		padding: 3% 3% 5% 0;
		@include box-sizing(border-box);
	}
	.md-memberMenu{
		@include span(6 nest);
		a{
			display: block;
			height: 50px;
			line-height: 50px;
			@include box-sizing(border-box);
			margin-left: -1px;
			text-decoration: none;
			color:#262626;
			font-size: 14px;
			font-weight: bold;
			padding-left: 17%;
			@include box-sizing(border-box);
			@include transition(all,0.3s);
			&:hover{
				color:#dedede;
				@include transition(all,0.3s);
			}
		}
		.on{
			border-left:2px solid #333333;
		}
		.postalCode{
			width: 32%;
		}
	}
	.md-memberCont{
		@include span(18);
		border-left:1px solid #dbdbdb;
		@include box-sizing(border-box);
		ul{
			@include span(16 of 18);
			li{
				@include span(16 of 16 nest);
				margin-bottom: 10px;
				font-size: 14px;
				figure{
					display: inline-block;
					width: 50px;
					height: 50px;
					@include border-radius(50%);
					overflow:hidden;
					border:1px solid #dbdbdb;
					margin-left:-12px;
					img{
						width: 100%;
						height: 100%;
					}
				}
				>span{
					width: 65px;
					float: left;
					margin-left:12%;
					text-align: left;
					font-weight: bold;
					padding-top: 7px;
					@include box-sizing(border-box);
				}
				>div{
					@include span(11 of 16);
					text-align: left;
					color:#666;
					input{
						color:#666;
					}
					select{
						color:#666;
					}
					textarea{
						color:#666;
					}
					@extend %clear;
				}
				input{
					width:100%;
					height: 30px;
					padding-left: 10px;
					@include box-sizing(border-box);
					color:$darkColor;
					border:1px solid #dbdbdb;
					background-color: transparent;
					&.w-half{
						width: 50%;
					}
				}
				textarea{
					width: 98%;
					resize:none;
					color:$darkColor;
					border:1px solid #dbdbdb;
				}
				select{
					display: block;
					float: left;
					width: 32%;
					height: 30px;
					padding-left: 10px;
					box-sizing: border-box;
					border:1px solid #dbdbdb;
					margin-right:2%;
					&:last-child{
						margin-right:0;
					}
				}
				.title{
					font-size:24px;
					padding-top: 23px;
				}
				.unable{
					color:#b1b1b1;
					input{
						color:#b1b1b1;
					}
					.disabled{
						border:none;
						padding-left:0;
					}
				}
				.postcode{
					&.unable{
						input{
							pointer-events:none;
						}
					}
				}
				&.address{
					>div{
						width: 21%;
						margin-right: 0;
					}
					select{
						width: 100%;
					}
				}
			}
		}
		.pt-submit{
			width: 100%;
			float: left;
			margin-right: auto;
			.cont{
				margin-top: 30px;
				text-align: left;
				padding-left: 105px;
				box-sizing: border-box;
			}
			.submitBtn{
				display: inline-block;
				max-width: 450px;
				width: 100%;
				height: 40px;
				margin:0 auto 30px;
				border:1px solid #919191;
				box-sizing: border-box;
				font-size: 13px;
				color:#585858;
				text-align: center;
				line-height: 40px;
				text-decoration: none;
				position: relative;
				&.active{
					line-height: 45px;
					@include transition(all,0.3s);
				}
				&:before,&:after{
					content:"";
					position: absolute;
					width: 1px;
					height: 0%;
					background-color: #fff;
					@include transition(all,0.4s);
				}
				&:before{
					top:-1px;
					left:-1px;
				}
				&:after{
					bottom:-1px;
					right: -1px;
				}
				>span{
					display: block;
					width: 100%;
					height: 100%;
					position: relative;
					z-index: 10;
					&:before,&:after{
						content:"";
						position: absolute;
						width: 0%;
						height: 1px;
						background-color: #fff;
						@include transition(all,0.4s);
					}
					&:before{
						top:-1px;
						left:0;
					}
					&:after{
						bottom: -1px;
						right:0;
					}
				}              
				&:hover{
					color:#fff;
					border-color:transparent;
					background-color:#515151;
					&:before,&:after{
						height: calc(100% + 2px);
						@include transition(all,0.4s);
					}
					span{
						&:before,&:after{
							width: 100%;
							@include transition(all,0.4s);
						}
					}
				}
			}
			p{
				width: 100%;
				color:#d91256;
				font-size: 13px;
				text-align: center;
				margin-left:-100px;
				i{
					display: inline-block;
					vertical-align: middle;
					font-size: 19px;
					margin-right: 5px;
				}
				span{
					display: inline-block;
					vertical-align: middle;
					font-weight: bold;
				}
			}		
		}		
	}
}

.th-resetpassword{
	width: 100%;
	max-width: 1000px;
	border:1px solid #dbdbdb;
	background-color: $lightColor;
	margin:7% auto 0;
	padding:3%;
	@include box-sizing(border-box);
	.gp-mdCont{
		width: 100%;
		max-width: 800px;
		margin:8% auto 15%;
	}
	.md-password{
		@extend %clear;
		ul{
			@include span(24);
			li{
				@include span(24);
				margin-bottom: 20px;
				span{
					@include span(11);
					text-align: right;
					color: #262626;
					font-size: 16px;
					font-weight: bold;
					line-height: 30px;
				}
				div{
					@include span(13);
					input{
						width: 100%;
						height: 30px;
						line-height: 30px;
						padding-left: 5px;
						@include box-sizing(border-box);
					}
				}
			}
		}
		.pt-submitBtn{
			@include span(24);
			.btn{
				@include span(13 at 12 isolate);
				margin-right: auto;
				padding-top: 20px;
			}
			a,input[type=submit]{
				display: block;
				width: 150px;
				height: 30px;
				line-height: 28px;
				@include box-sizing(border-box);
				color:$lightColor;
				text-decoration: none;
				text-align: center;
				font-size: 13px;
				font-weight: bold;
				background-color: #d81255;
				@include border-radius(5px);
				position: relative;
				overflow: hidden;
				border:none;
				cursor: pointer;
				&:before{
					content: "";
					display: block;
					width: 180px;
					height: 100%;
					position: absolute;
					top:0;
					left: calc(-100% - 45px);
					z-index: 0;
					background-color: $lightColor;
					@include opacity(0.2) ;
					filter: alpha(opacity=20);
					@include transform(skewX(-45deg));
					@include transition(left,0.2s);
				}
				&:hover{
					@include box-shadow(0 1px 5px rgba(0,0,0,0.3));
					&:before{
						left:-15px;
						@include transition(left,0.2s);
					}
				}				
			}
		}
	}
	.md-bottomLink{
		@extend %commonBottonlink;
	}
}

.main-passwordChange{
	.th-commonMember{
		.md-memberCont{
			ul{
				li{
					input{
						width: 50%;
					}
				}
			}
		}
	}    
}

@include breakpoint(max-width 980px) {
	.main-accountInfo{
		.gp-thCont{
			h2{
				width: 80%;
				text-align: right;
			}
		}
		.md-classification{
			max-width: 800px;
			width: 90%;
		}
	}
	.th-accountInfo{
		width: 90%;
		.md-user{
			position: relative;
			.pt-img{
				position: absolute;
			}
			.pt-username{
				margin-top: 8%;
				width: 100%;
				.point{
					width: 50%;
					min-width: 130px;
					margin-right: 0 !important;
					float: right;
					margin-top: 2px;
					margin-bottom: 5vw; 
				}
				.sortNo{
					float: left;
					margin-top: 10px;
					width: 57.5%;
				}
				.bonus{
					float: right;
					margin-top: 10px;
					width: 40%;
					min-width: 110px;
				}
				.modifyBtn{
					margin-top: 15px;
					width: 100% !important;
				}
				p{
					width: 50%;
					margin-left: 5px;
					float: right;
					white-space:nowrap; 
	        overflow:hidden;
	        text-overflow:ellipsis;
	        margin-top: 2px;
				}
				span{
					text-align: center;
				}
			}
		}
		.md-userinfo{
			margin-bottom: 30px;
			ul{
				li{
					width: 100%;
				}
			}
		}
		.md-tablink{
			margin: 25px 30px;
		}
		.md-supportInfo{
			table{
				tr{
					&:nth-child(2n){
						background-color: #f4f4f4;
					}
					th{
						display: none;
					}
					td{
						display: block;
						width: 100%;
						border:none;
						line-height: 1.4;
						span{
							display: inline-block;
							vertical-align: middle;
							max-width:calc(100% - 150px);
						}
						&+td{
							border-top:1px dashed #dbdbdb;
						}
						&:before{
							content:attr(data-th)"：";
							display: inline-block;
							vertical-align: middle;
							width: 140px;
    					color: #262626;
						}
					}
					.th-small{
						width:100%;
						text-align: left;
					}
				}
			}
		}
	}

	.th-commonMember{
		.gp-mdCont{
			width: 90%;
		}
		.md-memberCont{
			ul{
				li{
					font-size: 14px;
					input{
						width: 100%;
					}
					select{
						&.city{
							width: 100%;
						}
						&.township{
							width: 100%;
						}
					}
				}
			}
			.pt-submit{
				.cont{
					text-align: center;
					padding-left:0;
				}
				.submitBtn{
					width: 62%;
				}
				p{
					margin-left:0;
				}
			}
		}
	}
	.th-resetpassword{
		width: 90%;
		margin-top: 10%;
	}

	
}

@include breakpoint(max-width 820px) {
	.th-accountInfo{
		.md-user{
			.pt-username{
				.modifyBtn{
					&:before{
						@include transition(left,0s);
					}
					&:hover{
						&:before{
							@include transition(left,0s);
						}
					}
				}
			}
		}
	} 
	.th-commonMember{
		.md-memberCont{
			.pt-submit{
				.submitBtn{
					&:before,&:after{
            @include transition(all,0s);
          }
          >span{
            &:before,&:after{
              @include transition(all,0s);
            }
          } 
					&:hover{
						// color: #585858;
            // background-color: transparent;
						// border-color: #919191;
						&:before,&:after{
              background-color: #919191;
              @include transition(all,0s);
            }
            span{
              &:before,&:after{
                background-color: #919191;
                @include transition(all,0s);
              }
            } 
					}
				}
			}
		}
	}   
	.th-resetpassword{
		.md-password{
			.pt-submitBtn{
				a,input[type=submit]{
					&:before{
						@include transition(all,0s);
					}
					&:hover{
						&:before{
							@include transition(all,0s);
						}
					}
				}
			}
		}
	}   
}

@include breakpoint(max-width 768px) {
	.main-passwordChange{
		.th-commonMember{
			.md-memberCont{
				ul{
					li{
						input{
							width: 95%;
						}
					}
				}
			}
		}    
	}
	.th-accountInfo{
		position: relative;
		.gp-mduser{
			margin: 75px auto 3%;
		}
		.md-tablink{
			display: inline-block;
			height: 30px;
			min-width: 100px;
			width:auto;
			cursor: pointer;
			position: absolute;
			z-index: 10;
			margin: 25px 20px 25px 50px;
			&:hover{
				ul{
					display: block;
				}
			}
			>p{
				display: block;
				width: 100%;
				line-height: 30px;
				text-align: left;
				font-family: "Microsoft JhengHei", sans-serif;
				font-weight: bold;
				padding:0 30px 0 0px;
				box-sizing: border-box;
				color:#262626;
				position: relative;
				font-size: 14px;
				&:after{
					content: "";
					display: inline-block;
					position: absolute;
					right:5px;
					top: 50%;					
					width: 0;
					height: 0;
					border-style: solid;
					margin-top: -3px;
					border-width: 7px 5px 0 5px;
					border-color: gray transparent transparent transparent;
				}
			}
			ul{
				display: none;
				list-style:none;
				li{
					display: block;
					height: 30px;
					line-height: 30px;
					color:#363636;
					text-align: left;
					font-family: "Microsoft JhengHei", sans-serif;
					font-weight: bold;
					padding:0 20px;
					@include box-sizing(border-box);
					background-color: #d4d4d4;
					@include transition(all,0.2s);
					&+li{
						margin-left: 0;
					}
					&.active{
						position: relative;
						&:before{
							content: "";
							display: block;
							@include imgWH("../images/selected.png");
							background-image: url("../images/selected.png");
							position: absolute;
							top:10px;
							left:5px;
						}
						&:after{
							display: none;
						}						
					}
					&:hover{
						background-color: #bbb;
					}
				}      
			}
		}
	}
}
@include breakpoint(max-width 640px) {
	.main-accountInfo{
		#imgCut{
			.closeBtn{
				top: 10px;
    		right: 10px;
			}
			.md-imgcut{
				width: 100%;
			}
		}
	}
	.th-accountInfo{
		.gp-mduser{
			width: 88%;
		}
		.md-user{
			.pt-img{
				margin-right: 5%;
			}
			.pt-username{
				p{
					font-size: 19px;
				}
			}
		}
		.md-userinfo{
			padding-bottom: 40px;
			&:before{
				bottom:20px;
			}
			ul{
				height: 115px;
				li{
					margin-bottom: 10px;
					&+li{
						border-top: 1px dashed #f0f0f0;
						padding-top: 10px;
					}
					span{
						width: 100%;
					}
					p{
						width: 100%;
						margin-left: 0;
						font-weight: normal;
					}
				}
			}
		}
	}

	.th-commonMember{
		.gp-mdCont{
			padding:2% 3% 5% 3%;
		}
		.md-memberMenu{
			@include span(24);
			margin-bottom: 30px;
			a{
				display: inline-block;
				padding:8px 20px;
				height: auto;
				line-height: 1.8;
			}
			.on{
				border-left:none;
				border-bottom:2px solid $darkColor;
			}
		}
		.md-memberCont{
			@include span(24);
			border-left:none;
			ul{
				@include span(24);
				li{
					>span{
						margin-left:6%;
					}
				}
			}
		}
	}
	.th-resetpassword{
		margin-top: 15%;
		.md-password{
			ul{
				li{
					span{
						font-size:14px; 
					}
				}
			}
			.pt-submitBtn{
				.btn{
					width: 100%;
					margin:0;
					text-align: center;
					a{
						display: inline-block;
					}
				}
			}
		}
	}
}

@include breakpoint(max-width 460px) {
	.main-accountInfo{
		.md-user{
			.pt-username{
				.point{
					margin-bottom: 2vw;
				}
			}
		}
		.md-classification{
			margin:20px auto 10px;
			ul{
				li{
					a{
						padding:0 16px;
						line-height: 31px;
					}
				}
			}
		}
		.md-supportInfo{
			.recordTab{
				li{
					width: 100%;
					margin-right: 0;
				}
			}
		}
	}
	.main-abstractInfo{
		.th-accountInfo{
			.md-user{
				.pt-username{
					margin-top: 30px;
				}
			}
		}  
	}
	.th-accountInfo{
		.md-user{
			.pt-img{
				width: 110px;
				height: 110px;
				left: 2%;
				.uploadBtn{
					height: 31px;
					p{
						padding-top: 1px;
					}
					span{
						font-size: 12px;
					}
					input{
						width: 110px;
						height: 40px;
					}
				}
			}
			.pt-username{
				margin-top: 12%;
				.sortNo{
					margin-right: 0;
					display: block;
					width: 55%;
					min-width: 130px;
				}
				.bonus{
					display: block;
					text-align: center;
					width: 42.5%;
					min-width: 100px;
				}
				>p{
					font-size: 16px;
				}
				.modifyBtn{
					width: 100%;
					line-height: 31px;
					&:before{
						width: 160px;
					}
				}
			}
		}
		.md-userinfo{
			.md-userinfo{
				padding-bottom: 40px;
			}
		}
		.md-supportInfo{
			table{
				tr{
					td{
						&:before{
							width:90px;
						}
						span{
							max-width:calc(100% - 100px);
						}
					}
				}
			}
			.pt-pagelist{
				ul{
					li{
						a{
							padding:0 1px;
						}
					}
				}
			}
		}
	}


	.th-commonMember{
		h2{
			font-size: 20px;
		}
		.md-memberMenu{
			a{
				padding:1% 4%;
				font-size: 14px;
			}
		}
		.md-memberCont{
			ul{
				li{
					font-size: 14px;
					.title{
						font-size: 19px;
						padding-top: 8%;
					}
					select{
						width: 28%;
						padding-left:6px;
					}
					.year{
						width: 40%;
					}
					>span{
						margin-left:4%;
					}
				}
			}
			.pt-submit{
				.submitBtn{
					line-height: 41px;
				}
			}
		}
	}
	.th-resetpassword{
		margin-top: 20%;
		.md-password{
			.pt-submitBtn{
				a{
					line-height: 31px;
				}
			}
		}
	}
}

