@mixin imgWH($img){
	width: image-width($img);
	height: image-height($img);
}

@mixin img_WH($img){
	width: image-width($img);
	height: image-height($img);
	background-image: url($img);
}

@mixin margin_halfWH($img){
	margin-left: image-width($img)*-0.5;
	margin-top: image-height($img)*-0.5;
}

// @include keyframes(hover-color) {
//   0%{background-position:0% 0%}
//   30%{background-position:100% 0%}
//   100%{background-position:100% 0%}
// };

@mixin blur($px){
	-webkit-filter: blur($px);
  -moz-filter: blur($px);
  -o-filter: blur($px);
  -ms-filter: blur($px);
  filter: blur($px);
}

@include keyframes(loadingImg) {
  0%{
		@include transform(scale(0.6));
  }
	20%{
		@include transform(scale(0.9));
	}
	40%{
		@include transform(scale(0.8));
	}
	80%{
		@include transform(scale(0.9));
	}
  100%{
		@include transform(scale(0.6));
  }
};

@include keyframes(shake1) {
	0%{
		@include transform(rotate(2deg) scale(1));
	}
	100%{
		@include transform(rotate(-1deg) scale(1.05));
	}
};

@include keyframes(shake2) {
	0%{
		@include transform(rotate(4deg));
	}
	100%{
		@include transform(rotate(-4deg));
	}
};

@include keyframes(plane) {
	0%{
		left:0;
		top:60px;
		opacity: 0.9;
	}
	60%{
		top:24px;
		left:80%;
		opacity: 0.9;
	}
	70%{
		top:24px;
		left:84%;
		opacity: 0;
	}
	80%{
		top:24px;
		left:84%;
		opacity: 0;
	}
	100%{
		left:0;
		top:60px;
		opacity: 0;
	}
};

@include keyframes(plane2) {
	0%{
		left:0;
		top:40px;
		opacity: 0.9;
	}
	60%{
		top:4px;
		left:80%;
		opacity: 0.9;
	}
	70%{
		top:4px;
		left:84%;
		opacity: 0;
	}
	80%{
		top:4px;
		left:84%;
		opacity: 0;
	}
	100%{
		left:0;
		top:40px;
		opacity: 0;
	}
};

@include keyframes(fontColor) {
	0%{
		color:#e8e125;
	}
  20%{
		color:#fecb2e;
  }
	40%{
		color:#e8fe2e;
	}
	60%{
		color:#fe2e5f;
	}
	80%{
		color:#e86e25;
	}
	100%{
		color:#e8e125;
	}
};


@include keyframes(bgColor) {
	0%{
		background-color:#a906ff;
	}
  30%{
		background-color:#ff0606;
  }
	60%{
		background-color:#ff7506;
	}
	100%{
		background-color:#a906ff;
	}
};


@include keyframes(btn-close-before) {
	0%{
		width: 0;
    height: 0;
	}
	100%{
		width: 22px;
		height: 2px;
		top:25px;
		left:14px;
	}
}
@include keyframes(btn-close-after) {
	0%{
		width: 0;
    height: 0;
	}
	100%{
		width: 22px;
		height: 2px;
		top:25px;
		right:14px;
	}
}

// @include animation(fontColor 3s ease infinite);


// @include animation(hover-color 3s ease infinite);
// background-size: 300% 300%;
@include keyframes(hover-color) {
  0%{background-position:0% 88%}
  50%{background-position:100% 45%}
  100%{background-position:0% 88%}
}


@include keyframes(blockTop){
  0%{
		opacity: 0;
		@include transform(translate3d(0,100%,0))
	}
	100%{
		opacity: 1;
		@include transform(translate3d(0,0,0))
	}
}

@include keyframes (flipCoin) {
	0% { 
		@include transform(rotate3d(0,0,0,0deg));
	 }
	100% {
		@include transform(rotate3d(0,2,0,180deg));
	}
}