$banner-margin:calc((100% - 336px)/2);

.th-newsCont{
  margin-bottom: 30px;
  .gp-mdCont{
		@extend %clear;
		position: relative;
	}
	.md-banner{
		width: 300px;
		float: right;
		iframe{
			box-shadow: 0 0 0 rgba(0,0,0,0), 0 0 0 rgba(0,0,0,0);
			@include transition(all,0.2s,ease-in-out);
			position: relative;
			background: url("../images/300x250.jpg") center no-repeat;
			background-size: cover;
			margin-bottom: 15px;
			&:hover{
				box-shadow: 0 13px 20px rgba(0, 0, 0, 0.1), 0 7px 10px rgba(0, 0, 0, 0.1);
				@include transition(all,0.2s,ease-in-out);
				&:after{
					width: 100%;
					@include transition(all,0.4s);
				}
			}
		}
		a{
			box-shadow: 0 0 0 rgba(0,0,0,0), 0 0 0 rgba(0,0,0,0);
			@include transition(all,0.2s,ease-in-out);
			position: relative;
			margin-bottom: 15px;
			background: url("../images/300x250.jpg") center no-repeat;
			background-size: cover;
			float: left;
			width: 300px;
			min-height: 250px;
			img{
				width: 100%;
				height: 100%;
			}
			&:hover{
				box-shadow: 0 13px 20px rgba(0, 0, 0, 0.1), 0 7px 10px rgba(0, 0, 0, 0.1);
				@include transition(all,0.2s,ease-in-out);
				&:after{
					width: 100%;
					@include transition(all,0.4s);
				}
			}
			&.nonelink{
				cursor:default;
				&:hover{
					box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);
					&:after{
						width: 0%;
					}
				}
			}
		}
		&.fixed-banner{
			position: absolute;
			right:0;
		}
	}
	.md-newsCont{
		width: 725px;
    float: left;
    .editCont{
      width: 100%;
      img{
        max-width: 100%;
			}
			h6{
				font-size: 12px !important;
				line-height: 12px !important;
			}
			h5{
				font-size: 15px !important;
				line-height: 24px !important;
			}
			a{
				color: #000 !important;
        font-weight: 700;
        background-color: #f8f8f8;
        text-decoration: none !important;
				text-decoration: none !important;
				&:hover{
					text-decoration: underline !important;
					color: #3897f0 !important;
				}
			}
		}
		.imgs{
			max-width: 80px;
			width: 80px;
			height:80px;
			overflow: hidden;
			object-fit: cover;
		}
		.imgb{
			max-width: 120px;
			width: 120px;
			height:120px;
			overflow: hidden;
			object-fit: cover;
		}
    .aboutlink{
      width: 100%;
      padding:20px;
      box-sizing: border-box;
      margin-top:60px;
      background-color: $lightColor;
      position: relative;
      &:before{
        content:"";
        display: block;
        width: 100%;
        border-top:1px solid #cecece;
        position: absolute;
        top:-25px;
        left:0;
      }
      >p{
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      ul{
        // list-style: circle ;
        margin-left: 14px;
        li{
          margin-bottom:12px;
          line-height: 24px;
          font-size: 14px;
          a{
            text-decoration: none;
            color:#000000;
            &:hover{
              color:#00abed;
						}
						img{
							display: inline-block;
							vertical-align: middle;
						}
						span{
							width:calc(100% - 80px);
							padding-left:10px;
							box-sizing: border-box;
							display: inline-block;
							vertical-align: middle;
						}
          }
        }
      }
		}
		.prevNextCont{
			width: 100%;
			background-color: #ededed;
			padding:20px;
			box-sizing: border-box;
			margin-bottom: 30px;
			@extend %clear;
			.blockTitle{
				@include span (24);
				font-size: 24px;
				font-family: 'Arail';
				font-weight: bold;
				text-align: center;
    		padding: 0 10px 30px;
				span{
					color:#fc136b;
				}
			}
			.blockLike{
				@include span(12);
				text-decoration: none;
				figure{
					width: 80px;
					display: inline-block;
					vertical-align: top;
					img{
						width: 100%;
					}
				}
				figcaption{
					width: calc(100% - 86px);
					padding-left: 4px;
					box-sizing: border-box;
					display: inline-block;
					vertical-align: top;
					span{
						display: block;
						color:#fc136b;
						font-size: 14px;
						font-weight: bold;
						margin-bottom:8px;
					}
					p{
						color:#000000;
						font-size: 13px;
						line-height: 20px;
					}
				}
			}
		}
		.followUsCont{
			border:1px solid #cecece;
			padding:10px 20px;
			box-sizing: border-box;
			figure{
				width: 120px;
				display: inline-block;
				vertical-align: top;
				img{
					width: 100%;
				}
			}
			.textCont{
				display: inline-block;
				vertical-align: top;
				width:calc(100% - 130px);
				padding-left:35px;
				box-sizing: border-box;
				h4{
					font-size: 16px;
					font-weight: bold;
					font-family: "Arial";
					color:#000;
					margin:10px 0;
					span{
						color:#fc136b;
					}
				}
				.fbInfo{
					margin-bottom:20px;
					box-sizing: border-box;
					border-bottom:1px solid #cecece;
					>span{
						display: inline-block;
						vertical-align: middle;
						margin-bottom:10px;
						font-size: 12px;
					}
					.fb-like{
						display: inline-block;
						vertical-align: middle;
						margin-bottom:10px
					}
				}
				.others{
					%othersCont{
						text-decoration: none;
						display: inline-block;
						vertical-align: top;
						border-radius: 3px;
						color:#fff; 
						padding: 3px 10px;
						box-sizing: border-box;
						margin-bottom: 4px;
						i{
							display: inline-block;
							vertical-align: top;
							margin-right: 4px;
							font-size: 16px;
						}
						span{
							display: inline-block;
							vertical-align: top;
							font-size: 13px;
						}						
					}
					.line{
						@extend %othersCont;
						background-color: #1bb63c;
					}
					.twitter{
						@extend %othersCont;
						background-color:#2796dd;
					}
					.instagram{
						@extend %othersCont;
						background-color:#000;
					}
					.pinterest{
						@extend %othersCont;
						background-color:#efefef;
						box-shadow: inset 0 0 1px #888;
						i{
							color:#bb0f24;
						}
						span{
							color:#363636;
						}
					}
					.email{
						@extend %othersCont;
						background-color:#e30f22;
					}
				}
			}
		}
  }
}


@include breakpoint(max-width 1366px) {
  .th-newsCont{
		.md-banner{
			@include span(6);
			float: right;
		}
		.md-newsCont{
      @include span(18);
    }
  }
  .md-top-banner{
		width: 300px;
		height: 100px;
		margin: 15px auto 0;
		background: url("../images/300x100.jpg") center no-repeat;
		background-size: cover;
	}
	.md-mobile{
		a{
			float: left !important;
			margin-bottom: 15px !important;
			width: 336px;
			min-height: 280px;
			img{
				width: 100%;
				min-height: 100%;
				background: url("../images/336x280.jpg") center no-repeat;
				background-size: cover;
			}
		}
	}
}

@include breakpoint(max-width 1024px) {
  .th-newsCont{
  	.md-top-banner{
			margin: 0 auto;
		}
    .md-banner{
			margin-top: 40px;
			width: 100%;
			margin: 40px auto 0;
			text-align: center;
			iframe{
				//@include span(12);
				width: 336px;
				height: 280px;
				float: none;
				margin: 0 auto 10px;
				background: url("../images/336x280.jpg") center no-repeat;
				background-size: cover;
			}
			a{
				//@include span(12);
				width: 336px;
				height: 280px;
				float: none;
				margin: 0 auto 10px;
				background: url("../images/336x280.jpg") center no-repeat;
				background-size: cover;
				img{
					width: 336px;
					height: 280px;
					display: inline-block;
				}
			}
		}

		.md-mobile{
			a{
				float: none !important;
				margin-bottom: 15px !important;
				img{
					margin-bottom: -10px;
				}
			}
		}

		.md-newsCont{
			@include span(24);
			.aboutlink{
				ul{
					margin-left:0;
				}
			}
    }

  }
}
@include breakpoint(max-width 500px) {
  .th-newsCont{
    .md-banner{
			iframe{
				//@include span(12);
				margin-bottom: 10px;
				margin-left: 10px;
				float: left;
			}
			a{
				//@include span(12);
				margin-bottom: 10px;
				float: left;
			}
		}
  }
}

@include breakpoint(max-width 460px) {
	.th-newsCont{
		.md-newsCont {
			.prevNextCont {
				.blockLike{
					@include span(24);
					margin-bottom: 15px;
				}
			}
			.md-banner{
				iframe,a{
					@include span(24);
					margin-bottom: 10px;
				}
			}
			.followUsCont{
				position: relative;
				figure{
					position: absolute;
    			left: 20px;
				}
				.textCont{
					width: 100%;
					padding-left: 0;
					h4{
						padding-left:135px;
					}
					.fbInfo{
						padding-left: 135px;
						border-bottom:none;
					}
					.others{
						border-top: 1px solid #cecece;
    				padding-top: 20px;
					}
				}
			}
		}
		.md-banner{
			iframe{
				//@include span(24);
				width: 336px;
				height: 280px;
				margin-left: $banner-margin;
			}
			a{
				width: 336px;
				height: 280px;
				display: inline-block;
			}
		}
	} 
}