$banner-margin:calc((100% - 336px)/2);

.th-ranking{
	h2{
		margin:25px 0;
		text-align: center;
		img{
			display: inline-block;
			max-width: 100%;
		}
	}
	&.th-ranking-now{
		.gp-mdCont{
			margin-top: 0 !important;
			.md-ranking{
				max-width: 500px;
				.ranklist{
		    	border: none !important;
		    	.gp-ptCont{
		    		padding-top: 0 !important; 
		    		margin: 10px !important;
		    		width: 100% !important;
		    		padding: 7px 0;
		    		.pt-num{
		    			min-width: 80px;
		    			span{
		    				font-size: 72px;
		    			}
		    		}
		    	}
		    	.pt-text{
		    		width: 50%;
		    		h4{
		    			color: white;
		    			font-size: 36px;
		    			margin-left: 15px;
		    		}
		    	}
		    	li{
		    		background-color: rgba(0,0,0,0) !important;
		    		width: 100%;
		    		&:before{
							width: 0px !important;
						}
						&:after{
							background-color: rgba(0,0,0,0) !important;
						}
						&+li{
							border-top:0px solid #efefef !important;
						}
						.pt-img{
							width: 100px;
							height: 100px;
						}
		    	}
		    }
			}
		}
	}
	.md-abstract{
		width: 100%;
		span{
			display: block;
			margin:0 auto;
			width: 80%;
			font-size: 14px;
			font-weight: bold;
			color:#424242;
			line-height: 20px;
		}
	}
	.gp-mdCont{
		@extend %clear;
		position: relative;
		margin-top: 50px;
	}
	.md-banner{
		width: 300px;
		float: right;
		iframe{
			box-shadow: 0 0 0 rgba(0,0,0,0), 0 0 0 rgba(0,0,0,0);
			@include transition(all,0.2s,ease-in-out);
			position: relative;
			background: url("../images/300x250.jpg") center no-repeat;
			background-size: cover;
			margin-bottom: 15px;
			&:hover{
				box-shadow: 0 13px 20px rgba(0, 0, 0, 0.1), 0 7px 10px rgba(0, 0, 0, 0.1);
				@include transition(all,0.2s,ease-in-out);
				&:after{
					width: 100%;
					@include transition(all,0.4s);
				}
			}
		}
		a{
			box-shadow: 0 0 0 rgba(0,0,0,0), 0 0 0 rgba(0,0,0,0);
			@include transition(all,0.2s,ease-in-out);
			position: relative;
			margin-bottom: 15px;
			background: url("../images/300x250.jpg") center no-repeat;
			background-size: cover;
			float: left;
			width: 300px;
			min-height: 250px;
			img{
				width: 100%;
				height: 100%;
			}
			&:hover{
				box-shadow: 0 13px 20px rgba(0, 0, 0, 0.1), 0 7px 10px rgba(0, 0, 0, 0.1);
				@include transition(all,0.2s,ease-in-out);
				&:after{
					width: 100%;
					@include transition(all,0.4s);
				}
			}
			&.nonelink{
				cursor:default;
				&:hover{
					box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);
					&:after{
						width: 0%;
					}
				}
			}
		}
		&.fixed-banner{
			position: absolute;
			right:0;
		}
	}
	.md-ranking{
		width: 725px;
		float: left;
		%orderBtn{
			display: block;
			width: 180px;
			height: 30px;
			float: left;
			text-align: center;
			text-decoration: none;
			font-size: 14px;
			font-weight: bold;
			color:#333;
			background-color: #f8f8f8;
			border:1px solid #efefef;
			border-bottom: none;
			line-height: 30px;
			box-sizing:border-box;
			position: relative;
			overflow: hidden;
			z-index: 5;
			span{
				display: inline-block;
			}
			&.on{
				background-color: $lightColor;
				border-bottom:1px solid $lightColor;
				bottom:-1px;
			}
		}
		.weekBtn{
			@extend %orderBtn;
			margin-left: 50px;
			margin-right: 5px;
		}
		.allBtn{
			@extend %orderBtn;
		}
		.searchBox{
			width: 50px;
			float: right;
			@include breakpoint(max-width 1366px) {
				width: auto;
				float: left;
			}
			.webSearch{
				@include breakpoint(min-width 1024px) {
					display: block;
					position: relative;
					float: right;
					.searchBtn{
						margin-right: 10px;
						float:right;
						position: right;
						right: 0;
					}
					&:hover{
						width: 300px;
						input{
							width: 250px;
							border: 1px solid #dbdbdb; 
							border:1px solid #dbdbdb;
							@include transition(all,0.4s);
							background-color: $lightColor;
						}
					}
				}
				@include breakpoint(max-width 1024px) {
					display: none;
				}
			}
			.mobileSearch{
				@include breakpoint(max-width 1366px) {
					display: block;
					position: relative;
					left: 15px;
					input{
						background-color: $lightColor;
					}
					span{
						float:right;
						top: 2px;
						width: 20px;
						height: 20px;
						opacity: 0.3;
						z-index: 11;
						@include breakpoint(min-width 820px) {
							left: 20px
						}
					}
					.closeBtn{
						display: none;
						&:before,&:after{
							position: absolute;
							content: ' ';
							height: 20px;
							width: 3px;
							top: 5px;
							background-color: #333; 
							left: 10px;  
				    }
				    &:after{
							transform: rotate(45deg);
				    }
				    &:before{
							transform: rotate(-45deg);
				    }
					}
				}
			}
			input{
				width: 0;
				line-height: 25px;
				position: absolute;
				z-index: 11;
				right: 35px;
				border-color:transparent;
				background-color: transparent;
				border-right: 1px solid #dbdbdb;
				@include box-sizing(border-box);
				@include transition(all,0.4s);
				@include box-sizing(border-box);
        &:focus{
        	outline:none;
        }
				@include breakpoint(max-width 1366px) {
					top: 2px;
					z-index: 11;
					padding: 0 5px;
					margin: 0;
					border: none;
					max-width: 360px;
					left: -355px;
					display:none;
					background-color: white;
     		}
			}
	
			span{
				text-decoration: none;
				cursor: pointer;
				@include breakpoint(max-width 1024px) {
					margin: 0 0 0 5px;
					display: block;
				}
				@include breakpoint(max-width 500px) {
					margin: 0 0 0 5px;
				}
				i{
					font-weight: bold;
					font-size: 20px;
					line-height: 30px;
					color: #8f8f8f;
				}
			}
		}
		.ranklist{
			width: 100%;
			float: left;
			border-top:1px solid #efefef;
			border-bottom:1px solid #efefef;
			position: relative;
			z-index: 0;
			li{
				float: left;
				background-color: $lightColor;
				position: relative;
				>a{
					display: inline-block;
					width: 100%;
					text-decoration: none;
					color:#666666;
					position: relative;
					z-index: 10;
					@extend %clear;
				}
				&+li{
					border-top:1px solid #efefef;
				}
				&:before,&:after{
					content: "";
					display: block;
					position: absolute;
					top:0;
				}
				&:before{
					width: 50px;
					height: 100%;
					background-color: #ececec;
					z-index: 5;
				}
				&:after{
					right:0;
					// width:0;
					width: 100%;
					height: 100%;
					background-color: #f8f8f8;
					z-index: 0;
					opacity:0;
					@include transition(all,0.4s);
				}
				&:hover{
					&:after{
						opacity:1;
						@include transition(all,0.4s);
					}
				}
			}
			.noSearch{
				display: none;
				width: 100%;
				line-height: 50px;
				text-align: center;

			}
			.pt-lift{
				width: 50px;
				height: 100%;
				position: absolute;
				z-index: 5;
				display: inline-block;
				vertical-align: middle;
				.icon-rightside{
					color:#888888;
				}
				.icon-upside{
					color:#25e84e;
				}
				.icon-downside{
					color:#d72d2c;
				}
				i{
					position: absolute;
					top:50%;
					left:50%;
					margin-top: -8px;
					margin-left: -7px;
				}
			}
			.gp-ptCont{
				display: inline-block;
				width: 670px;
				padding:15px 0;
				box-sizing:border-box;
				position: relative;
				z-index: 5;
				margin-left: 50px;
			}
			.pt-num{
				display: inline-block;
				vertical-align: middle;
				margin-left: 10px;
				min-width: 70px;
				text-align: center;
				span{
					font-family: arial;
					font-size: 60px;
					font-weight: bold;
					color:#d81255;
					// color:transparent;
					font-style: italic ;
				}
			}
			.pt-img{
				width: 150px;
				height: 150px;
				border-radius: 50%;
				border:1px solid #d2d2d2;
				position: relative;
				overflow: hidden;
				display: inline-block;
				vertical-align: middle;
				img{
					width: 100%;
				}
			}
			.pt-text{
				width:span(10);
				color:#333;
				display: inline-block;
				vertical-align: middle;
				padding-left: 10px;
				box-sizing:border-box;
				line-height: 2;
				h4{
					font-size: 16px;
					font-weight: 700;
				}
				p{
					font-size: 13px;
				}
				h5{
					font-size: 12px;
					font-weight: 700;
					color: #00abed;
				}
			}
			.noneTop10{
				.pt-img{
					width: 75px;
					height: 75px;
					border-radius: 50%;
				}
				.pt-num{
					span{
						// color:transparent;
					}
				}
				.gp-ptCont{
					padding-top: 25px;
				}
			}	
			.moreBtn{
				z-index: 50;
				position: absolute;
				display: inline-block;
				width: 100px;
				height: 30px;
				padding:0 8px;
				line-height: 30px;
				box-sizing:border-box;
				text-align: center;
				border:none;
				cursor: pointer;
				font-size: 13px;
				font-weight: bold;
				right: 25px;
				top:50%;
				margin-top: -15px;
				background-color: #8f8f8f;
				color:$lightColor;
				border-radius:15px;
				@include transition(all,0.4s);
				font-family:"Microsoft JhengHei", "Microsoft YaHei", sans-serif, "serif";
				&:hover{
					background-color:#25e84e; 
					@include transition(all,0.4s);
				}
				i{
					display: inline-block;
					vertical-align: middle;
					margin-top: -2px;
				}
			}
		}
		.pt-moreBtn{
			float: left;
			width: 100%;
			margin-top: 40px;
			button{
				border:none;
				display: block;
				cursor: pointer;
				height: 38px;
				width: 100%;
				line-height: 38px;
				text-align: center;
				background-color: #464e54;
				text-decoration: none;
				@include border-radius(5px);
				font-size: 13px;
				color:$lightColor;
				@include transition(all,0.4s);
				font-family:"Microsoft JhengHei", "Microsoft YaHei", sans-serif, "serif";
				&:hover{
					background-color: #5b5fa7;
					@include transition(all,0.4s);
				}
			}
		}
	}	
}

.th-planinfo{
	margin-top: 40px;
	.md-text{
		width: 100%;
		padding:30px 110px;
		box-sizing: border-box;
		background-color: $lightColor;
		
		>p{
			font-size: 15px;
			font-weight: bold;
			margin-bottom: 20px;
		}
		ul{
			list-style: decimal;
			margin-left: 14px;
			li{
				margin-bottom:20px;
				line-height: 17px;
				font-size: 13px;
			}
		}
	}
}

.th-fixbotbanner{
	display: none;
	position: fixed;
	width: 100%;
	left:0;
	bottom:0;
	z-index: 110;
	img{
		width: 100%;
	}
	.md-slideShow{
    position: relative;
    overflow: hidden;
  }

  .pt-bannerList{
    position: relative;
    z-index: 0;
    padding-top: 16%;
    overflow: hidden;
    li{
      position: absolute;
      top:0;
      width: 100%;
      &.active{
        z-index: 10;
        @include opacity(1);
      }
      img{
        width: 100vw;
        top:0;
        left: 0;
      }
    }
  }
}


html.loginShow{
	#th-loginCont2{
		display: block;
		width: 100%;
		height: 100%;
		position: fixed;
		top:0;
		left:0;
		z-index: 130;
		box-sizing:border-box;
		&:after{
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top:0;
			left:0;
			background-color: #f8f8f8;
			z-index: -1;
		}	
	}
}

#th-loginCont2{
	display: none;
	@extend %commonEnterInfo;
	.gp-mdCont{
		max-width: 50%;
		margin:0 auto;
	}
	.closeBtn{
		width: 40px;
		height: 40px;
		position: absolute;
		top:50px;
		right: 50px;	
		cursor: pointer;	
		z-index: 20;
		&:before,&:after{
			content: "";
			display: block;
			width: 36px;
			height: 1px;
			background-color: #575757;
			position: absolute;
			top:20px;
			left:3px;
		}
		&:before{
			@include transform(rotate(45deg));
		}
		&:after{
			@include transform(rotate(-45deg));
		}
	}
}

.main-commonRanking{
	@include container();	
	.th-commonContInfo{
		border-radius: 0;
		margin:0 auto;
		width: 100%;
		float: none;
		text-align: center;
		&:before{
			content:"";
			display: inline-block;
			height: 55px;
			width: 100%;
			max-width: 1060px;
			margin:-55px auto 0;
			border-radius: 20px 20px 0 0;
			background-color: #f8f8f8;
		}
		.md-info{
			width: 100%;
			text-align: center;
			position: relative;
			padding:0 20px;
			box-sizing:border-box;
			margin:15px auto 0;
			&:before{
				content: "";
				display: block;
				height: 1px;
				width: 100%;
				background-color: #ededed;
				position: absolute;
				top:75px;
				left:0;
			}
			.gp-ptCont{
				width: 100%;
				max-width: 1060px;
				margin: 0 auto;
				position: relative;
				@extend %clear;
				figure{
					float: left;
					width: 150px;
					height: 150px;
					position: relative;
					overflow: hidden;
					border-radius:50%;
					border:1px solid #eee;
					box-sizing:border-box;
					margin:0 auto 20px;
					img{
						width: 100%;
						height: 100%;
					}
				}			
				.girlinfo{
					float: left;
					width: 54%;
					text-align: left;
					padding-left: 15px;
					box-sizing: border-box;
					.details{
						.pt-size{
							display: inline-block;
							vertical-align: middle;
							margin: 10px auto;
							li{
								display: inline-block;
								position: relative;
								font-size: 13px;
								color:#666;
								&+li{
									padding-left:13px;
									&:before{
										content: "/";
										display: block;
										position: absolute;
										left:2px;
										top:0;
									}
								}
							}
						}
						.btnCont{
							display: inline-block;
							vertical-align: middle; 
							width: 30px;
							height: 25px;
							overflow: hidden;
							position: relative;
							.introduction{
								display: block;
								width: 100px;
								height: 30px;
								position: absolute;
								top: -2px;
								left: 35px;
								z-index: 0;
								overflow: hidden;
								&:before{
									content: "";
									display: block;
									width: 100%;
									height: 100%;
									position: absolute;
									left:0;
									top:0;
									z-index: 10;
									background-color: #f8f8f8;
									@include blur(3px);
								}
								p{
									width: 100px;
									height: 30px;
									position: absolute;
									top:0;
									left: 0;
									z-index: 0;
									line-height: 30px;
									font-size: 13px;
								}
							}					
							&:hover{
								overflow: inherit;
								.introduction{
									&:before{
										left:100%;
										@include transition(all,0.5s);
									}
								}
							}
						}						
					}	
				}	
			}
			.pt-link{
				position: absolute;
				left: 20px;
				top: -45px;
				a{
					display: inline-block;
					font-size: 13px;
					text-decoration: none;
					color:#666;
					&:hover{
						color: #dedede;
					}
					&+a{
						padding-left: 20px;
					}
				}
			}				
			.pt-text{
				font-size: 12px;
				line-height: 1.8;
				margin-top:15px;
			}
			.pt-title{
				margin:13px auto 0;
				text-align: left;
				@extend %clear;
				h3{
					display: inline-block;
					vertical-align: middle;
					font-size: 32px;
					font-weight: bold;
					color:#333;
					line-height: 30px;
					width: auto;
					max-width: 400px;
				}
			}			
			.pt-supportBtn{
				position: absolute;
				right: 0;
				top: 90px;
				a{
					display: inline-block;
					width: 150px;
					height: 30px;
					line-height: 28px;
					font-size: 13px;
					font-weight: bold;
					color:$lightColor;
					background-color: #25e84e;
					@include border-radius(5px);
					@include box-sizing(border-box);
					border:1px solid #efefef;
					@include transition(all,0.4s);
					text-align: center;
					text-decoration: none;
					&:hover{
						background-color: #009f21;
						@include transition(all,0.4s);
					}
				}
			}
			.pt-spao{
				position: absolute;
				right:0;
				top:0;
				width: 100%;
				max-width: 433px;
				.spao{
					font-size: 0.75em;
					margin: 10px 0 0;
					color: #333;
					text-align: left;
					box-sizing:border-box;
					text-align: right;
					ul{
						display:inline-block;
						vertical-align: top;
						padding-top:3px;
						.title-rank {
							display: inline-block;
							vertical-align: text-top;
							font-size: 14px;
							margin-right: 30px;
							line-height: 20px;
							width: auto;
							max-width: 120px;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}
						li{
							&:last-child{
								margin-right: 5px;
							}
						}			
					}				
				}

				i{
					font-size: 20px;
					display: inline-block;
					vertical-align: middle;
					margin-right: 5px;
				}
				.c1{
					color:#ffcc00;
				}
				.c2{
					color:#989898;
				}
				.c3{
					color:#c77136;
				}
			}
			.pt-marquee{
				position: fixed;
				width: 100%;
				bottom: 0;
				left: 0;
				z-index: 50;
				@include background-image(linear-gradient(90deg, rgba(246,65,105,1), rgba(109,78,214,1))); 
			}
			.marquee{
				position: relative;
				width: 100%;
				max-width: 1060px;
				overflow: hidden;
				height: 27px;
				margin: 12px auto 11px;
				li{
					position: absolute;
					top: -999em;
					left: 0;
					display: block;
					white-space: nowrap; 
					padding:0;
					color:#fff;
					font-size: 13px;
					span{
						color: #fff;
						font-weight: bold;
					} 
				}
				.title-marquee {
					display: inline-block;
					height: 22px;
					line-height: 22px;
					padding: 0 10px;
					margin: 0px 10px 0 0; 
					font-weight: bold;
					color: #fff;
					border:2px solid #fff;
					text-align:center;
				}				
			}
			&.md-donate{
				figcaption{
					.details{
						>p{
							display: inline-block;
							vertical-align: middle;
							color:#666;
							font-size: 14px;
							margin:12px auto;
						}						
					}
				}
				.pt-title{
					a{
						background-image: none;
						background-color: #464e54;
					}
				}
			}
			.pt-donate{
				width: 100%;
				max-width: calc(100% - 185px);
				margin: 10px 0 0 15px;
				text-align: left;
				float: left;
				position: relative;
				.donatemoney{
					display: block;
					margin-bottom: 10px;
					font-size: 14px;
					label{
						display: inline-block;
						vertical-align: top;
						height: 30px;
						line-height: 30px;
						color:#666666;
						margin-right: 7px;
						min-width:120px;
					}
					%commonEnterce{
						display: inline-block;
						vertical-align: top;
						width: 120px;
						height: 30px;
						border:1px solid #dbdbdb;
						box-sizing:border-box;
					}
					input{
						@extend %commonEnterce;
						padding-left: 10px;
						box-sizing: border-box;
						min-width: 220px;
					}
					select{
						@extend %commonEnterce;
						margin-left: 7px;
					}
				}
				.encourage{
					display: block;
					margin-bottom: 10px;
					font-size: 14px;
					label{
						display: inline-block;
						vertical-align: top;
						height: 30px;
						line-height: 30px;
						color:#666666;
						min-width:120px;
					}
					input{
						width: 220px;
						height: 30px;
						border:1px solid #dbdbdb;
						box-sizing:border-box;
						padding-left: 10px;
						box-sizing: border-box;
					}
				}
				.donateBtn{
					display: block;
					text-align: right;
					position: absolute;
					right: 0;
					top: 0px;
					%dontateButton{
						display: inline-block;
						width: 150px;
						height: 30px;
						text-decoration: none;
						background-color: #25e84e;
						color:$lightColor;
						text-align: center;
						line-height: 30px;
						border-radius:5px;
						border:none;
						font-weight: bold;
						font-size: 14px;
						&:hover{
							background-color: #009f21;
						}
					}
					button{
						@extend %dontateButton;
					}
					a{
						@extend %dontateButton;
					}
				}
			}	
		}

		#playBtn{
			display: inline-block;
			vertical-align: middle;
			height: 25px;
			width: 25px;
			border-radius: 50%;
			background-color: #d9f3fd;
			text-align: center;
			cursor: pointer;
			margin-left: 5px;
			position: relative;
			z-index: 10;
			i{
				font-size: 14px;
				color:#46bff4;
				line-height: 26px;
				margin-left: 2px;
			}
			&:hover{
				i{
					color:#0e77a5;
				}
			}			
		}


	}
	.th-girlproduct{
		background-color: #fff;
		padding: 25px 0;
    margin-top: 15px;
		h3{
			font-size: 24px;
			color:#303030;
			text-align: center;
			margin-bottom:30px;
		}
		.md_slideShow{
			position: relative;
			max-width: 1020px;
			margin:0 auto;
			width: 100%; 
			.pt_imgCont{
				width: 100%;
				height: 360px;
				position: relative;
				overflow: hidden;
				margin:0 auto;
				overflow-x: auto;
				padding-bottom: 10px;
				/* width */
				&::-webkit-scrollbar {
					width: 6px;
				}
				/* Track */
				&::-webkit-scrollbar-track {
					background: #f1f1f1; 
				}
				/* Handle */
				&::-webkit-scrollbar-thumb {
					background: rgb(201, 201, 201); 
				}
				/* Handle on hover */
				&::-webkit-scrollbar-thumb:hover {
					background: rgb(168, 168, 168); 
				}
				ul{
					position: relative;
					left:0;
					top:0; 
					&:after{
						@extend %clear;
					}               
				}
				li{
					float:left;
					width: 240px;
					margin: 0 5px 5px;
					&.status-new{
						.product{
							.new{
								display: inline-block;
							}
						}
					}
					&.status-soldout{
						.product{
							.soldout{
								display: inline-block;
							}
						}
					}
					&.status-bought{
						.product{
							.bought{
								display: inline-block;
							}
						}
					}
					&.status-support{
						.product{
							.support{
								display: inline-block;
							}            
						}
					}
					&.status-discount{
						.product{
							.price{
								text-decoration: line-through;
							}
							.discount{
								display: inline-block;
							}
						}
					}
				}
				.product{
					display: block;
					text-align: center;
					text-decoration: none;
					font-size: 13px;
					padding-bottom: 8px;
					box-sizing: border-box;
					position: relative;
					width: 100%;
					padding-top: 100%;
					background-repeat: no-repeat;
					background-size: 100%;
					@include transition(all,0.2s);
					&:hover{
						background-color:#f7f7f7;
					}
					.support{
						display: none;
						height: 22px;
						line-height: 22px;
						padding:0 8px; 
						color:#fff;
						background-color:#41b6e6;
						position: absolute;
						top:10px;
						right:10px;
					}
					.bought{
						display: none;
						height: 22px;
						line-height: 22px;
						padding:0 8px; 
						color:#fff;
						background-color:#959595;
						border-radius: 10px;
						position: absolute;
						right: 5px;
						bottom: 145px;
					}
					figcaption{
						font-weight: bold;
						line-height: 20px;
						color:#211922;
						margin-bottom: 10px;
						margin-top:30px;
						padding:0 15px;
						box-sizing: border-box;
						white-space:nowrap; 
						width:100%; 
						overflow:hidden;
						text-overflow:ellipsis;
					}
					.price{
						display: block;
						font-weight: bold;
						color:#211922;
						margin-bottom: 10px;
						&:before{
							content:attr(data-before);
						}
						&:after{
							content:attr(data-after);
							margin-left: 3px;
						}
					}
					.multi-status{
						display: block;
						width: 100%;
						height: 30px;
					}
					.soldout{
						display: none;
						height: 21px;
						line-height: 21px;
						background-color:#d42222;
						color:#fff;
						padding: 0 11px; 
						box-sizing: border-box;
					}
					.new{
						display: none;
						color:#cd0000;
						height: 21px;
						margin:0 10px 10px;
					}      
					.discount{
						display: none;
						color:#cd0000;
						font-size:13px;
						height: 21px;
						margin:0 2px 10px;
						&:before{
							content:attr(data-before);
						}
						&:after{
							content:attr(data-after);
							margin-left: 3px;
						}
					}
				}
			}
	
			.pt_prev,.pt_next{
				display: block;
				@extend %indent;
				width: 30px;
				height: 50px;
				position: absolute;
				z-index: 999;
				top:50%;
				margin-top: -25px;
				background-color: $lightColor;
				&.hide{
					display: none;
				}
				&:before,&:after {
					position: absolute;
					top: 50%;
					margin-top: -15px;
					content: "";
					width: 0;
					height: 0;
					border-style: solid;
				}
			}
	
			.pt_prev{
				left:-20px;
				&:before,&:after {
					left: 50%;
					margin-left: -10px;
					border-width: 15px 15px 15px 0;
					border-color: transparent $darkColor transparent transparent ;
				}
				&:after {
					margin-left: -5px;
					border-color: transparent $lightColor transparent transparent ;
				}
			}
			.pt_next{
				right: -20px;  
				&:before,&:after {
					right: 50%;
					margin-right: -10px;
					border-width: 15px 0 15px 15px;
					border-color: transparent  transparent transparent $darkColor;
				}
				&:after {
					margin-right: -5px;
					border-color: transparent  transparent transparent $lightColor;
				}
			}
	
		}
	
	}
	.th-otherRelated{
		max-width: 1060px;
		margin:0 auto;
		width: 100%;
		float: none;
	}
	.ranking-bottom{
		@include span(24);
	}
}
.ranking-nonelimit{
	width: 100%;
	@extend %clear;
}

.th-rankingGallery{
	width: 100%;
}

.main-caption{
	margin-bottom: 20px
}


html.sponsorShow{
	overflow:hidden;
	#th-sponsor{
		display: block;
		width: 100%;
		height: 100%;
		position: fixed;
		top:0;
		left:0;
		z-index:130;
		box-sizing:border-box;
		overflow-y: auto;
		overflow-x: hidden;
		&:after{
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: fixed;
			top:0;
			left:0;
			background-color: #1c1c1c;
			opacity: 0.95;
			z-index: -1;
		}	
	}
}
#th-sponsor{
	display: none;
	.closeBtn{
		width: 40px;
		height: 40px;
		position: absolute;
		top:50px;
		right: 50px;	
		cursor: pointer;	
		z-index: 20;
		&:before,&:after{
			content: "";
			display: block;
			width: 36px;
			height: 1px;
			background-color: $lightColor;
			position: absolute;
			top:20px;
			left:3px;
		}
		&:before{
			@include transform(rotate(45deg));
		}
		&:after{
			@include transform(rotate(-45deg));
		}
	}
  .pt-payment{
    li{
      a{
        display: block;
        width: 270px;
        padding:5px 10px 6px 90px;
        text-decoration: none;
        color:#000;
        font-size: 13px;
        border:1px solid #efefef;
        box-sizing: border-box;
        text-align: left;
        margin: 0 auto 20px;
        border-radius:3px;
        &:hover{
          border-color:#919191;
        }
      }
      i{
        color:#000;
        margin-right: 5px;
        display: inline-block;
        vertical-align: middle;
      }
      span{
        display: inline-block;
        vertical-align: middle;
      }
      .icon-credit{
        font-size: 16px;
      }
      .icon-union{
        font-size: 17px;
      }
      .icon-store{
        font-size: 17px;
      }
      .icon-atm{
        font-size: 19px;
      }
      .icon-paypal{
        font-size: 18px;
      }
    }
  }
  .pt-payment-method{
    width: 50%;
    margin: 0 auto;
    .pt-payment-title{
      text-align: center;
      width: 100%;
      float: left;
      margin: 20px auto; 
    }
    .pt-payment-method-box{
      margin: 20px 0;
      input{
        margin: 10px;
        padding: 5px; 
      }
    }
  }
  .pt-payment-box{
    width: 400px;
    margin: 15px auto;
    font-size: 13px;
    display: none;
    color: white;
    border-top: 1px solid #fff; 
  	.pt-payment-email-box{
    	margin-bottom: 20px;
    	display: none;
    	padding: 10px 5px;
    	.text-danger{
      	padding: 5px 0 5px 5px;
    	}
    	input[type=email]{
      	padding-left: 10px;
      	box-sizing:border-box;
      	min-width:220px;
      	display:inline-block;
      	vertical-align:top;
      	width:120px;
      	height:30px;
      	border:1px solid #dbdbdb;
    	}
    	.inline-text{
    		display:inline-block;
    		line-height: 40px;
    		input{
    			margin: 0px;
    		}
    	}
  	}
  	input{
    	margin: 5px 5px 5px;
    	display:inline-block;
  	}
  	.pt-payment-title{
    	text-align: center;
    	width: 100%;
    	display: inline-block;
    	margin: 30px auto 50px; 
    	height: 30px;
    	line-height: 30px;
    	border-bottom: 0px;
    	font-size: 16px;
  	}
  	.pt-payment-tips{
    	border-bottom: 0px;
      text-align: center;
      width: 100%;
      display: inline-block;
      height: 30px;
      line-height: 30px;
      padding: 10px 0;
  	}
  	&.active{
    	display: block;
  	}
  	.sendReceiptBtn{
  		border: 1px solid #efefef;
  		padding: 10px;
  		border:1px solid white;
  		text-align: center;
  		margin: 30px auto;
  		cursor: pointer;
  	}
  }
  @include breakpoint(max-width 640px) {
    .pt-payment-box{
      width: 70%;
      max-width: 400px;
      min-width: 320px;
      margin: 0 auto;
    }
    .pt-payment{
      li{
        a{
          padding-left: 20%;
        }
      }
    }  
  }
  @include breakpoint(max-width 500px) {
    .pt-payment{
      li{
        a{
          padding-left: 30%;
        }
      }
    }  
  }	
	.md-sponsor{
		width: 400px;
		margin:0 auto;
		color:$lightColor;
		//padding: 0 75px;
		padding: 0;
		margin-top: 0;
		box-sizing:border-box;
		text-align: left;	
		position: relative;
		z-index: 0;
		display: none;
		>p{
			color: #d91256;
	    font-size: 13px;
	    margin-bottom: 20px;
	    i{
	    	display: inline-block;
		    vertical-align: middle;
		    font-size: 19px;
		    margin-right: 5px;
	    }
	    span{
		    display: inline-block;
		    vertical-align: middle;
		    font-weight: bold;
	    }
		}
		.pt-payment-title{
    	text-align: center;
    	width: 100%;
    	display: inline-block;
    	margin: 30px auto 20px; 
    	height: 30px;
    	line-height: 30px;
    	font-size: 16px;
    	border-bottom: 1px solid #efefef;
  	}
		&.active{
			display: block;
		}		
	}
	h4{
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
		font-size: 16px;
		margin-top: 72px;
		color: white;
	}

	.pt-pay{
		li{
			margin-bottom: 20px;
			text-align: center;
			a{
				display: block;
				color:$lightColor;
				text-decoration: none;
				border:1px solid $lightColor;
				border-radius: 5px;
				padding:7px;
				box-sizing:border-box;
				@include transition(all,0.3s);
				width: calc( 100% - 150px );
				margin: 0 auto;
			}
			i{
				margin-right: 5px;
				color:$lightColor;
				@include transition(all,0.3s);
			}
			&:hover{
				a{
					color: #00c3ff;
					border-color:#00c3ff;		
					@include transition(all,0.3s);
				}
				i{
					color: #00c3ff;
					@include transition(all,0.3s);
				}
			}
		}
	}
}

#iframeBg{
	display: none;
	&.iframeShow{
		display: block;
		width: 100%;
		height: 100%;
		position: fixed;
		top:0;
		left:0;
		z-index: 130;		
	}
	&:before{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 0;
		background-color: $darkColor;
		opacity: 0.8;
	}
	.md-video{
		width: 80%;
		margin: 50px auto 0;
		.gp-ptBtn{
			position: relative;
			z-index: 5;
			@extend %clear;
			>span{
				@extend %commonBtn;
				i{
					color:$lightColor;
				}
			}
		}
		.playerCont{
			position: relative;
			padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
		}
		iframe{
			@extend %commonPlaycont;
			z-index: -5;
		}
		video{
			@extend %commonPlaycont;
			z-index: -5;
		}
		.show{
			z-index:0;
		}
	}
	%commonBtn{
		display: inline-block;
		width: 180px;
		height: 30px;
		vertical-align: bottom;
		color:$lightColor;
		text-align: center;
		line-height: 30px;
		cursor: pointer;
		p{
			display: inline-block;
			vertical-align: middle;
			font-weight: bold;
			font-size: 14px;
		}
		i{
			vertical-align: middle;
			margin-right: 5px;
		}
		&.active{
			cursor: default;
		}
	}
	#youtubeBtn{
		background-color: #3a5161;
	}
	#others{
		background-color: #00abed;
	}
	.closeBtn{
		width: 40px;
		height: 40px;
		position: absolute;
		top:20px;
		right: 50px;	
		cursor: pointer;	
		&:before,&:after{
			content: "";
			display: block;
			width: 30px;
			height: 1px;
			background-color: $lightColor;
			position: absolute;
			top:20px;
			left:5px;
		}
		&:before{
			@include transform(rotate(45deg));
		}
		&:after{
			@include transform(rotate(-45deg));
		}
	}
	#youtubeBtn{
		@extend %commonBtn;
		background-color: #3a5161;
	}
	#youkuBtn{
		@extend %commonBtn;
		background-color: #00abed;
	}
}



@include breakpoint(max-width 1366px) {
	.th-planinfo{
		.md-text{
			width: 98%;
			margin:0 1%;
		}
	}
	.th-ranking{
		h2{
			img{
				width: 80%;
				margin:0 auto;
			}
		}
		.gp-mdCont{
			margin-top: 30px;
		}
		.md-banner{
			@include span(6);
			float: right;
		}
		.md-ranking{
			@include span(18);
			.ranklist{
				@include span(24 nest);
				li{
					width: 100%;
					&:after{
						@include transition(all,0s);
					}
					&:hover{
						&:after{
							// width: 0%;
							opacity:0;
							@include transition(all,0s);
						}
					}
				}
				.gp-ptCont{
					width:calc(100% - 55px);
				}
				.pt-text{

				}
				.noneTop10{

				}
			}
		}
		.md-mobile{
			a{
				float: left !important;
				margin-bottom: 15px !important;
				width: 336px;
				min-height: 280px;
				img{
					width: 100%;
					min-height: 100%;
					background: url("../images/336x280.jpg") center no-repeat;
					background-size: cover;
				}
			}
		}
	}

	.main-commonRanking{
		.th-commonContInfo{
			&:before{
				display: none;
			}
			margin-top: 15px;
			padding-top: 40px;
			.md-info{
				.marquee{
					width:96%;
				}
			}
		}
		.th-girlproduct{
			.md_slideShow{
				.pt_imgCont{
					width: 92%;
				}
			}
		}  
	}

}


@include breakpoint(max-width 1024px) {
  .th-ranking{
    .md-banner{
			margin-top: 40px;
			width: 100%;
			margin: 40px auto 0;
			text-align: center;
			iframe{
				//@include span(12);
				width: 336px;
				height: 280px;
				float: none;
				margin: 0 auto 10px;
				background: url("../images/336x280.jpg") center no-repeat;
				background-size: cover;
			}
			a{
				//@include span(12);
				width: 336px;
				height: 280px;
				float: none;
				margin: 0 auto 10px;
				background: url("../images/336x280.jpg") center no-repeat;
				background-size: cover;
				img{
					width: 336px;
					height: 280px;
					display: inline-block;
				}
			}
		}

		.md-mobile{
			a{
				float: none !important;
				margin-bottom: 15px !important;
				img{
					margin-bottom: -10px;
				}
			}
		}

		.md-newsCont{
			@include span(24);
			.aboutlink{
				ul{
					margin-left:0;
				}
			}
    }

  }
}


@include breakpoint(max-width 980px) {
	#iframeBg{
		.md-video{
			width: 90%;
		}
	}
	.main-commonRanking{
		.th-commonContInfo{
			.md-info{
				.pt-spao{
					top: -60px;
				}				
			}
		}
	}
}

@include breakpoint(max-width 820px) {
	.th-ranking{
		.md-ranking{
			.ranklist{
				.moreBtn{
					@include transition(all,0s);
					&:hover{
						@include transition(all,0s);
					}
				}
			}
		}
	}
	.main-commonRanking{
		.th-commonContInfo{
			.md-info{
				.pt-supportBtn{
					a{
						@include transition(all,0s);
						&:hover{
							@include transition(all,0s);
						}
					}
				}
			}
		}
	}    
}

@include breakpoint(max-width 768px) {
	.th-ranking{
		h2{
			margin:4% 0 2%;
		}
		.md-banner{
			margin-top: 40px;
			width: 100%;
			margin: 40px auto 0;
			text-align: center;
			iframe{
				//@include span(12);
				width: 336px;
				height: 280px;
				float: none;
				margin: 0 auto 10px;
				background: url("../images/336x280.jpg") center no-repeat;
				background-size: cover;
			}
			a{
				//@include span(12);
				width: 336px;
				height: 280px;
				float: none;
				margin: 0 auto 10px;
				background: url("../images/336x280.jpg") center no-repeat;
				background-size: cover;
				img{
					width: 336px;
					height: 280px;
					display: inline-block;
				}
			}
		}

		.md-ranking{
			@include span(24);
			.ranklist{
				.pt-num{
					position: absolute;
					top:35px;
					left:5px;
					z-index: 10;
					margin-left: 0;
					min-width: auto;
					span{
						font-size:48px; 
					}
				}
				.pt-img{
					width: 100px;
					height: 100px;
					margin-left:75px;
				}
				.moreBtn{
					top:auto;
					bottom: 10px;
					margin-top: 0;
					&:hover{
						background-color: #8f8f8f;
						@include transition(all,0s);
					}
				}
				.noneTop10{
					.pt-img{
						width: 100px;
						height: 100px;
					}
				}
			}
		}
	}
	.th-planinfo{
		.md-text{
			padding:30px 40px;
		}
	}
	.th-commonShare{
		top:75%;
		margin-top:-123px;
	}
	.th-fixbotbanner{
		display: block;
	}
	.main-commonRanking{
		.th-commonContInfo{
			.md-info{
				padding-top: 50px;
				&.md-donate{
					padding-top:0; 
					.pt-link{
						top: -40px;
					}					
				}
				&:before{
					top:-18px;
				}
				.gp-ptCont{
					padding-bottom: 15px;
					.girlinfo{
						width: calc(100% - 155px);
					}
				}
				.pt-link{
					top: -90px;
				}
				.pt-supportBtn{
					width: 100%;
					position: relative;
					right: 0;
					top: 15px;
					float: right;
				}	
				.pt-spao{
					.spao{
						ul{
							display: block;
							margin-top:10px;
						}
					}
					.title-rank{
						width: calc(33% - 33px);
					}
				}
				.pt-donate{
					.donatemoney{
						input{
							display: block;
							width: 96%;
						}
					} 
					.encourage{
						input{
							display: block;
							width: 96%;
						}
					} 
					.donateBtn{
						text-align: left;
						position: relative;
						right:auto;
						left:0;
						top:0;
						margin: 20px 0 5px;
					}
				} 								
			}
		}
	}
	#th-sponsor{
		.md-pay{
			li{
				&:hover{
					a{
						color: $lightColor;
						border-color:$lightColor;		
						@include transition(all,0s);
					}
					i{
						color: $lightColor;
						@include transition(all,0s);
					}
				}
			}
		}
	}
}

@include breakpoint(max-width 640px) {
	.th-ranking{
		.md-ranking{
			.ranklist{
				.pt-text{
					h4{
						font-size: 14px;
						line-height: 1.2;
					}
				}
				.pt-num{
					left:0px;
				}
				.pt-img{
					margin-left:45px;
				}
			}
		}
	}
	#th-loginCont2{
		.gp-mdCont{
			max-width: 300px;
		}
		.closeBtn{
			top:10px;
			right:10px;
		}
	}
	#iframeBg{
		.closeBtn{
			right: 20px;
		}
		.md-video{
			margin-top: 30%;
			.gp-ptBtn{
				>span{
					@include span(12 nest);
				}
			}
		} 
		#youtubeBtn{
			width: 50%;
		}
		#youkuBtn{
			width: 50%;
		}         
	}
	#th-sponsor{
		.closeBtn{
			top:10px;
			right: 10px;
		}
	}
	.main-commonRanking{
		.th-commonContInfo{
			.md-info{
				.pt-spao{
					.spao{
						text-align: left;
						ul{
							.title-rank{
								margin-right: 15px;
							}
						}
					}
				}
				.pt-supportBtn{
					width: 100%;
		    	right: 0;
				}		
			}
		}
	}     

}

@include breakpoint(max-width 500px) {
	.main-commonRanking{
		.th-commonContInfo{
			.pt-spao{
				.title-rank{
					margin-bottom: 8px;
					margin-right: 18px;
				}
			}
		}
	} 
	.th-ranking{
    .md-banner{
			iframe{
				//@include span(12);
				margin-bottom: 10px;
				margin-left: 10px;
				float: left;
			}
			a{
				//@include span(12);
				margin-bottom: 10px;
				float: left;
			}
		}
  } 
}

@include breakpoint(max-width 460px) {
	.th-ranking{
		.md-abstract{
			span{
				font-size: 12px;
			}
		}
		.md-ranking{
			.weekBtn{
				width: 35%;
				margin-left: 30px;
			}
			.allBtn{
				width: 35%;
			}
			.ranklist{
				li{
					&:before{
						width: 30px;
					}
				}
				.gp-ptCont{
					width:calc(100% - 50px);
				}
				.pt-lift{
					width: 30px;
				}
				.pt-num{
					left: -10px;
					span{
						font-size: 38px;
					}
				}
				.pt-img{
					width: 75px;
					height: 75px;
					margin-left: 35px;
				}
				.pt-text{
					width:span(12);
					vertical-align: top;
					line-height: 1.5;
				}
				.moreBtn{
					right:auto;
					margin-left: 175px;
					margin-bottom: -5px;
					line-height: 30px;
				}
				.noneTop10{
					.pt-img{
						width: 75px;
						height: 75px;
					}
				}
			}
			.pt-moreBtn{
				button{
					line-height: 39px;
				}
			}
		}
		.md-banner{
			iframe{
				//@include span(24);
				width: 336px;
				height: 280px;
				margin-left: $banner-margin;
			}
			a{
				width: 336px;
				height: 280px;
				display: inline-block;
			}
		}
	}
	.main-commonRanking{
		.th-commonContInfo{
			.md-info{
				padding:50px 10px 25px 10px;
				.gp-ptCont{
					figure{
						width: 125px;
						height: auto;
						position: absolute;
						left: 0;
						top: 0;
					}
					.girlinfo{
						width: 100%;
						figcaption{
							width: 100%;
							min-height: 125px;
							padding-top: 10%;
							box-sizing: border-box;							
							&:after {
								content: "";
								display: block;
								clear: both;
							}
						}
						.details{
							margin:0;
							text-align: left;
							width: calc(100% - 125px);
							float: right;
							.btnCont{
								display: block;
								margin-left: -5px;
							}
						}
					}
				}
				.pt-title{
					margin: 0;
					text-align: left;
					width: calc(100% - 125px);
					float: right;
					h3{
						font-size: 24px;
						line-height: 24px; 
					}
				}
				.pt-text{
					width: 100%;
					margin-top: 5px;
				}
				.marquee{
					width: 94%;
				}
				.pt-supportBtn{
					top:5px;
					right:0;
					a{
						line-height: 30px;
					}
				}
				.title-marquee{
					line-height: 23px;
				}
				.pt-link{
					left:0;
				}
				.pt-donate{
					width: 100%;
					max-width: 100%;
					.donatemoney{
						input{
							display: block;
							width: 90%;
						}
						select{
							display: block;
							width: 90%;
							margin-left: 0;
							margin-top: 10px;
						}
					}
					.encourage{
						input{
							display: block;
							width: 90%;
						}
					}
					.donateBtn{
						text-align: center;
						a{
							line-height: 31px;
						}
					}
				}
				.pt-spao{
					.title-rank{
						margin-right: 10px;
						width: calc(33% - 10px);
						&:last-child{
							margin-right:0;
						}
					}
					.spao{
						margin: 0px;
						position: relative;
						overflow-x: auto;
						width: 100%;
						ul{
							width: 410px;
						}
					}
					.beams{
						margin-bottom:5px;
						line-height: 23px;
					}
				}		
			}
		}
	}
	#th-sponsor{
		.md-sponsor{
			max-width: 400px;
			min-width: 320px;
			width: 70%;
			margin-top: 5%;
			padding:25px 0 10px;
		}
	}
}

@include breakpoint(max-width 400px) {
	.main-commonRanking{
		.th-commonContInfo{
			.md-info{
				.gp-ptCont{
					figure{
						width: 100px;
						top:4%;
					}
					.girlinfo{
						padding-left:0;
						.details{
							width: calc(100% - 110px);
						}
					}
				}
				.pt-title{
					width: calc(100% - 110px);
					h3{
						font-size: 20px;
    				line-height: 20px;
					}
				}
				.pt-supportBtn{
					right: 5px;
				}
			}
		}
	}    
}