.th-recordlist, .th-orderlist, .th-babypointlist, .th-pointlist{
	width: 100%;
	border:1px solid #dbdbdb;
	background-color: $lightColor;
  margin: 0 auto ;
  h2{
    width: 100%;
    margin: 25px auto 3%;
    font-size: 16px;
    font-weight: bold;
    color: #575757;
    text-align: left;
  }
	.gp-mduser{
		width: 80%;
		margin:3% auto ;
		position: relative;
	}
	.md-tablink{
		box-sizing: border-box;
		>p{
			display: none;
		}
		ul{
			li{
				display: inline-block;
				position: relative;
				&:after{
					content:"";
					display: none;
					width: 20px;
					height: 2px;
					background-color:#262626;
					position: absolute;
					bottom:-5px;
					left:50%;
					margin-left:-10px;
				}			
				&+li{
					margin-left:40px;		
				}
				&.active{
					&:after{
						display: block;
					}
				}
			}
		}
		a{
			display: inline-block;
			vertical-align: middle;
			color:#262626;
			font-size: 14px;
			font-weight: bold;
			text-decoration: none;
			position: relative;
		}
	}
	.md-supportInfo{
		padding:30px 0 10px;
		.recordTab{
			text-align: left;
			li{
				display:inline-block;
				margin-right: 45px;
			}
		}
		.recordCont{
			position: relative;
			padding-top:5px;
			.closeBtn{
				display: none;
				width: 40px;
				height: 40px;
				position: absolute;
				top:-10px;
				right: 0;	
				cursor: pointer;	
				z-index: 20;
				&:before,&:after{
					content: "";
					display: block;
					width: 30px;
					height: 1px;
					background-color: #a1a1a1;
					position: absolute;
					top:20px;
					left:3px;
				}
				&:before{
					@include transform(rotate(45deg));
				}
				&:after{
					@include transform(rotate(-45deg));
				}
				&.btnShow{
					display: block;
				}
			}	
		}

		.sort-orderlist{
			// display: none;
			&.show{
				display: block
			}
		
		}
		.pt-title{
			font-size: 14px;
			font-weight: bold;
			color:#262626;
			margin-bottom: 20px;
		}
		.pt-condition{
			font-size: 13px;
			color:#262626;
			margin-bottom: 25px;
			position: relative;
		}
		.sort-day{
			// display: none;
		}
		.sort-money{
			// display: none;
		}
		.sort-total{
			// display: none;
		}
		.show{
			display: block;
		}
		table{
			width: 100%;
			tr{
				border:1px solid #dbdbdb;
				th{
					background-color: #c7c7c7;
					border:1px solid #dbdbdb;
					padding:10px 20px;
					box-sizing:border-box;
					font-size: 13px;
					a{
						text-decoration: none;
						color:#000000;
						font-size: 15px;
						font-weight: bold;
						position: relative;
						top:-2px;
						&:hover{
							color:#ec127b;
						}
					}
					.icon-question{
						&:before{
							position: absolute;
							top: 3px;
							left: 5px;
						}
					}
				}
				td{
					color:#919191;
					border:1px solid #dbdbdb;
					padding:10px 20px;
					box-sizing:border-box;
					font-size: 13px;
					a{
						color:#000;
						&:hover{
							color:#d81255;
						}
					}
					.deduct{
						color: #ec127b;
					}
				}
				.td-babypoint{
					&.got{
						.getNow{
							display: none;
						}
						p{
							display: block;
						}
					}
					p{
						display: none;
					}					
					.getNow{
						display: block;
						text-decoration: underline;
						cursor: pointer;
						&:hover{
							color: #d81255;
						}
					}
				}
				.th-small{
					width: 70px;
					text-align: center;
				}				
			}
		}	

		.pt-lastBabyPoint, .pt-lastPoint{
			display: block;
			width: 100%;
			margin-top: -1px;
			table{
				width: 100%;
				tr{
					border:1px solid #dbdbdb;				
					td{
						border:1px solid #dbdbdb;
						font-size: 13px;
						padding: 10px;
						box-sizing: border-box;
						text-align: right;	
						&:before{
							content:attr(data-title);
							display: inline-block;
						}						
					}
				}
			}
		}
		.pt-pagelist{
			text-align: center;
			margin:20px auto;
			.lastbtn{
				display: inline-block;
				vertical-align: middle;
				text-decoration: none;
			}
			.nextbtn{
				display: inline-block;
				vertical-align: middle;
				text-decoration: none;
			}
			ul{
				display: inline-block;
				vertical-align: top;
				text-align: center;
				li{
					display: inline-block;
					margin-right: -1px;
					a{
						color:#919191;
						font-size: 13px;
						text-decoration: none;
						padding:0 2px;
						box-sizing:border-box;
					}
					.on{
						font-weight: bold;
						color:#000;
					}
				}
			}
		}
	}
	.md-userinfo{
		max-width: 700px;
		width: 100%;
		margin:20px auto;
		ul{
			width: 100%;
			li{
				display: inline-block;
				width: 50%;
				min-height: 20px;
				font-weight: bold;
				font-size: 15px;
				line-height: 1.5;	
				margin: 0 -2px 15px;
				span{
					display: inline-block;
					vertical-align: top;
					margin:0 -2px;
					width: 90px;
				}
				.unable{
					color:#b1b1b1;
				}
				p{
					display: inline;
					vertical-align: top;
					margin:0 -2px;
				}
				&.large-column{
					width: 100%;
					p{
						display: inline-block;
					}
				}
			}
		}
	}
	.md-bottomLink{
		@extend %commonBottonlink;
	}
}
.main-recordlist{
	.common-nonelimit{
		padding: 0 1%;
	}
}

.main-orderlist{
	.common-nonelimit{
		padding: 0 1%;
	}
}

.main-babypointlist{
	.common-nonelimit{
		padding: 0 1%;
	}
}

.main-pointlist{
	.common-nonelimit{
		padding: 0 1%;
	}
}

.th-getNow{
  width: 100%;
  height: 100%;
  opacity: 0;
  position: fixed;
  top:100%;
  left:0;
  background-color:#fff;
  z-index: -1;
  overflow-y: auto;
  @include transition(all,0.5s);
  .md-close{
    text-align: right;
    .btn-close{
      display: inline-block;
      width: 55px;
      height: 55px;
      margin:20px 20px 0 0;
      position: relative;
      cursor: pointer;
      &:before, &:after{
        content:"";
        display: block;
        position: absolute;
        top:50%;        
        width: 62px;
        height: 2px;
        background-color:#666666;
        transform-origin:center;
      }
      &:before{
        left:-4px;
        @include transform(rotate3d(0, 0, 1, 45deg));
      }
      &:after{
        right:-3px;
        @include transform(rotate3d(0, 0, -1, 45deg));
      }
      span{
        width: 55px;
        height: 55px;
        position: absolute;
        top: 0;
        left:0;
        z-index: 10;
        &:before, &:after{
          content:"";
          display: block;
          position: absolute;
          top:50%;      
          width: 0px;
          height: 2px;
          background-color:#d81255;
          transform-origin:center;
          @include transition(all, 0.3s);
        }
        &:before{
          left:26px;
          @include transform(rotate3d(0, 0, 1, 45deg));
        }
        &:after{
          right:27px;
          @include transform(rotate3d(0, 0, -1, 45deg));
        }
      }
      &:hover{
        span{
          &:before, &:after{
            width: 62px;
            @include transition(all, 0.3s);
          }
          &:before{
            left:-4px;
          }
          &:after{
            right:-3px;
          }
        }
      }
    }
  }
  .md-cont{
    margin-top:60px;
    .pt-pay{
      text-align: center;
      a{
        display: inline-block;
        width: 400px;
        text-decoration: none;
        border:1px solid #bdbdbd;
        text-align: center;
        color:#585858;
        font-size: 13px;
        height: 50px;
        margin:0 auto 30px;
        box-sizing: border-box;
        line-height: 50px;
        position: relative;
        &.active{
          line-height: 45px;
          @include transition(all,0.3s);
        }
        &:before,&:after{
          content:"";
          position: absolute;
          width: 1px;
          height: 0%;
          background-color: #fff;
          @include transition(all,0.4s);
        }
        &:before{
          top:-1px;
          left:-1px;
        }
        &:after{
          bottom:-1px;
          right: -1px;
        }
        >span{
          display: block;
          width: 100%;
          height: 100%;
          position: relative;
          z-index: 10;
          &:before,&:after{
            content:"";
            position: absolute;
            width: 0%;
            height: 1px;
            background-color: #fff;
            @include transition(all,0.4s);
          }
          &:before{
            top:-1px;
            left:0;
          }
          &:after{
            bottom: -1px;
            right:0;
          }
        }              
        &:hover{
          color:#fff;
          border-color:transparent;
          background-color:#515151;
          &:before,&:after{
            height: calc(100% + 2px);
            @include transition(all,0.4s);
          }
          span{
            &:before,&:after{
              width: 100%;
              @include transition(all,0.4s);
            }
          }
        }
      }
      input{
        display: inline-block;
        width: 400px;
        height: 50px;
        border:1px solid #bdbdbd;
        text-align: center;
        background-color:transparent;
        color:#585858;
        font-size: 13px;
        cursor: pointer;
      }
    }
    >span{
      display: block;
      margin-top:60px;
      text-align: center;
      color:#585858;
      font-size: 13px;
      &:before{
        content:attr(data-title);
			}
			&:after{
				content:attr(data-text);
				color:#ec127b;
			}
    }
  }
}

main{
  &.switchHideBlock{
    .th-getNow{
      top:0;
      z-index: 160;
      opacity: 1;
      @include transition(all,0.6s);
    }
  }
}


@include breakpoint(max-width 980px) {
	.th-recordlist, .th-orderlist, .th-babypointlist, .th-pointlist{
		width: 90%;
		.md-supportInfo{
			table{
				tr{
					&:nth-child(2n){
						background-color: #f4f4f4;
					}
					th{
						display: none;
					}
					.th-small{
						width: 100%;
						text-align: left;
					}
					td{
						display: block;
						width: 100%;
						border:none;
						line-height: 1.4;
						span{
							display: inline-block;
							vertical-align: middle;
							max-width:calc(100% - 150px);
						}
						&+td{
							border-top:1px dashed #dbdbdb;
						}
						&:before{
							content:attr(data-th)"：";
							display: inline-block;
							vertical-align: middle;
							width: 140px;
    					color: #262626;
						}
					}
				}
			}
			.pt-lastBabyPoint, .pt-lastPoint{
				table{
					tr{
						td{
							border:none;
						}
					}
				}
			}
		}
	}   
}


@include breakpoint(max-width 820px) {
	.th-getNow{
		.md-cont{
			.pt-pay{
				a{
          &:before,&:after{
            @include transition(all,0s);
          }
          >span{
            &:before,&:after{
              @include transition(all,0s);
            }
          }  
          &:hover{
            color: #585858;
            background-color: transparent;
            border-color: #919191;
            &:before,&:after{
              background-color: #919191;
              @include transition(all,0s);
            }
            span{
              &:before,&:after{
                background-color: #919191;
                @include transition(all,0s);
              }
            }            
          }
        }
			}
		}
	}  
}


@include breakpoint(max-width 768px) {
	.th-recordlist, .th-orderlist, .th-babypointlist, .th-pointlist{
		.md-tablink{
			display: inline-block;
			height: 30px;
			min-width: 100px;
			cursor: pointer;
			position: absolute;
			z-index: 10;
			&:hover{
				ul{
					display: block;
				}
			}
			>p{
				display: block;
				width: 100%;
				line-height: 30px;
				text-align: left;
				font-family: "Microsoft JhengHei", sans-serif;
				font-weight: bold;
				padding:0 30px 0 0px;
				box-sizing: border-box;
				color:#262626;
				position: relative;
				font-size: 14px;
				&:after{
					content: "";
					display: inline-block;
					position: absolute;
					right:5px;
					top: 50%;					
					width: 0;
					height: 0;
					border-style: solid;
					margin-top: -3px;
					border-width: 7px 5px 0 5px;
					border-color: gray transparent transparent transparent;
				}
			}
			ul{
				display: none;
				list-style:none;
				li{
					display: block;
					height: 30px;
					line-height: 30px;
					color:#363636;
					text-align: left;
					font-family: "Microsoft JhengHei", sans-serif;
					font-weight: bold;
					padding:0 20px;
					@include box-sizing(border-box);
					background-color: #d4d4d4;
					@include transition(all,0.2s);
					&+li{
						margin-left: 0;
					}
					&.active{
						position: relative;
						&:before{
							content: "";
							display: block;
							@include imgWH("../images/selected.png");
							background-image: url("../images/selected.png");
							position: absolute;
							top:10px;
							left:5px;
						}
						&:after{
							display: none;
						}						
					}
					&:hover{
						background-color: #bbb;
					}
				}      
			}
		}
	}
}



@include breakpoint(max-width 460px) {
	.th-recordlist, .th-orderlist, .th-babypointlist, .th-pointlist{
		.md-tablink{
			padding-left: 15px;		
		}
		.md-supportInfo{
			table{
				tr{
					td{
						&:before{
							width:90px;
						}
						span{
							max-width:calc(100% - 100px);
						}
					}
				}
			}
			.pt-pagelist{
				ul{
					li{
						a{
							padding:0 1px;
						}
					}
				}
			}
			.pt-condition{
				margin-left:15px;
				margin-bottom:20px;
			}
		}		
	}
	.th-getNow{
    .md-cont{
      .pt-pay{
        input{
          width: 80%;
        }
        a{
          width:80%;
        }
      }
    }
  }  
}