.main-sungirltv{
  margin-bottom: 0;
}

#hideVideo{
  position: absolute;
  opacity: 0;
  z-index: -99;
}


.common-liveShare{
  @include span(24 nest);
  position: relative;
  margin-top: 10px;
  @extend %clear;
  &:before{
    content:attr(data-title);
    display: block;
    vertical-align: top;
    width: 62px;
    height: 40px;
    float:left;
    font-size: 14px;
    color:#1b1b1b;
    padding-top: 14px;
    box-sizing: border-box;
  }
  ul{
    li{
      display: block;
      vertical-align: top;
      width: 40px;
      height: 40px;
      float:left;
      box-sizing: border-box;
      border:1px solid #e2e2e2;
      border-right: none;
      background-color: #fff;
      a{
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color:#919191;
        text-align: center;
        font-size: 20px;
        padding-top: 10px;
        box-sizing: border-box;
      }
      &:hover{
        a{
          color:#b5b5b5;
        }
      }
      &:last-child{
        border-right:1px solid #e2e2e2;
      }
    }          
  }
}

.sungirltv-nonelimit{
  @include container();
  @include box-sizing(border-box);
  @extend %clear;
  position: relative;
  &.leftHide{
    .th-tvlist{
      @include transform(translate3d(-20rem, 0, 0));
      @include transition(all,0.4s);
      .pt-switch{
        &:before{
          @include transform(rotate(45deg));
          @include transition(left,0.6s);
        }
        &:after{
          @include transform(rotate(-45deg));
          @include transition(left,0.6s);
        }
      }      
    }
    .th-view{
      padding-left:5rem;
      @include transition(all,0.4s);
    }
  }
  &.rightHide{
    .th-message{
      right:-20rem;
      @include transition(right,0.4s);
      .pt-switch{
        &:before{
          @include transform(rotate(-45deg));
          @include transition(right,0.6s);
        }
        &:after{
          @include transform(rotate(45deg));
          @include transition(right,0.6s);
        }
      }      
    }
    .th-view{
      padding-right:5rem;
      @include transition(all,0.4s);
    }
  }

  .th-tvlist{
    width: 20rem;
    position: absolute;
    left:0;
    top:0;
    z-index: 10;
    @include transform(translate3d(0, 0, 0));
    @include transition(all,0.4s);
    .tvlistCont{
      height: 70vh;
      background-color: $lightColor;
      border:1px solid #efefef;
      h4{
        display: block;
        width: 100%;
        height: 50px;
        border-bottom:1px solid #efefef;
        text-align: center;
        padding: 17px 0;
        color:#6b6b6b;
        font-size: 14px;
        font-weight: bold;
        box-sizing: border-box;
        i{
          display:inline-block;
          vertical-align: middle;
        }
        span{
          display: inline-block;
          vertical-align: middle;
          margin-left: 5px;
        }
      }
    }
    .pt-switch{
      width: 40px;
      height: 80px;
      border:1px solid #efefef;
      border-left:0;
      box-sizing: border-box;
      position: absolute;
      right: -39px;
      top: 50%;
      z-index: 10;
      background-color: #fff;
      cursor: pointer;
      @include transition(all,0.4s);
      &:before,&:after{
        content:'';
        display: block;
        position: absolute;
        width: 25px;
        height: 1px;
        background-color: #efefef;
        left:5px;
      }
      &:before{
        @include transform(rotate(-45deg));
        top:30px;
        @include transition(left,0.6s);
      }
      &:after{
        @include transform(rotate(45deg));
        top:47px;
        @include transition(left,0.6s);
      }
    }    
    .md-list{
      height: 62vh;
      padding:15px 10px;
      box-sizing:border-box;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      .pt-item{
        width:100%;
        position:relative;
        padding: 10px 0;
        &:after{
          content:'';
          display: block;
          height: calc(50% - 5px);
          border-left:1px dashed #bfbfbf;
          position: absolute;
          left:15px;
        }
        &:after{
          top:calc(50% + 5px);
        }
        .text{
          @extend %clear;
        }
        &.active{
          .dot{
            border-color:#fb61c3;
          }
        }
        .dot{
          display: block;
          position:absolute;
          width: 9px;
          height: 9px;
          top:50%;
          left:10px;
          margin-top:-5px;
          border:1px solid #afafaf;
          border-radius: 50%;
        }
        &+li{
          &:before{
            content:'';
            display: block;
            height:calc(50% - 5px);
            border-left:1px dashed #bfbfbf;
            position: absolute;
            left:15px;
          }
          &:before{
            top:0px;
          }
        }
        &:last-child{
          &:after{
            display:none;
          }            
        }
      }

      figure{
        float:left;
        width:70px;
        height: 70px;
        margin-left:40px;
        position: relative;
        overflow: hidden;
        img{
          width: 100%;
        }
      }
      figcaption{
        float: left;
        margin-left:20px;
        max-width: calc(100% - 130px);
        word-break: break-all;
        >span{
          display: block;
        }
        .week{
          color:#333333;
          font-size: 14px;
          font-weight: bold;
          line-height: 18px;
        }
        h5{
          color:#333333;
          font-size: 14px;
          font-weight: bold;
          line-height: 18px;
        }
        .name{
          color:#aaaaaa;
          font-size: 12px;
          line-height: 18px;
        }
        .time{
          color:#aaaaaa;
          font-size: 12px;
          line-height: 18px;
          span{
            display: inline-block;
            margin-left:4px;
          }
        }
      }
    }
  }
  .th-view{
    width: 100%;
    margin:0 auto;
    padding:30px 232px 0;
    box-sizing: border-box;
    @include transition(all,0.4s);
    .gp-mdCont{
      width:80%;
      margin:0 auto;
      // min-height: calc(100vh - 120px);
    }
    .md-top{
      position: relative;
      margin-bottom: 15px;
      @extend %clear;
      >i{
        display: inline-block;
        position: absolute;
        left:0;
        top:-8px;
        color:#d81255;
        font-size: 28px;
      }
      .tv-marquee{
				position: relative;
				overflow: hidden;
				height: 22px;
				max-width: calc(100% - 145px );	
        margin:0;
				li{
					position: absolute;
					top: -999em;
					left: 0;
					display: block;
					white-space: nowrap; 
					color:#666;
					font-size: 13px;
					span{
						color: #000;
						font-weight: bold;
					} 
				}
			}
			.title-marquee {
			  display: inline-block;  
			  width: 100px;
			  margin: 0px 10px 0 0; 
			  font-weight: bold;
			  // line-height: 20px;
			  color: #fff;
			  background: #00adef;
        text-align:center;
        padding: 2px 4px 3px;
      }
      .watch{
        display:inline-block;
        position: absolute;
        right:0;
        top:5px;
        font-size: 12px;
        font-weight: bold;
        color:#333333;
      }
    }
    .md-middle{
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      @include transition(all,0.4s);
      video{
        @extend %commonPlaycont;
      }
      iframe{
        @extend %commonPlaycont;
      }      
      object{
        @extend %commonPlaycont;
      }
      embed{
        @extend %commonPlaycont;
      }
      canvas{
        @extend %commonPlaycont;
      }
      .canvasCont{
        // background-image: url("../images/loading.gif");
        // background-size: cover;
        // background-repeat: no-repeat;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left:0;
        &:hover{
          #canvasVoiceBtn{
            z-index: 20;
            opacity: 1;
            @include transition(all,0.4s);
          }
        }
        #canvasVoiceBtn{
          position: absolute;
          bottom:10px;
          right:20px;
          z-index: -1;
          opacity: 0;
          width: 75px;
          height: 75px;
          line-height: 82px;
          text-align: center;
          border:5px solid $lightColor;
          border-radius:50%;
          box-sizing:border-box;  
          @include transition(all,0.4s);
          &:before,&:after{
            content: "";
            display: block;
            position: absolute;
          }
          &:after{
            width: 100%;
            height: 100%;
            top:0;
            left:0;
            border-radius:50%;
            opacity: 0.5;
            z-index: -1;
            background-color: $darkColor;
          }
          &:before{
            width: 1px;
            height: 5px;
            background-color: $lightColor;
            @include transform(rotate(45deg));
            left:50%;
            top:50%;
            margin-top: -2px;
            opacity:1;
            @include transform(rotate(45deg) scaleX(70));
            @include transition(all,0.4s);
          }
          i{
            font-size: 32px;
            color:$lightColor;
          }
          &.nonemute{
            &:before{
              opacity: 0;
              @include transform(rotate(45deg) scaleX(1));
              @include transition(all,0.4s);
            }
          }
        }
        #mobilePlayBtn{
          position: absolute;
          top:0;
          left:0;        
          width:100%;
          height:100%;
          z-index: 10;
          &:before{
            content:"";
            display: block;
            width: 60px;
            height: 40px;
            background-color:gray;
            opacity: 0.8;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 9;
            margin-left:-30px;
            margin-top:-20px;
            border-radius: 5px;
          }
          &:after{
            @extend %triangle ;
            left: 50%;
            top: 50%;
            margin-top: -12px;
            margin-left: -7px;
            border-width: 12px 0 12px 18px;
            border-color: transparent transparent transparent #fff;
            z-index: 10;
          }
        }
        .btnHide{
          display: none;
        }
        #canvasVideo{
          width: 100%;
          height: 100%;
          position: absolute;
          top:0;
          left:0;
          z-index: 5;
        }        
      }
    }
    .md-bottom{
      padding:15px 0 30px;
      box-sizing: border-box;
      .bottomCont{
        .watch{
          display: none;
        }
        @extend %clear;
      }
      .newest{
        @include span(12 nest);
        font-size: 13px;
        font-weight: bold;
        b{
          display: inline-block;
          margin-bottom: 6px;
        }
        span{
          display: inline-block;
          margin-bottom: 6px;
          line-height: 16px;
        }
      }
      .girltag{
        @include span(12 nest);
        font-size: 13px;
        color:#333333;
        text-align: right;
        @extend %clear;
        p{
          display: inline-block;
          vertical-align: top;
          margin: 0 1px;
          line-height: 16px;
        }
        span{
          display: inline-block;
          vertical-align: top;
          margin: 0 1px;
          line-height: 16px;
          &+span{
            &:before{
              content:'/';
              display: inline-block;
              margin-right:5px;
            }
          }
        }
        a{
          color:#333333;
          text-decoration: none;
          &:hover{
            text-decoration:underline;
          }
        }
      }
      .viewbanner{
        //@include span(24 nest);
        width: 100%;
        float: left;
        margin-top: 30px;
        display:  block;
        margin:0 auto;
        text-align:  center;
        padding-top: 10px;
        iframe{
          //max-width: 728px;
          background: url("../images/970x250.jpg") center no-repeat;
          background-size: cover;
          width: 970px;
          height: 250px;
          margin:0 auto;
        }
      }
    }
  }
  .th-message{
    position: absolute;
    width: 20rem;
    right:0;
    top:0;
    z-index: 10;
    @include transition(all,0.4s);
    &.hide{
      display: none;
    }
    .msgCont{
      height: 70vh;
      background-color: $lightColor;
      border:1px solid #efefef;
      h4{
        display: block;
        width: 100%;
        height: 50px;
        border-bottom:1px solid #efefef;
        text-align: center;
        padding: 14px 0;
        color:#6b6b6b;
        font-size: 14px;
        font-weight: bold;
        box-sizing: border-box;
        position: relative;
        .btn-more{
          display: none;
        }
        i{
          display:inline-block;
          vertical-align: middle;
          font-size: 22px;
        }
        .msg{
          display: inline-block;
          vertical-align: middle;
          margin-left: 5px;
        }
        .tvlistBtn{
          display: none;
        }
        #btn-voice{
          display: none;
          vertical-align: middle;
        } 
        .md-fixMsg{
          width: 100%;
          height: 60px;
          position: absolute;
          left:0;
          bottom:-60px;
          z-index: 30;
          color:#fff;
          font-size: 12px;
          @include background-image(linear-gradient(90deg, rgba(221,129,231,0.95), rgba(63,85,176,0.95)));
          &.fixMsgHide{
            opacity: 0;
            z-index: -1;
            display:  none;
          }
          figure{
            float:left;
            margin:10px 0 0 15px;
          }
          .closeBtn{
            position: relative;
            float: right;
            width: 20px;
            height: 20px;
            top:3px;
            right:3px;
            cursor: pointer;
            &:before,&:after{
              content:'';
              display: block;
              width: 20px;
              height: 1px;
              background-color: #fff;
              position: absolute;
              top: 10px;
              right: -2px;
            }
            &:before{
              @include transform( rotate(45deg));
            }
            &:after{
              @include transform( rotate(-45deg));
            }
          }
          .text{
            padding: 12px 25px 10px 70px;
            box-sizing: border-box;
            text-align: left;
            font-weight: 200;
            p{
              margin-bottom:10px;
            }
            a{
              color:#fff;
            }
          }
        }
      }
    }
    .pt-switch{
      width: 40px;
      height: 80px;
      border:1px solid #efefef;
      border-right:0;
      box-sizing: border-box;
      position: absolute;
      left: -39px;
      top: 50%;
      z-index: 10;
      background-color: #fff;
      cursor: pointer;
      &:before,&:after{
        content:'';
        display: block;
        position: absolute;
        width: 25px;
        height: 1px;
        background-color: #efefef;
        left:5px;
      }
      &:before{
        @include transform(rotate(45deg));
        top:30px;
        @include transition(left,0.6s);
      }
      &:after{
        @include transform(rotate(-45deg));
        top:47px;
        @include transition(left,0.6s);
      }
    }    
    .md-list{
      height: calc(70vh - 110px);
      padding:15px 10px;
      box-sizing:border-box;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      li{
        padding:10px 0;
        word-break: break-all;
        @extend %clear;
      }
      .pt-accountImg{
        float: left;
        figure{
          width: 50px;
          height: 50px;
          @include border-radius(50%);
          border:1px solid #ececec;
          overflow: hidden;
          img{
            max-width:50px;
            width: 100%;
            height: 100%;
          }
        }
      }
      .pt-msgText{
        float: left;
        width: calc( 100% - 62px);
        margin-left: 10px;
        position: relative;
        padding-right: 55px;
        box-sizing: border-box;
        h5{
          width: 160px;
          padding: 5px 0;
          font-size: 14px;
          color:#211922;
          font-weight: bold;
          box-sizing:border-box;
          white-space:nowrap; 
          overflow:hidden;
          text-overflow:ellipsis;
          cursor: default;
          text-align: left;
          @extend %clear;
          >span{
            display: inline-block;
            vertical-align: middle;
            cursor: pointer; 
            &.userName{
              display: inline;
            }
          }
          .lvNum{
            font-size: 13px;
            padding: 1px 20px 2px 10px;
            color:#fff;
            border-radius: 10px;
            font-weight: normal;
            position: relative;
            @include transform(scale(0.8));
            &:after{
              content:attr(data-text);
              line-height: 0;
              position: absolute;
              top:8px;
            }         
          }


          $class-slug: m-lv !default;
          $colors: #ff5454 #fdd44e #1fbad5 #f06730 #3ab462 #e34f84 #8f4b9a #1b489b #fe52c2 #d81255 ;
          @for $i from 1 through length($colors) {
            &.#{$class-slug}#{$i}{
              .lvNum{
                background-color:nth($colors, $i);              
              }
            }
          }
          &.m-lv0{
            .lvNum{
              background-color:#b6b6b6;
            }
          }
          &.m-lv10{
            .lvNum{
              padding-right: 25px;
            }
          }
          &.m-lvMax{
            .lvNum{
              padding-right: 28px;
              background-color:#d812a7;
              &:after{
                font-size:20px;
              }
            }
          }

        }
        .text{
          display: block;
          color:#211922;
          font-size: 13px;
          width: 100%;
          line-height:18px;
          span{
            color:#00adef;
          }
        }
        .timeInfo{
          position: absolute;
          top:13px;
          right:0;
          color:#878787;
          font-size: 12px;
        }
      }
    }
    .scrollBtn{
      width: 36px;
      height: 36px;
      bottom: 64px;
      right: 8%;
      background: url("../images/icon/icon_down_arrow.svg") center no-repeat;
      background-size: 100%;
      position: absolute;
      cursor: pointer;
    }
    .md-msgCont{
      padding: 10px;
      box-sizing: border-box;
      position: relative;
      input{
				width: calc(100% - 85px);
				height: 40px;
				color:#9b9b9b;
				font-size: 13px;
				line-height: 40px;
				border:1px solid #efefef;
				@include border-radius(5px);
				padding:5px 10px;
				@include box-sizing(border-box);
      }
      span{
        position: absolute;
        top: 24px;
        width: 60px;
        font-size: 12px;
        left: 12px;
        color: #00adef;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .userAt{
        cursor: pointer;
      }
      .chatAtList{
        position: absolute;
        background: #00adef;
        left: 5px;
        bottom: 40px;
        display: none;
        z-index: 10;
        border-radius: 5px;
        width: 150px;
        width: -webkit-min-content;
        width: -moz-min-content;
        width: min-content;
        max-width: 220px;
        span{
          position: initial;
          width: 100%;
          display: inline-block;
          color: white;
          float: left;
          padding: 6px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .chatAtNum{
        position: absolute;
        background: url(../images/icon/icon_chat.svg) center 3px no-repeat;
        padding: 7px 10px;
        //left: 75px;
        top: -15px;
        color: white;
        cursor: pointer;
        display: none;
        z-index: 9;
        background-size: contain; 
      }
      .chatAtName{
        display: none;
      }
      button{
        display: inline-block;
        font-size: 13px;
        font-weight: bold;
        color:$lightColor;
        height: 40px;
        line-height: 40px;
        padding:0 20px;
        background-color: #25e84e;
        @include border-radius(5px);
        @include box-sizing(border-box);
        border:1px solid #efefef;
        @include transition(all,0.4s);
        text-align: center;
        text-decoration: none;
        &:hover{
          background-color: #009f21;
          @include transition(all,0.4s);
        }
      }
    }
  }
}


@include breakpoint(max-width 1200px) {
  .main-content{
    min-height: 280px;
    &.main-sungirltv{
      margin-bottom: 0;
    }
  }
  .sungirltv-nonelimit{
    .th-tvlist{
      position: fixed;
      z-index: 100;
      .tvlistCont{
        height: 100vh;
      }
      .md-list{
        height: 90vh;
      }
    }
    .th-view{
      padding-left:5rem;
      .gp-mdCont{
        width: 100%;
        // min-height: 100vh;
      }
      .md-bottom{
        .viewbanner{
          margin-left: 0px;
        }
      }
    }
    .th-message{
      position: fixed;
      z-index: 99;
      .msgCont{
        height: 100vh;
      }
      .md-list{
        height: calc(100vh - 120px);

      }
    }
  }
  html.leftMenu{
    .sungirltv-nonelimit{
      .th-tvlist{
        .pt-switch{
          right:-220px;
          @include transition(all,0.4s);
        }
      }
    }
  }
}

@include breakpoint(max-width 1024px) {
  .sungirltv-nonelimit{
    .th-view{
      .md-bottom{
        .viewbanner{
          iframe{
            background: url("../images/300x100.jpg") center no-repeat;
            background-size: cover;
            width: 300px;
            height: 100px;
          }
        }
      }
    }
  }
}

@include breakpoint(max-width 980px) {
  .sungirltv-nonelimit{
    .th-view{
      .md-middle{
        .canvasCont{
          #canvasVoiceBtn{
            display: none;
          }
        }
      }
    }
  }   
}

@include breakpoint(max-width 800px) {
  html{
    height: 100vh;
  } 
  .main-content{
    min-height: 150px;
  } 
  .main-sungirltv{
    position: relative;
    //height: calc(100vh - 85px);
    height: 100vh !important;
    z-index: 5;
  } 
  .sungirltv-nonelimit{
    padding-top: 24px;
    &.leftHide{
      .th-view{
        padding-left: 0;
      }
      .th-tvMask{
        display: none;
      }
    }
    &.topHide{
      .th-view{
        .md-top{
          .watch{
            margin-top: 0;
            top:60px;
            left: auto;
            right:0;
            text-align: right;
            padding-right: 20px;
            @include transition(all,0.4s);       
          }
        }
        .md-middle{
          padding-bottom: 0;
          padding-top: 0;
          @include transition(all,0.4s);  
        }
        .md-bottom{
          margin-top: 36px;
          padding-top: 0;
          height: calc(100vh - 65px);
        }
      }
      .th-message{
        padding-top:0;
        -webkit-backface-visibility: hidden;
        @include transition(all,0.4s);
        z-index: 120;
        .msgCont{
          height: 100%;
          .msglist{
            // height: 100vh;
          }
        }
        .md-list{
          // height: auto;
          // padding-bottom: 180px;
        }
        .pt-switch{
          &:before{
            left: 8px;
          }
          &:after{
            left: 22px;
          }
        }
      }
    }
    &.hideList{
      .th-message{
        height: 50px;
        bottom:auto;
        .msgCont{
          height: 49px;
        }
        .msglist{
          display: none;
        }        
      }
    }  
    .th-tvMask{
      width: 100%;
      height: 100%;
      position: fixed;
      top:0;
      left:0;
      opacity: 0.7;
      background-color: #000;
      z-index: 150;
    }    
    .th-view{
      padding:0;
      .md-top{
        margin-bottom: 10px;
        width: 100%;
        position: absolute;
        top: -24px;
        left: 0;
        z-index: 120;
        @include background-image(linear-gradient(90deg, rgba(174,0,255,0.95), rgba(0,195,255,0.95)));        
        >i{
          left:5px;
          top:2px;
          font-size: 20px;
          color:#fff;
        }
        .tv-marquee{
          max-width: calc(100% - 40px );
          margin:2px 0 0 2px;
          li{
            color:#fff;
            span{
              color:#fff;
            }
          }
        }
        .watch{
          display: none;
        }
      }
      .md-middle{
        z-index: 110;
      }
      .gp-mdCont{
        padding-top:0;
        position: relative;
        height: calc(100vh - 85px);
      }
      .md-bottom{
        padding: 15px;
        width: 100%;
        height: calc(100% - 30px);
        position: absolute;
        top: 0;
        padding-top: calc(56.25% + 70px);
        overflow-y: auto;
        overflow-x: hidden;
        .bottomCont{
          width: 100%;
          position: relative;
          top: 0;
          left: 0;
          .watch{
            display: block;
            color:#333333;
            font-size: 12px;
            float: right;
          }
        }
        .newest{
          width: calc(100% - 105px);
          margin:0 1px 4px;
        }
        .girltag{
          text-align: left;
          width: 98%;
          margin-bottom: 10px;
        }
        .viewbanner{
          margin: 0 auto 0;
          width: 100%;
        }
      }
    }
    .th-tvlist{
      z-index: 200;
      width:18rem;
      .md-list{
        height: calc(100vh - 100px);
      }
      .pt-switch{
        top:100px;
        display: none;
      }
    }
    .th-message{
      position: absolute;
      z-index: 120;
      width: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      padding-top: calc( 56.25% + 24px);
      box-sizing: border-box;
      .msgCont{
        height:100%;
        h4{
          i{
            display:none;
          }
          .msg{
            display: inline-block;
            height: 50px;
            float: right;
            margin: -15px 10px 0 0;
            padding: 23px 10px 0;
            box-sizing: border-box;
            text-align: center;
            cursor: pointer;
          }
          .btn-more{
            display: inline-block;
            height: 50px;
            float: right;
            margin: -15px 60px 0 0;
            padding: 23px 10px 0;
            box-sizing: border-box;
            text-align: center;
            cursor: pointer;
          }
          .tvlistBtn{
            display: inline-block;
            height: 50px;
            float: right;
            margin: -15px 10px 0 0;
            padding: 23px 10px 0;
            box-sizing: border-box;
            text-align: center;
            cursor: pointer;
          }
          #btn-voice{
            display: inline-block;
            float: right;
            >i{
              display: inline-block;
              margin-top: 5px;
              margin-right: 10px;
              font-size: 18px;
              cursor: pointer;
              position: relative;
            }
            &.muted{
              >i{
                &:after{
                  content:"";
                  width: 26px;
                  height: 2px;
                  background-color: #6b6b6b;
                  position: absolute;
                  top:8px;
                  left:-3px;
                  z-index: 10;
                  @include transform(rotate(37deg));
                }                
              }
            }
          }
          .active{
            position: relative;
            &:after{
              content:"";
              display: block;
              width: 90%;
              height: 53%;
              position: absolute;
              top: 15px;
              left: 5%;
              border: 1px solid #DFDFDF;
              border-radius: 4px;
            }
          }
        }
        .msglist{
          position: relative;
          height: calc(100% - 15px);
          background-color: #fff;
        }
        .scrollBtn{
          right: 6%;
          position: fixed;
        }
      }
      .md-list{
        padding-bottom: 30px; 
        height: 100%;  
      }
      .md-msgCont{
        width: 100%;
        position: fixed;
        left: 10px;
        bottom: 0;
        z-index: 10;
        background-color: $lightColor;
      }
      .pt-switch{
        position: relative;
        top: 0;
        left: auto;
        height: 51px;
        width: 50px;
        border: 1px solid #efefef;
        float:right;
        margin-top:-51px;
        &:before,&:after{
          width: 20px;
          background-color: #000;
        }
        &:before{
          top: 28px;
          left: 22px;
        }
        &:after{
          top: 28px;
          left: 8px;
        }
      }
    }
  }
}

.accountImg-vip{
  position: absolute;
  padding-top: 25px;
  left: -30px;
  z-index: 1;
  width: 25px;
    img{
      max-width:50px;
      width: 100%;
      height: 100%;
    } 
  }     

@include breakpoint(max-width 460px) {
  .sungirltv-nonelimit{
    .th-message{
      .md-msgCont{
        button{
          height: 41px;
        }
      }
    }
  }
}


