//						1	    	2	  		 3      4      5  	  6      7    8
//px				 12     	13   		14      16    18	    24     32   55;
$font-list:12px 13px 14px 16px             18px 24px 32px 3.4375rem;
$base-font-size: 16px;
// $base-font-size: nth($font-list, 1);
$base-line-height: 10px;
$rhythm-unit: 'rem';

$mainWidth:1200px;
$commonWidth:1060px;
$darkColor:#000;
$lightColor:#FFF;
$GrayColor:#706f6f;
$PinkColor:#f42961;


// $susy: ( columns:24, math:fluid, gutters:1/3, gutter-position:split);
// $gutter: 10px;
$susy: ( columns:24, math:fluid, gutters:1, gutter-position:split);
$gutter:20px;