//===== PC版 =====
.common-nonelimit{
  @include container();
  padding:2% 4%;
  @include box-sizing(border-box);
  @extend %clear;
  .th-tool{
    width: 350px;
    float: right;
    text-align: right;
    margin-bottom: 20px;
    .md-share{
      width: 250px;
      display: inline-block;
      vertical-align: top;
      margin-right: -4px;
      padding-top: 8px;
      @include box-sizing(border-box);
      @extend %clear;
      span{
        float: left;
        padding:7px 10px 0 0;
        font-size: 13px;
        font-weight: bold;
      }
      ul{
        float: left;
        li{
          width: 25px;
          height: 25px;
          float: left;
          margin-right: 5px;
          @include border-radius(50%);
          background-color: #333333;
          cursor: pointer;
          text-align: center;
          a{
            display: inline-block;
            color:$lightColor;
            text-decoration: none;
            padding-top: 5px;
            @include box-sizing(border-box);
          }
          &:hover{
            background-color: #cccccc;
          }
        }
      }
    }
    .md-search{
      display: inline-block;
      vertical-align: top;
      width: 60px;
      // height: 40px;
      position: relative;
      text-align: center;
      padding-top: 10px;
      @include box-sizing(border-box);
      input{
        width: 0;
        position: absolute;
        right: 100%;
        top:5px;
        height: 30px;
        border-color:transparent;
        background-color: transparent;
        @include transition(all,0.4s);
        @include box-sizing(border-box);
        border-right:1px solid #dbdbdb;
      }
      .pt-search{
        display: inline-block;
        text-decoration: none;
        font-size: 20px;
        color:$darkColor;
        .icon-search{
          font-weight: bold;
        }
      }
      &:hover{
        input{
          width: 250px;
          border:1px solid #dbdbdb;
          @include transition(all,0.4s);
          background-color: $lightColor;
        }
      }
    }    
  }
  .th-gallery{
  	position: relative;
  }
}

.main-albumlist{
	.common-nonelimit{
		padding:2% 0;
	}
}
.main-videolist{
	.common-nonelimit{
		padding:2% 0;
	}
}

.th-commonContInfo{
	background-color: #f8f8f8;
	position: relative;
	margin-top: -55px;
	@include border-radius(20px 20px 0 0);
	@include span(24);
	.md-text{
		padding:25px 30px;
		@include box-sizing(border-box);
		.pt-time{
			font-size: 13px;
			color:#666666;
			text-align: center;
		}
		.pt-title{
			font-size: 32px;
			font-weight: bold;
			color:#333333;
			text-align: center;
			margin-top: 27px;
			line-height: 1.3;
		}
		.pt-text{
			display: block;
			margin-top: 22px;
			p{
				font-size: 13px;
				color:$darkColor;
				text-align: left;
				line-height: 24px;
				letter-spacing: 1px;
				margin-bottom: 15px;
			}
		}
		.pt-tag{
			margin:10px 0 0 17px;
			color:#777777;
			i{
				display: inline-block;
				vertical-align: middle;
				font-size: 19px;
				margin-left: -17px;
			}
			span{
				display: inline-block;
				vertical-align: middle;
				font-weight: bold;
				font-size: 13px;
				a{
					text-decoration: none;
					color:#777777;
					&:hover{
						text-decoration: underline;
					}
				}
				&+span{
					&:before{
						content:"/ ";
						display: inline-block;
						margin: 0 2px;
					}					
				}
			}
		}
	}
	.md-video{
		width: 100%;
		margin-bottom: 15px;
		.gp-ptBtn{
			@extend %clear;
		}
		.playerCont{
			position: relative;
			padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
		}
		iframe{
			@extend %commonPlaycont;
			z-index: -5;
		}
		video{
			@extend %commonPlaycont;
			z-index: -5;
		}
		.show{
			z-index:0;
		}
	}
	%commonBtn{
		display: inline-block;
		width: 180px;
		height: 30px;
		vertical-align: bottom;
		color:$lightColor;
		text-align: center;
		line-height: 30px;
		cursor: pointer;
		p{
			display: inline-block;
			vertical-align: middle;
			font-weight: bold;
			font-size: 14px;
		}
		i{
			vertical-align: middle;
			margin-right: 5px;
		}
		&.active{
			cursor: default;
		}
	}
	#youtubeBtn{
		@extend %commonBtn;
		height:auto;
		background-color: #ff0000;
		i{
			color:$lightColor;
		}
	}
	#others{
		@extend %commonBtn;
		height:auto;
		background-color: #00abed;
		i{
			color:$lightColor;
		}
	}
	.md-album{
		figure{
			width: 100%;
			margin-bottom: 15px;
			img{
				width: 100%;
				height: auto;
				cursor: zoom-in;
			}
		}
		a{
			width: 100%;
			margin-bottom: 15px;
			float: left;
			img{
				width: 100%;
				height: auto;
				cursor: zoom-in;
			}
		}
	}
	#md-aboutlink{
		@extend %clear;
		.pt-morebtn{
			>a{
				display: inline-block;
				vertical-align: top;
				height: 30px;
				line-height: 30px;
				padding: 0 15px;
				@include background-image(linear-gradient(90deg, rgba(174,0,255,1), rgba(0,195,255,1)));
				border-radius: 15px;
				font-size: 13px;
				color:$lightColor;
				text-align: center;
				text-decoration: none;
				font-weight: bold;
				box-sizing:border-box;
				&:hover{
					@include animation(hover-color 3s ease infinite);
					background-size: 200% 200%;
				}
			}			
		}
		.pt-otherlink{
			display: inline-block;
			vertical-align: top;
			float:right;
			max-width: 250px;
			a{
				width: 100%;
				display: block;
				font-size: 13px;
				color:#878787;
				text-decoration: none;
				margin-bottom: 10px;
				white-space:nowrap; 
				overflow:hidden;
				text-overflow:ellipsis;
				&:hover{
					color:#00abed;
				}
			}
		}
	}
	.md-botbanner{
		margin: 0 auto;
		iframe{
			width: 100%;
			height: 100%;
			margin: 20px auto;
			//display:  block;
	    text-align:  center;
			img{
				width: 100%;
			}
		}
		@include breakpoint(min-width 1024px) {
			width: 970px;
			height: 250px;
			iframe{
				margin: 20px auto;
				background: url("../images/970x250.jpg") center no-repeat;
			}
		}
		@include breakpoint(max-width 1024px) {
			width: 300px;
			height: 100px;
			iframe{
				margin: 15px auto 0;
				background: url("../images/300x100.jpg") center no-repeat;
			}
		}
	}
}
.th-msgboard{
	@extend %common-msgboard;
}
.th-otherRelated{
	@extend %common-otherRelated;
}
.th-commonShare{
	width: 40px;
	position: fixed;
	left:50%;
	top: 600px;
	margin-left:545px;
	z-index: 99;
	@include transition(top,0.4s);
	ul{
		li{
			a{
				display: block;
				width: 40px;
				height: 40px;
				text-decoration: none;
				color:#333333;
				font-size: 24px;
				text-align: center;
				padding-top: 9px;
				@include box-sizing(border-box);
				margin-bottom: 1px;
				&:hover{
					color:#cccccc;
				}
			}
		}
	}
	&.fixed{
		top:200px;
		@include transition(top,0.4s);
	}
}


//Pad 專用
@include breakpoint(max-width 1200px) {
	.th-commonContInfo{
		margin-top: 15px;
	}
	.th-commonShare{
		left:calc(100% - 40px);
		top: 185px;
		margin-left:0;
		ul{
			background-color: rgba(248,248,248,0.5);
		}
	}
}


@include breakpoint(max-width 980px) {
  .common-nonelimit{
    padding:2%;
    .th-tool{
      width: 100%;
      padding-right: 5%;
      @include box-sizing(border-box);
      .md-search{
        width:auto;
        input{
          width: 200px;
          position: relative;
          right:5px;
          top:-5px;
          border:1px solid #dbdbdb;
          background-color: $lightColor;
				}
				&:hover{
					input{
						width: 200px;
					}
				}
      }
    }
	}	
	.main-albumlist{
		.common-nonelimit{
			padding:2% 0;
		}
	}

	.main-videolist{
		.common-nonelimit{
			padding:2% 0;
		}
	}
	.th-commonContInfo{
		.md-text{
			.pt-time{
				text-align: right;
			}
			.pt-title{
				font-size: 28px;
				text-align: left;
			}
			.pt-tag{
				span{
					a{
						&:hover{
							text-decoration: none;
						}
					}
				}
			}
		}
	}	
}



@include breakpoint(max-width 768px) {
	.th-commonContInfo{
		.md-text{
			.pt-title{
				font-size: 24px;
			}
		}
	}
}


@include breakpoint(max-width 640px) {
	.common-nonelimit{
		.th-tool{
			padding:0 10px 0 55px; 
			margin-bottom: 15px;
			.md-share{
				width: 100%;
				text-align: left;
				// padding-left: 9%;
				span{
					float: none;
					display: inline-block;
					vertical-align: middle;
					padding: 0 10px 0 0;
				}
				ul{
					float: none;
					display: inline-block;
					vertical-align: middle;
				}
			}
			.md-search{
				width: 100%;
				text-align: left;
				padding-top: 20px;
				input{
					margin-left:6px;
				}
			}
		}
	}
	.th-commonContInfo{
		.md-text{
			padding-top: 5px;
			.pt-title{
				font-size: 20px;
			}
		}
	}	
}


@include breakpoint(max-width 460px) {
	.common-nonelimit{
		.th-tool{
			margin-top: 15px;
			margin-bottom: 15px;
		}
	}
	.th-commonContInfo{
		.md-text{
			.pt-title{
				font-size: 16px;
				line-height: 1.5;
			}
		}
		.md-video{
			#youtubeBtn{
				@include span(12 nest);
			}
			#others{
				@include span(12 nest);
			}
		}
		#md-aboutlink{
			.pt-morebtn{
				>a{
					margin-left: 10px;
					line-height: 31px;
				}				
			}
			.pt-otherlink{
				width: 100%;
				max-width: 100%;
				padding:0 20px 0 10px;
				box-sizing: border-box;
				margin-bottom: 15px;
			}
		}
	}
}

.fancybox-container{
	.fancybox-infobar{
		left: auto;
		right: 88px;
		height: 44px;
		background: rgba(30,30,30,0.6);
		mix-blend-mode: initial;
	}
}
    
    