@charset "utf-8";
@import "breakpoint";


body{
  background-color: #f1eee9;
  background-image: url(../images/activity/popup_noise.png);
}

.main-activity1{
  .pt-link{
    display: inline-block;
    width: 130px;
    font-size: 16px;
    font-weight: bold;
    color:#745a48;
    text-decoration: none;
    padding-bottom: 10px;
    border-bottom: 10px solid #745a48;
    position: relative;
    transition: all 0.4s;
    &:before{
      content: "";
      display: inline-block;
      width: 25px;
      height: 2px;
      background-color: #745a48;
      position: absolute;
      top: 8px;
      right: 27px;
      transition: all 0.4s;
    }
    &:after{
      content: "";
      display: inline-block;
      position: absolute;
      right: 18px;
      top: 2px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7px 0 7px 9px;
      border-color: transparent transparent transparent #745a48;
      transition: all 0.4s;
    }
    span{
      padding-left:6px;
    } 
    &:hover{
      color:#e12b91;
      border-bottom: 10px solid #e12b91;
      transition: all 0.4s;
      &:before{
        background-color:#e12b91;
        transition: all 0.4s;
      }
      &:after{
        border-color: transparent transparent transparent #e12b91;
        transition: all 0.4s;
      }
    }
  }
}

.th-condition{
  margin-bottom: 450px;
  background-image: url(../images/activity/back.jpg);
  .md-condition{
    position: relative;
    max-width: 1720px;
    width: 100%;
    margin: 50px auto 50px;
    .pt-border{
      position: absolute;
      top:0;
      height: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
      &:before,&:after{
        content:"";
        display: block;
        width: calc(100% + 20px);
        height: 10px;        
        position: absolute;
        left:-10px;
        background-image: url(../images/activity/headinnernoise.png);
      }
      &:before{
        top:-10px;
      }
      &:after{
        bottom:-10px;
      }
      span{
        position: absolute;
        top:0;
        height: 0;
        width: 100%;
        height: 100%;
        &:before,&:after{
          content:"";
          display: block;
          height: calc(100% + 20px);
          width: 10px;
          position: absolute;
          top:-10px;
          background-image: url(../images/activity/headinnernoise.png);
        }
        &:before{
          left:-10px;
        }
        &:after{
          right:-10px;
        }       
      }
    }
    .mdCont{
      position: relative;
      z-index: 10;
      padding: 100px 0 90px 140px;
      box-sizing: border-box;
      z-index: 25;
      h3{
        font-size: 36px;
        color:#020202;
        margin-bottom: 35px;
      }
      header{
        color:#020202;
        font-size: 80px;
        font-family: PMingLiU;
        max-width: 355px;
        border-bottom:1px dashed #d0bbab;
        padding-bottom: 20px;
        h2{
          font-size: 80px;
        }
        p{
          font-size: 60px;
          margin: 10px 0 2px;
        }
        span{
          display: block;
          color:#928e77;
          font-size: 24px;
        }
      }
      .condition{
        h5{
          font-size: 24px;
          font-weight: bold;
          color:#e12b91;
          margin:15px 0 25px; 
        }
        ul{
          position: relative;
          padding-left:100px;
          box-sizing: border-box;
          color:#785e4b;
          font-size: 24px;
          &:before{
            content:attr(data-title);
            position: absolute;
            top:0;
            left:0;
          }
          li{
            color:#785e4b;
            margin-bottom: 25px;
          }
        }
      }
    }
    >img{
      position: absolute;
    }
    .img1{
      height: 170%;
      right: -9px;
      top: -84px;
      z-index: 20;
    }
    .img2{
      height: 100%;
      top:0;
      right:0;
      z-index: 15;
      opacity: 1;
      transition: all 1s;
    }
    .pt-cloud{
      z-index: 22;
      bottom: -162px;
      right: 240px;
      max-width: 1050px;
    }
  }
}

.th-activityInfo{
  position: relative;
  max-width: 1720px;
  padding-top: 60px;
  margin: 0 auto;
  .pt-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top:12%;
    left:0;
    z-index: 2;
    background-image: url(../images/activity/block2.png);
    background-repeat: no-repeat;
    background-size: 55%;
    background-position-y: 33%;
    img{
      display: none;
    }
  }  
  .md-text{
    width: 100%;
    padding: 150px 0 100px;
    position: relative;
    z-index: 5;
    // background-image: url(../images/activity/block2.png);
    // background-repeat: no-repeat;
    // background-size: 55%;
    // background-position-y: 33%;
    &:after {
      content: "";
      display: block;
      clear: both;
    }    
    .cont{
      width: 50%;
      float: right;      
    }
    header{
      color:#795f4c;
      margin-bottom: 35px;
      span{
        display: block;
        font-size: 13px;
      }
      p{
        font-size: 24px;
        margin: 6px 0 15px;
      }
      &:after{
        content:"";
        display: inline-block;
        width: 130px;
        height: 20px;
        background-color: #dbc7b6;
      }
    }
    h2{
      color:#020202;
      font-size: 160px;
      margin-bottom: 40px;
    }
    .pt-text{
      width: 60%;
      font-size:14px;
      line-height: 36px;
      color:#000000;
      margin-bottom: 50px;
    }

  }
}

.th-activityRules{
  max-width: 1300px;
  width: 100%;
  margin:5% auto 0;
  border:10px solid #dbc6b6;
  padding: 20px 35px;
  box-sizing: border-box;
  h5{
    font-size: 14px;
    font-weight: bold;
    color:#473324;
  }
  ul{
    list-style: decimal;
    margin:35px 0 0 14px;
    li{
      font-size: 13px;
      color:#473324;
      margin-bottom: 15px;
      line-height: 20px;
    }
  }
}

.th-actSum{
  width: 60px;
  height: 300px;
  background-color: #231b18;
  border-radius: 30px;
  position: fixed;
  left: 20px;
  top: 200px;
  z-index: 30;
  ul{
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    height: 250px;
    li{
      text-align: center;
      height: 50px;
      padding-top: 18px;
      box-sizing: border-box;
      i{
        color:#fff;
        font-size: 25px;
      }
      &.lv2{
        margin-top:40px;
      }
      &.got{
        i{
          color:#c63639;
        }
      }
    }
  }
  .pt-money{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    width: 100%;
    height: 30px;
    font-size: 13px;
    font-weight: bold;
    color:#fff;
    text-align: center;
    &:before{
      content:attr(data-title);
      display: block;
    }
    span{
      display: block;
    }
  }
}

@include breakpoint(max-width 1420px) {
  .th-condition{
    .md-condition{
      .img2{
        opacity: 0;
        transition: all 0.4s;
        position: absolute;
      }      
    }
  }  
  .th-activityInfo{
    padding-top:0;
    .pt-img{
      background-size: 60%;
      background-position-y: 60%;      
    }
    .md-text{
      // background-size: 60%;
      // background-position-y: 60%;
      h2{
        font-size: 130px;
      }
      .pt-text{
        width: 80%;
      }
    }
  }

}

@include breakpoint(max-width 1200px) {
  .th-condition{
    margin-bottom: 50px;
    .md-condition{
      .img1{
        height: 115%;
        top:-60px;
        right:-90px;
      }
      .pt-cloud{
        bottom: 100px;
        right: 55px;
        max-width: 760px;
      }
    }
  } 
  .th-activityInfo{
    .md-text{
      h2{
        font-size: 90px;
      }
      .pt-text{
        line-height: 30px;
      }
    }
  }  
}

@include breakpoint(max-width 980px) {
  .main-activity1{
    .pt-link{
      transition: all 0s;
      &:before, &:after{
        transition: all 0s;
      }
      &:hover{
        transition: all 0s;
        &:before, &:after{
          transition: all 0s;
        }
      }
    }
  }  
  .th-condition{
    .md-condition{
      .mdCont{
        padding: 8% 0 8% 10%;
      }
      .pt-cloud{
        right: 0px;
        bottom: 70px;
      }
    }
  }  
  .th-activityInfo{
    .md-text{
      background-image: none;
      padding:200px 0 175px;
      header{
        margin-bottom: 30px;
      }
      h2{
        margin-bottom: 25px;
      }
      .cont{
        width: 90%;
        margin:0 auto;
        float: none;
      }
      .pt-text{
        width: 100%;
      }      
    }
    .pt-img{
      position: absolute;
      top: 15%;
      background-image: none;
      img{
        display: block;
        width: 90%;
        margin: 0 auto;
      }
    }
  } 
  .th-actSum{
    width: 54px;
    height: 250px;
    left:auto;
    top: auto;
    right:10px;
    bottom:10px;
    ul{
      height: 200px;
      li{
        height: 40px;
        padding-top: 9px;
      }
    }
    .pt-money{
      font-size: 12px;
    }
  }
}

@include breakpoint(max-width 760px) {
  .th-condition{
    .md-condition{
      .img1{
        height: 102%;
        top: -20px;
        right: -115px;
      }
      .pt-cloud{
        right: 0;
        max-width: 600px;
      }
    }
  }  
  .th-activityInfo{
    .md-text{
      padding:0;
      h2{
        font-size: 80px;
      }
    }
    .pt-img{
      position: relative;
      margin-top:-200px;
      img{
        width: 100%;
      }
    }
  } 
}


@include breakpoint(max-width 640px) {
  .th-condition{
    .md-condition{
      .mdCont{
        padding:10% 8%;
        header{
          span{
            font-size: 22px;
          }
        }
        .condition{
          ul{
            font-size: 20px;
          }
        }
      }
      .pt-cloud{
        max-width: 500px;
        right:0;
        bottom:86px;
      }      
    }
  }
  .th-activityInfo{
    .md-text{
      h2{
        font-size: 60px;
      }
    }
    .pt-img{
      margin-top:-180px;
    }
  }  
}

@include breakpoint(max-width 460px) {
  .th-condition{
    .md-condition{
      .mdCont{
        header{
          h2{
            font-size: 70px;
          }
          p{
            font-size:50px;
          }
        }
        .condition{
          h5{
            font-size: 20px;
          }
          ul{
            font-size: 15px;
            padding-left:68px;
          }
        }
      }
      width: 90%;
      .img1{
        height: 90%;
        top:0;
      }
      .pt-cloud{
        max-width: 340px;
        bottom:125px;
      }
    }
  } 
  .th-activityInfo{
    .pt-img{
      margin-top:-160px;
    }
  } 
}

@include breakpoint(max-width 330px) {
  .th-activityRules{
    padding: 20px 55px 20px 25px;
    ul{
      li{
        font-size: 12px;
      }
    }
  }
}