.item1 { grid-area: item1; }
.item2 { grid-area: item2; }
.item3 { grid-area: item3; }
.item4 { grid-area: item4; }
.item5 { grid-area: item5; }
.item6 { grid-area: item6; }

.landingMain{
  //background-color: #2196F3;
  position: relative;
  margin-bottom: 0 !important;
  .landingMenu{
    position: relative;
  }
  .landingNav{
    width: 100%;
    height: 0;
    background: rgba(255,255,255,1);
    position: absolute;
    top: 0;
    display: none;
    z-index: 10;
    @include breakpoint (max-width 1120px) {
      padding-left: 10%;
    }
    ul{
      width: 870px;
      margin: 100px auto;
      .navList{
        margin-top: 30px;
      }
      li{
        font-size: 48px;
        font-weight: 700;
        cursor: pointer;
        font-family: Arial;
        a{
          text-decoration:none;
          &:hover , &:active , &:focus , &:visited{
            text-decoration:none;
            color: #000;
            border-bottom: 5px solid #000;
          }
        }
        &::selection{
          background: none;
        }
        .title{
          &::selection{
            background: none;
          }
          span{
            font-size: 12px;
            font-family: 微軟正黑體;
            &::selection{
              background: none;
            }
          }
        }
        .landingSubmenu{
          margin: 30px 40px 0;
          display: none;
          height: 0;
          min-height: 120px;
          @include breakpoint(max-width 840px) {
            min-height: 180px;
          }
          li{
            font-size: 12px;
            width: 50%;
            line-height: 24px;
            float: left;
            margin-top: 10px;
            font-family: 微軟正黑體;
            @include breakpoint(max-width 1120px) {
              width: 100%;
            }
            a{
              &:hover , &:active{
                border-bottom: 1px solid #000;
              }
            }
          }
        }
      }
    }
    .closeBtn{
      width: 40px;
      height: 40px;
      position: absolute;
      background: #000;
      top: 5px;
      left: calc(50% - 435px);
      overflow: hidden;
      cursor: pointer;
      &::before, &::after {
        content: '';
        position: absolute;
        height: 5px;
        width: 75%;
        top: 45%;
        left: 12.5%;
        margin-top: -1px;
        background: #fff;
      }
      &::before {
        @include transform(rotate(45deg));
      }
      &::after {
        @include transform(rotate(-45deg));
      }
      @include breakpoint(max-width 1120px) {
        top: 5px;
        left: 10%;
      }
    }
  }

  .menu_btn{
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    cursor: pointer;
    top: 5px;
    left: calc(50% - 435px);
    @include breakpoint(max-width 1024px) {
      top: calc( 5% + 3px );
      left: calc( 10% + 3px );
    }
  }
  .menu_btn span{
    width: 100px;
    height: 40px;
    display: block;
    margin: 0px 40px;
    line-height: 40px;
    color: white;
  }
  .menu_btn::before{
    content:"";
    position: absolute;
    height: 5px;
    left: 8px;
    width: 24px;
    background: #fff;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 8px 0px #fff,0px -8px 0px #fff;
  }
  .landingLogo{
    width: 410px;
    height: 175px;
    position: absolute;
    background: url('../images/landing_logo.png') no-repeat;
    background-size: contain;
    left: calc(50% - 205px);
    top: 80px;
    z-index: 10;
    @include breakpoint(max-width 750px) {
      top: 60px;
      width: 50%;
      left: 25%;
    }
    @include breakpoint(max-width 640px) {
      top: 40px;
    }
  }
  .grid-container {
    display: -ms-grid;
    display: grid;
    grid-template-areas:
    'item1 item1 item2'
    'item1 item1 item3'
    'item4 item5 item6';
    //background-color: #2196F3;
    width: 870px;
    margin: 0 auto;
    padding-top: 200px;
    @include breakpoint(max-width 1000px) {
      width: 80%;
      height: auto;
      grid-template-areas:
      'item1 item1'
      'item6 item6'
      'item2 item3'
      'item4 item5';
      padding-top: 25%;
    }
    div{
      text-align: center;
      font-size: 32px;
      cursor: pointer;
      position:relative;
      a{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
      .itemTitle{
        width: 180px;
        height: 60px;
        position: absolute;
        bottom: 16px;
        left: 0;
        color: white;
        padding-top: 90px;
        padding-left: 10px;
        //text-shadow: black 0.1em 0.1em 0.2em;
        span{
          font-size: 16px;
          float: left;
          line-height: 32px;
          text-align: left;
        }
        h4{
          font-size: 36px;
          width: 100%;
          float: left;
          line-height: 40px;
          text-align: left;
          font-weight: 700;
          font-family: sans-serif;
        }
      }
      &:hover{
        &:after{
          content: "";
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          top:0;
          left:0;
          background-color: $darkColor;
          @include transition(all,0.4s);
          @include opacity(0.6) ;
          filter: alpha(opacity=60);
          z-index: 5;
        }
      }
    }
    .box1 {
      width: 580px;
      height: 580px;
      line-height: 580px;
      @include breakpoint(max-width 1000px) {
        width: 100%;
        height: auto;
        line-height: 0px;
        padding-bottom: 100%;
      }
    }
    .box2 {
      width: 290px;
      height: 290px;
      line-height: 290px;
      @include breakpoint(max-width 1000px) {
        width: 100%;
        height: auto;
        line-height: 0px;
        padding-bottom: 100%;
      }
    }
    .item1{
      -ms-grid-column: 1;
      -ms-grid-row: 1;
      -ms-grid-column-span: 2;
      -ms-grid-row-span: 2;
    }
    .item2{
      -ms-grid-column: 3;
      -ms-grid-row: 1;
    }
    .item3{
      -ms-grid-column: 3;
      -ms-grid-row: 2;
    }
    .item4{
      -ms-grid-column: 1;
      -ms-grid-row: 3;
    }
    .item5{
      -ms-grid-column: 2;
      -ms-grid-row: 3;
      -ms-grid-column-span: 2;
      -ms-grid-row-span: 3;
    }
    .item6{
      -ms-grid-column: 3;
      -ms-grid-row: 3;
    }
  }
  .landingBanner{
    text-align: center;
    width: 720px;
    height: 90px;
    line-height: 90px;
    margin: 50px auto;
    font-size: 30px;
    &.md-web{
      iframe{
        width: 100%;
        min-height: 100%;
        background: url("../images/728x90_01.gif?v=2") center no-repeat;
        background-size: cover;
      }
    }
    &.md-mobile{
      iframe{
        width: 100%;
        min-height: 100%;
        background: url("../images/300x100.jpg") center no-repeat;
        background-size: cover;
      }
    }
    @include breakpoint(max-width 1024px) {
      width: 300px;
      height: 100px;
    }
  }
  .landingNewsBox{
    width: 1050px;
    margin: 20px auto 0;
    @include breakpoint(max-width 1366px) {
      width: 840px;
      height: auto;
    }
    @include breakpoint(max-width 840px) {
      max-width: 210px;
      height: auto;
    }
    .landingNewsthumbnail{
      .thumbnail-item{
        text-align: left;
        color: white;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 1;
        padding: 0 5px;
        h6{
          text-align: left;
          font-size: 24px;
          font-weight: 700;
          line-height: 48px;
        }
        span{
          height: 12px;
          width: 90%;
          font-size: 12px;
          word-break: break-all;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-align: left;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: inline-block;
        }
        a{
          text-decoration: none;
          color: white;
        }
      }
    }
    .landingNewsTitle{
      width: 100%;
      height: 150px;
      color: #fff;
      text-align: center;
      font-size: 175px;
      font-weight: bolder;
      letter-spacing: -10px;
      font-family: sans-serif;
      @include breakpoint(max-width 1120px) {
        font-size: 5em;
        letter-spacing: -6px;
        span{
          font-size: 1.5em;
        }
      }
      @include breakpoint(max-width 640px) {
        font-size: 4em;
        letter-spacing: -4px;
        span{
          font-size: 0.5em;
        }
      }
      @include breakpoint(max-width 500px) {
        font-size: 3em;
        letter-spacing: -2px;
        span{
          font-size: 0.25em;
        }
      }
      span{
        font-size: 24px;
        margin-top: 30px;
        letter-spacing: 0px;
        margin: 0 10px;
      }
    }
    .landingNewsSlider{
      max-width: 1050px;
      height: 210px;
      background-color: #d3eafd;
      margin: 20px auto;
      div{
        max-height: 210px;
        line-height: 210px;
        text-align: center;
        color: #fff;
        a{
          cursor: pointer;
          @include breakpoint(max-width 1024px) {
            max-width: 100%;
          }         
          img{
            width: 100%;
            min-height: 210px;
          }
          @include breakpoint(max-width 630px) {
            width: 210px;
            img{
              width: 210px;
              height: 210px;
            }
          }         
        }
        img{
          object-fit: cover;
        }
      }
      @include breakpoint(max-width 1024px) {
        max-width: 840px;
        a{
          img{

          }
        }
      }
      @include breakpoint(max-width 840px) {
        max-width: 630px;
      }
      @include breakpoint(max-width 630px) {
        max-width: 210px;
      }
    }
    .page-load-status {
      display: none; /* hidden by default */
      padding-top: 20px;
      border-top: 1px solid #DDD;
      text-align: center;
      color: #777;
    }
    .loader-ellips {
      font-size: 20px; /* change size here */
      position: relative;
      width: 4em;
      height: 1em;
      margin: 10px auto;
    }

    .loader-ellips__dot {
      display: block;
      width: 1em;
      height: 1em;
      border-radius: 0.5em;
      background: #555; /* change color here */
      position: absolute;
      animation-duration: 0.5s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
    }

    .loader-ellips__dot:nth-child(1),
    .loader-ellips__dot:nth-child(2) {
      left: 0;
    }
    .loader-ellips__dot:nth-child(3) { left: 1.5em; }
    .loader-ellips__dot:nth-child(4) { left: 3em; }

    @keyframes reveal {
      from { transform: scale(0.001); }
      to { transform: scale(1); }
      }

    @keyframes slide {
      to { transform: translateX(1.5em) }
    }

    .loader-ellips__dot:nth-child(1) {
      animation-name: reveal;
    }

    .loader-ellips__dot:nth-child(2),
    .loader-ellips__dot:nth-child(3) {
      animation-name: slide;
    }

    .loader-ellips__dot:nth-child(4) {
      animation-name: reveal;
      animation-direction: reverse;
    }
  }
}

.landingNewsContent{
  width: 1050px;
  padding: 30px 0 50px;
  margin: 0 auto;
  @include breakpoint(max-width 840px) {
      width: 80%;
  }
  .container{
    border-bottom: 1px solid #c6c6c6;
    margin: 20px 0;
    &:last-child{
      border-bottom: none;
    }
  }
  .newsContent{
    display: flex;
    width: 80%;
    margin: 0 auto;
    color: white;
    @include breakpoint(max-width 840px) {
      width: 100%;
    }
    .newsDate{
      width: 25%;
      float: left;
      text-align: left;
      color: #c6c6c6;
      font-size: 1.25em;
      font-weight: 700;
      word-break: keep-all;
      @include breakpoint(max-width 840px) {
        width: 20%;
      }
    }
    .newsTitle{
      width: 75%;
      float: left;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-line-clamp: 1;
      @include breakpoint(max-width 840px) {
        margin-left: 1em;
      }
      .newsCategory{
        display: block;
        color: #c6c6c6;
        margin-bottom: 30px;
        line-height: 24px;
        font-size: 12px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        max-width: 50px;
      }
      a{
        color: white;
        text-decoration:none;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
        font-size: 16px;
      }
    }
  }
}


.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  left: calc(50% - 80px);
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}



/* newsText Animate */

/*
* core styles
*/

.sm-link{
  --uismLinkDisplay: var(--smLinkDisplay, inline-flex); 
  --uismLinkTextColor: var(--smLinkTextColor);
  --uismLinkTextColorHover: var(--smLinkTextColorHover);  
  
  display: var(--uismLinkDisplay);
  color: var(--uismLinkTextColor);
  position: relative;
  overflow: hidden;
}

a.sm-link{
  text-decoration: none;
}

.sm-link__label{
  display: block;
  text-align: left;
}

/* sm-link_padding-all */ 

.sm-link_padding-all{
  --uismLinkLineWeight: var(--smLinkLineWeight, 2px);
  --uismLinkLineColor: var(--smLinkLineColor, #000);
  --uismLinkPadding: var(--smLinkPadding, 5px);
  
  padding: var(--uismLinkPadding);
}

.sm-link_padding-all::before, 
.sm-link_padding-all::after{
  width: 100%;
  height: var(--uismLinkLineWeight);
  left: 0;
}

.sm-link_padding-all::before{
  top: 0;
}

.sm-link_padding-all::after{
  bottom: 0;
}

.sm-link_padding-all .sm-link__label::before,
.sm-link_padding-all .sm-link__label::after{
  width: var(--uismLinkLineWeight);
  height: 100%;
  top: 0;
}

.sm-link_padding-all .sm-link__label::before{
  left: 0;
}

.sm-link_padding-all .sm-link__label::after{
  right: 0;
}

.sm-link_padding-all::before,
.sm-link_padding-all::after,
.sm-link_padding-all .sm-link__label::before,
.sm-link_padding-all .sm-link__label::after{
  content: "";     
  background-color: var(--uismLinkLineColor);
  position: absolute; 
  opacity: 0;
  
  will-change: transform, opacity;
  transition-property: transform, opacity;
}

.sm-link_padding-all:hover::before,
.sm-link_padding-all:hover::after,
.sm-link_padding-all:hover .sm-link__label::before,
.sm-link_padding-all:hover .sm-link__label::after{
  opacity: 1;
}

/* sm-link_padding-bottom */ 

.sm-link_padding-bottom{
  --uismLinkLineWeight: var(--smLinkLineWeight, 2px);
  --uismLinkLineColor: var(--smLinkLineColor, #000);  
  
  padding-bottom: var(--uismLinkLineWeight);  
  position: relative;
}

.sm-link_padding-bottom::after{
  content: "";
  width: 100%;
  height: var(--uismLinkLineWeight);
  background-color: var(--uismLinkLineColor);
  
  position: absolute;
  left: 0;
  bottom: 0;
}

/* sm-link_bg */ 

.sm-link_bg {
  --uismLinkLineColor: var(--smLinkLineColor, #000);  
  --uismLinkTextColorHover: var(--smLinkTextColorHover, #fff);  
  --uismLinkPadding: var(--smLinkPadding, 5px);
  
  padding: var(--uismLinkPadding);
  transition: color .3s ease-out;
}

.sm-link_bg::before, 
.sm-link_bg::after{
  content: "";
  background-color: var(--uismLinkLineColor); 
  opacity: 0;
  position: absolute;
  
  transition: transform .2s ease-out, opacity .2s ease-out .03s;
}

.sm-link_bg .sm-link__label{
  position: relative;
  z-index: 2;
}

.sm-link_bg:hover::before, 
.sm-link_bg:hover::after{
  opacity: 1;
  transition-duration: .35s, .35s;
  transition-delay: 0s, 0s;
}

.sm-link_bg:hover{
  color: var(--uismLinkTextColorHover);
}

/* sm-link_text */ 

.sm-link_text::before{
  content: attr(data-sm-link-text);
  color: var(--uismLinkTextColorHover);
  position: absolute;
}

.sm-link_text::before, 
.sm-link_text .sm-link__label{
  transition-property: transform;
  transition-timing-function: cubic-bezier(.86, .6, .08, 1.01); 
  transition-duration: .3s;
  text-decoration:none;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  text-align: left;
}

.sm-link_text:hover::before,
.sm-link_text:hover .sm-link__label{
  transition-duration: .4s;
}

/* effect 8 */

.sm-link8::before{
  left: 0;
  top: 0;
  transform: translate3d(0, 140%, 0);
}

.sm-link8 .sm-link__label,
.sm-link8:hover::before{
  transform: translate3d(0, 0, 0);
}

.sm-link8:hover .sm-link__label{
  transform: translate3d(0, -140%, 0);  
}

/*
SETTINGS
*/

.sm-link{
  --smLinkPadding: 10px 15px;
  --smLinkLineWeight: 5px;
  --smLinkLineColor: #fff;
  --smLinkTextColor: #fff;
  --smLinkTextColorHover: #c6c6c6;
}

.sm-link_bg{
  --smLinkTextColorHover: #fff;
}

/*
=====
DEMO
=====
*/

.section{
  display: flex;
  //min-height: 300px;  
  text-align: center;
  
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}

.section:nth-child(2n+2){
  //background-color: #f1f4fa;
}

.section__item{
  //margin: auto;
}
/*
=====
LinkedIn
=====
*/

.linkedin{
  width: 100%;
  background-color: #f0f0f0;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

.linkedin__container{
  max-width: 1000px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;  
}

.linkedin__text{
  margin-top: 0;
  margin-bottom: 0;
}

.linkedin__link{
  color: #ff5c5c;
}