<footer id="footer">
  <div class="footer-content">
    <ul>
      <li><a href="about.html">關於我們</a></li>
      <li><a href="privacy.html">使用條款與隱私政策</a></li>
      <li><a href="contact.html">聯絡我們</a></li>
    </ul>
    <p>Copyright <span class="getYear"></span> <span>SunGirl</span> All Rights Reserved.</p>
  </div>
</footer>