@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?15um4z');
  src:  url('fonts/icomoon.eot?15um4z#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?15um4z') format('truetype'),
    url('fonts/icomoon.woff?15um4z') format('woff'),
    url('fonts/icomoon.svg?15um4z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-uniE908:before {
  content: "\e908";
}
.icon-daily:before {
  content: "\e953";
}
.icon-fasion:before {
  content: "\e954";
}
.icon-food:before {
  content: "\e955";
}
.icon-game:before {
  content: "\e956";
}
.icon-lipstick:before {
  content: "\e957";
}
.icon-pizza:before {
  content: "\e958";
}
.icon-travel:before {
  content: "\e959";
}
.icon-share-fb:before {
  content: "\e952";
}
.icon-pinterest:before {
  content: "\e94e";
}
.icon-pinterest2:before {
  content: "\e94f";
}
.icon-mail:before {
  content: "\e950";
}
.icon-line:before {
  content: "\e951";
}
.icon-question:before {
  content: "\e94d";
}
.icon-snow:before {
  content: "\e94c";
}
.icon-arrow-right:before {
  content: "\e94a";
}
.icon-arrow-left:before {
  content: "\e94b";
}
.icon-shopping:before {
  content: "\e949";
}
.icon-local:before {
  content: "\e93d";
}
.icon-crown:before {
  content: "\e948";
}
.icon-P_news:before {
  content: "\e946";
}
.icon-sheep-nav:before {
  content: "\e947";
}
.icon-news:before {
  content: "\e945";
}
.icon-bag:before {
  content: "\e944";
}
.icon-live:before {
  content: "\e943";
}
.icon-clock:before {
  content: "\e942";
}
.icon-privacy:before {
  content: "\e941";
}
.icon-about:before {
  content: "\e93f";
}
.icon-contact:before {
  content: "\e940";
}
.icon-new:before {
  content: "\e93e";
}
.icon-favorite:before {
  content: "\e93c";
}
.icon-showlist:before {
  content: "\e93b";
}
.icon-nav-tv:before {
  content: "\e93a";
}
.icon-atm:before {
  content: "\e936";
}
.icon-credit:before {
  content: "\e937";
}
.icon-store:before {
  content: "\e938";
}
.icon-union:before {
  content: "\e939";
}
.icon-crown-1:before {
  content: "\e933";
}
.icon-crown-2:before {
  content: "\e934";
}
.icon-crown-3:before {
  content: "\e935";
}
.icon-r1:before {
  content: "\e932";
}
.icon-bikini:before {
  content: "\e92f";
}
.icon-plane:before {
  content: "\e930";
}
.icon-strawberry:before {
  content: "\e931";
}
.icon-prevBtn:before {
  content: "\e92d";
}
.icon-nextBtn:before {
  content: "\e92e";
}
.icon-like:before {
  content: "\e92c";
}
.icon-sound:before {
  content: "\e92b";
}
.icon-play2:before {
  content: "\e92a";
}
.icon-youku2:before {
  content: "\e929";
}
.icon-shoe:before {
  content: "\e928";
}
.icon-airpay:before {
  content: "\e924";
}
.icon-pay2:before {
  content: "\e925";
}
.icon-paypal:before {
  content: "\e926";
}
.icon-wec:before {
  content: "\e927";
}
.icon-upside:before {
  content: "\e920";
}
.icon-rightside:before {
  content: "\e921";
}
.icon-downside:before {
  content: "\e922";
}
.icon-in:before {
  content: "\e923";
}
.icon-P_gift:before {
  content: "\e91d";
}
.icon-P_video:before {
  content: "\e91e";
}
.icon-P_photo:before {
  content: "\e91f";
}
.icon-eye:before {
  content: "\e91c";
}
.icon-share-line:before {
  content: "\e919";
}
.icon-share-link:before {
  content: "\e91a";
}
.icon-share-pin:before {
  content: "\e91b";
}
.icon-link:before {
  content: "\e918";
}
.icon-top:before {
  content: "\e917";
}
.icon-camera:before {
  content: "\e916";
}
.icon-info:before {
  content: "\e915";
}
.icon-home:before {
  content: "\e914";
}
.icon-tag:before {
  content: "\e912";
}
.icon-me:before {
  content: "\e913";
}
.icon-meipai2:before {
  content: "\e911";
}
.icon-share-youku:before {
  content: "\e90f";
}
.icon-share-youtube:before {
  content: "\e910";
}
.icon-meipai .path1:before {
  content: "\e902";
  color: rgb(0, 0, 0);
}
.icon-meipai .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-nav-language:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e900";
}
.icon-nav-album:before {
  content: "\e903";
}
.icon-nav-cup:before {
  content: "\e904";
}
.icon-nav-download:before {
  content: "\e905";
}
.icon-nav-loup:before {
  content: "\e906";
}
.icon-nav-video:before {
  content: "\e907";
}
.icon-share-ig:before {
  content: "\e909";
}
.icon-share-vimeo:before {
  content: "\e90a";
}
.icon-share-twitter:before {
  content: "\e90b";
}
.icon-share-weibo:before {
  content: "\e90c";
}
.icon-share-youtu:before {
  content: "\e90d";
}
